<div class="monster-container flex-col">
    <div class="left-monster-container">
        <img class="monster-image {{#if this.useTokenArt}}token{{/if}}" src="{{this.img}}" data-action="imagePopout" />

        <div class="monster-left-data {{PF2EBTToggleContainer this.user this.ac}}" data-action="toggleRevealed" data-path="ac" data-name="{{localize "PF2EBestiary.Miscellaneous.AC"}}" data-vague-property="ac">
            <div class="flex-data">
                <i class="fa-solid fa-fw fa-shield-halved"></i>
                <div>{{localize "PF2EBestiary.Miscellaneous.AC"}}</div>
            </div>
            <div class="flex-value">{{#if (or this.ac.revealed this.user.isGM)}}{{PF2EBTMonsterValue this.ac this.vagueDescriptions.ac}}{{else}}?{{/if}}</div>
        </div>

         <div class="monster-left-data {{PF2EBTToggleContainer this.user this.hp}}" data-action="toggleRevealed" data-path="hp" data-name="{{localize "PF2EBestiary.Miscellaneous.HP"}}" data-vague-property="hp">
            <div class="flex-data">
                <i class="fa-solid fa-fw fa-shield-halved"></i>
                <div>{{localize "PF2EBestiary.Miscellaneous.HP"}}</div>
            </div>
            <div class="flex-value">{{#if (or this.hp.revealed this.user.isGM)}}{{PF2EBTMonsterValue this.hp this.vagueDescriptions.hp}}{{else}}?{{/if}}</div>
        </div>

        <div class="flexcol">
            <div class="monster-left-data">
                <div class="bestiary-fakable-container">
                    <div class="flex-data">
                        <i class="fa-solid fa-fw fa-ankh"></i>
                        <div>{{localize "PF2EBestiary.Miscellaneous.Immunities"}}</div>
                    </div>
                    <i class="fa-solid fa-user-secret pf2e-bestiary-clickable-icon" data-action="createMisinformation" data-path="immunities" data-name="Immunity" title="{{localize "PF2EBestiary.Bestiary.Misinformation.AddMisinformation"}}"></i>
                </div>
            </div>
            <div class="monster-data-list {{#if (not this.user.isGM)}}no-gap{{/if}}">
                {{#if (and (not this.user.isGM) (and (eq this.immunities.revealed 2) (or (eq this.immunities.values.length 0) this.immunities.fake)))}}
                    <div>{{localize "PF2EBestiary.Miscellaneous.None"}}</div>
                {{else}}
                    {{#if (and (not this.user.isGM) (eq this.immunities.revealed 0))}}
                        <div>?</div>
                    {{else}}
                        {{#each this.immunities.values as |immunity key|}}
                            {{#if (or ../user.isGM (and (not ../immunities.fake) immunity.revealed))}}
                                <div class="{{PF2EBTToggleContainer ../user immunity}}" data-action="toggleRevealed" data-path="{{concat 'immunities.values.' key}}" data-parent="immunities" data-fake="{{immunity.fake}}">{{immunity.value}}</div>
                                {{#if (and (not ../user.isGM) (gt ../this.immunities.currentRevealed immunity.index))}},&nbsp;{{/if}}
                            {{/if}}
                        {{/each}}
                    {{/if}}
                {{/if}}

            </div>
        </div>

        <div class="flexcol">
            <div class="monster-left-data">
                <div class="bestiary-fakable-container">
                    <div class="flex-data">
                        <i class="fa-solid fa-fw fa-heart-broken"></i>
                        <div>{{localize "PF2EBestiary.Miscellaneous.Weaknesses"}}</div>
                    </div>

                    <i class="fa-solid fa-user-secret pf2e-bestiary-clickable-icon" data-action="createMisinformation" data-path="weaknesses" data-name="Weakness" title="{{localize "PF2EBestiary.Bestiary.Misinformation.AddMisinformation"}}"></i>
                </div>
            </div>
            <div class="monster-data-list {{#if (not this.user.isGM)}}no-gap{{/if}}">
                {{#if (and (not this.user.isGM) (and (eq this.weaknesses.revealed 2) (or (eq this.weaknesses.values.length 0) this.weaknesses.fake)))}}
                    <div>{{localize "PF2EBestiary.Miscellaneous.None"}}</div>
                {{else}}
                    {{#if (and (not this.user.isGM) (eq this.weaknesses.revealed 0))}}
                        <div>?</div>
                    {{else}}
                        {{#each this.weaknesses.values as |weakness key|}}
                            {{#if (or ../user.isGM (and (not ../weaknesses.fake) weakness.revealed))}}
                                <div 
                                    class="{{PF2EBTToggleContainer ../user weakness}}{{#if (and (not ../user.isGM) ../vagueDescriptions.weaknesses)}}{{weakness.class}}{{/if}}" 
                                    data-action="toggleRevealed" 
                                    data-path="{{concat 'weaknesses.values.' key}}" 
                                    data-parent="weaknesses"
                                    data-fake="{{weakness.fake}}"
                                    title="{{PF2EBTCategoryClassTitle weakness.class 'Weakness' ../vagueDescriptions.weaknesses}}"
                                >
                                    {{PF2EBTMonsterValue weakness ../vagueDescriptions.weaknesses}}
                                </div>
                                {{#if (and (not ../user.isGM) (gt ../weaknesses.currentRevealed weakness.index))}},&nbsp;{{/if}}
                            {{/if}}
                        {{/each}}
                    {{/if}}
                {{/if}}

            </div>
        </div>

        <div class="flexcol">
            <div class="monster-left-data">
                <div class="bestiary-fakable-container">
                    <div class="flex-data">
                        <i class="fa-solid fa-fw fa-shield-virus"></i>
                        <div>{{localize "PF2EBestiary.Miscellaneous.Resistances"}}</div>
                    </div>

                    <i class="fa-solid fa-user-secret pf2e-bestiary-clickable-icon" data-action="createMisinformation" data-path="resistances" data-name="Resistance" title="{{localize "PF2EBestiary.Bestiary.Misinformation.AddMisinformation"}}"></i>
                </div>
            </div>
            <div class="monster-data-list {{#if (not this.user.isGM)}}no-gap{{/if}}">
                {{#if (and (not this.user.isGM) (and (eq this.resistances.revealed 2) (or (eq this.resistances.values.length 0) this.resistances.fake)))}}
                    <div>{{localize "PF2EBestiary.Miscellaneous.None"}}</div>
                {{else}}
                    {{#if (and (not this.user.isGM) (eq this.resistances.revealed 0))}}
                        <div>?</div>
                    {{else}}
                        {{#each this.resistances.values as |resistance key|}}
                            {{#if (or ../user.isGM (and (not ../resistances.fake) resistance.revealed))}}
                                <div 
                                    class="{{PF2EBTToggleContainer ../user resistance}}{{#if (and (not ../user.isGM) ../vagueDescriptions.resistances)}}{{resistance.class}}{{/if}}" 
                                    data-action="toggleRevealed" 
                                    data-path="{{concat 'resistances.values.' key}}" 
                                    data-parent="resistances"
                                    data-fake="{{resistance.fake}}"
                                    title="{{PF2EBTCategoryClassTitle resistance.class 'Resistance' ../vagueDescriptions.resistances}}"
                                >
                                    {{PF2EBTMonsterValue resistance ../vagueDescriptions.resistances}}
                                </div>
                                {{#if (and (not ../user.isGM) (gt ../this.resistances.currentRevealed resistance.index))}},&nbsp;{{/if}}
                            {{/if}}
                        {{/each}}
                    {{/if}}
                {{/if}}

            </div>
        </div>

        <div class="flexcol">
            <div class="monster-left-data">
                <div class="flex-data">
                    <i class="fa-solid fa-fw fa-heart-pulse"></i>
                    <div>{{localize "PF2EBestiary.Miscellaneous.Saves.Title"}}</div>
                </div>
            </div>
            <div class="saves-container">
                <div class="save-container">
                    <div class="saves-title {{PF2EBTToggleContainer this.user this.saves.fortitude}}" data-action="toggleRevealed" data-path="saves.fortitude" data-name="{{localize "PF2EBestiary.Miscellaneous.Saves.Fortitude.Short"}}" data-vague-property="saves">{{localize "PF2EBestiary.Miscellaneous.Saves.Fortitude.Short"}}</div>
                    <div class="saves-value">{{#if (or this.user.isGM this.saves.fortitude.revealed)}}{{PF2EBTMonsterValue this.saves.fortitude this.vagueDescriptions.saves}}{{else}}?{{/if}}</div>
                </div>
                <div class="save-container">
                    <div class="saves-title {{PF2EBTToggleContainer this.user this.saves.reflex}}" data-action="toggleRevealed" data-path="saves.reflex" data-name="{{localize "PF2EBestiary.Miscellaneous.Saves.Reflex.Short"}}" data-vague-property="saves">{{localize "PF2EBestiary.Miscellaneous.Saves.Reflex.Short"}}</div>
                    <div class="saves-value">{{#if (or this.user.isGM this.saves.reflex.revealed)}}{{PF2EBTMonsterValue this.saves.reflex this.vagueDescriptions.saves}}{{else}}?{{/if}}</div>
                </div>
                <div class="save-container">
                    <div class="saves-title {{PF2EBTToggleContainer this.user this.saves.will}}" data-action="toggleRevealed" data-path="saves.will" data-name="{{localize "PF2EBestiary.Miscellaneous.Saves.Will.Short"}}" data-vague-property="saves">{{localize "PF2EBestiary.Miscellaneous.Saves.Will.Short"}}</div>
                    <div class="saves-value">{{#if (or this.user.isGM this.saves.will.revealed)}}{{PF2EBTMonsterValue this.saves.will this.vagueDescriptions.saves}}{{else}}?{{/if}}</div>
                </div>
            </div>
        </div>
        <div class="flexcol">
            <div class="monster-left-data">
                <div class="flex-data">
                    <i class="fa-solid fa-fw fa-shoe-prints"></i>
                    <div>{{localize "PF2EBestiary.Miscellaneous.Speeds"}}</div>
                </div>
            </div>
            <div class="speeds-container">
                {{#if (and (not this.user.isGM) (eq this.speeds.revealed 0))}}
                    ?
                {{else}}
                    {{#each this.speeds.values as |speed key|}}
                        {{#if (or ../user.isGM speed.revealed)}}
                            <div class="speed-container {{#if ../user.isGM }}toggle-container {{#if speed.revealed}}revealed{{/if}}{{else}}base-colour{{/if}}" data-action="toggleRevealed" data-path="{{concat 'speeds.values.' key}}" data-parent="speeds">
                                {{speed.name}}
                                {{#if (not ../vagueDescriptions.speed)}}{{speed.value}}{{/if}}
                            </div>
                         {{/if}}
                    {{/each}}
                {{/if}}
            </div>
        </div>
    </div>

    <div class="right-monster-container">
        <div class="flexcol">
            <div class="monster-name-container">
                <div class="monster-name {{PF2EBTToggleContainer this.user this.name}}" data-action="toggleRevealed" data-path="name" data-name="{{localize "PF2EBestiary.Miscellaneous.Name"}}">
                    {{#if (or this.user.isGM this.name.revealed)}}
                        {{PF2EBTTertiary this.name.custom this.name.value}}
                    {{else}}
                        {{localize "PF2EBestiary.Bestiary.Miscellaneous.UnknownCreature"}}
                    {{/if}}
                </div>
                <nav class="bestiary-tabs tabs">
                    {{#each this.tabs as |tab|}}
                        <a 
                            class="bestiary-tab {{tab.cssClass}}{{#if (and (not ../user.isGM) (and (eq tab.id 'lore') (and (not ../notes.public.revealed) (not ../notes.private.revealed))))}} empty{{/if}}" 
                            data-action="tab" 
                            data-group="{{tab.group}}" 
                            data-tab="{{tab.id}}"
                        >
                            <i class="{{tab.icon}}"></i>
                            <label>{{tab.label}}</label>
                        </a>
                    {{/each}}
                </nav>

                <i class="fa-solid fa-reply monster-return-icon" data-action="returnButton" title="{{localize "PF2EBestiary.Bestiary.ReturnMessages.ReturnToCategory" type=(PF2EBTCaptialize this.selected.type)}}"></i>
            </div>
            <div class="monster-traits-row">
                <div class="monster-size">{{this.size}}</div>
                <div class="monster-traits flexrow">
                    {{#each this.traits.values as |trait key|}}
                        {{#if (or ../user.isGM trait.revealed)}}
                            <div class="monster-trait {{#if ../user.isGM }}toggle-container {{#if trait.revealed}}revealed{{/if}}{{else}}base-colour{{/if}}" data-action="toggleRevealed" data-path="{{concat 'traits.values.' key}}" data-parent="traits">
                                {{localize trait.value}}
                            </div>
                        {{/if}}
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="tab {{this.tabs.statistics.cssClass}}" data-group="primary" data-tab="statistics">
            <div class="right-monster-container-data">
                <div class="data-sections">
                    <div class="data-section">
                        <div class="data-header">
                            <div class="data-header-label">
                                <img class="data-icon" src="systems/pf2e/icons/default-icons/feat.svg" />
                                <div class="flex-value">{{localize "PF2EBestiary.Miscellaneous.Attributes"}}</div>
                            </div>
                        </div>
                        <div class="data-body">
                            <div class="abilities-container">
                                {{#each this.abilities.values as |ability key|}}
                                    <div class="ability-container {{PF2EBTToggleContainer ../user ability}}" data-action="toggleRevealed" data-path="{{concat 'abilities.values.' key}}" data-parent="abilities" data-name="{{localize "PF2EBestiary.Miscellaneous.Attributes"}}" data-vague-property="attributes">
                                        <div class="ability-label">{{localize ability.label}}</div>
                                        {{#if (or ../user.isGM ability.revealed)}}{{PF2EBTMonsterValue ability ../vagueDescriptions.attributes }}{{else}}?{{/if}}
                                    </div>
                                {{/each}}
                            </div>
                        </div>
                    </div>

                    <div class="data-section">
                        <div class="data-header">
                            <div class="bestiary-fakable-container">
                                <div class="data-header-label">
                                    <img class="data-icon" src="icons/svg/eye.svg" />
                                    <div class="flex-value">{{localize "PF2EBestiary.Miscellaneous.Senses"}}</div>
                                </div>

                                <i class="fa-solid fa-user-secret pf2e-bestiary-clickable-icon" data-action="createMisinformation" data-path="senses" data-name="Sense" title="{{localize "PF2EBestiary.Bestiary.Misinformation.AddMisinformation"}}"></i>
                            </div>
                        </div>
                        <div class="data-body pf2e-bestiary-standard-gap">
                            {{#if (and (not this.user.isGM) (eq this.senses.revealed 0))}}
                                ?
                            {{else}}
                                {{#each this.senses.values as |sense key|}}
                                    {{#if (or ../user.isGM sense.revealed)}}
                                        {{#if (eq key 'perception')}}
                                            <div class="flexrow {{PF2EBTToggleContainer ../user sense}}" data-action="toggleRevealed" data-path="senses.values.perception" data-parent="senses" data-name="Perception" data-vague-property="perception">
                                                <div class="pf2e-bestiary-bold">{{sense.label}}</div>
  
                                                    {{PF2EBTMonsterValue sense ../vagueDescriptions.perception }}
     
                                            </div>
                                        {{else}}
                                            <div class="flexrow {{PF2EBTToggleContainer ../user sense}}" data-action="toggleRevealed" data-path="{{concat 'senses.values.' key}}" data-parent="senses" data-fake="{{sense.fake}}">
                                                <div class="pf2e-bestiary-bold">{{sense.label}}</div>
                                                {{sense.value}}
                                            </div>
                                        {{/if}}
                                    {{/if}}
                                {{/each}}
                            {{/if}}
                            
                        </div>
                    </div>
                </div>

                <div class="data-section">
                    <div class="data-header">
                        <div class="bestiary-fakable-container">
                            <div class="data-header-label">
                                <img class="data-icon" src="icons/svg/combat.svg" />
                                <div class="flex-value">{{localize "PF2EBestiary.Miscellaneous.Attacks"}}</div>
                            </div>
                        
                            <i class="fa-solid fa-user-secret pf2e-bestiary-clickable-icon" data-action="createMisinformation" data-path="attacks" data-name="Attack" title="{{localize "PF2EBestiary.Bestiary.Misinformation.AddMisinformation"}}"></i>
                        </div>
                    </div>
                    <div class="data-body pf2e-bestiary-standard-gap">
                        {{#if (and (not this.user.isGM) (eq this.attacks.revealed 0))}}
                            ?
                        {{else}}
                            {{#each this.attacks.values as |attack key|}}
                                {{#if (or ../user.isGM attack.revealed)}}
                                    <div class="attack-container">
                                        <div class="attack-inner-container">
                                            <div class="attack-header {{PF2EBTToggleContainer ../user attack}}" data-action="toggleRevealed" data-path="{{concat 'attacks.values.' key}}" data-parent="attacks" data-fake="{{attack.fake}}">
                                                {{#if (not (eq attack.label 'None'))}}
                                                    <div>{{attack.range}}</div>
                                                    <span class="action-glyph">1</span>
                                                {{/if}}
                                                <div>{{attack.label}}</div>
                                                {{#if (gt (PF2EBTNrKeys attack.traits) 0)}}
                                                    <div class="attack-traits-container">(
                                                        {{#each attack.traits as |trait index|}}
                                                            <div class="attack-trait-label" title="{{localize trait.description}}">{{trait.label}}</div>
                                                            {{#if (not (eq (add index 1) ../traits.length))}},&nbsp;{{/if}} 
                                                        {{/each}}    
                                                    )</div>
                                                {{/if}}
                                            </div>
                                            {{#if (gt (PF2EBTNrKeys attack.variants.values) 0)}}
                                                <div class="attack-body">
                                                    {{#if (or ../user.isGM attack.variants.revealed)}}
                                                        {{#each attack.variants.values}}
                                                            <div class="attack-variant">{{this}}</div>
                                                        {{/each}}
                                                        <div class="attack-damage">{{attack.damage}}</div>
                                                    {{/if}}
                                                    {{#if (and ../user.isGM attack.revealed)}}<i class="pf2e-bestiary-clickable-icon {{#if attack.variants.revealed}}fa-solid fa-eye{{else}}fa-solid fa-eye-slash{{/if}}" data-action="toggleRevealed" data-path="{{concat 'attacks.values.' key '.variants'}}"></i>{{/if}}
                                                </div>
                                            {{/if}}
                                        </div>
                                    </div>
                                {{/if}}
                            {{/each}}
                        {{/if}}
                    </div>
                </div>

                <div class="data-section">
                    <div class="data-header">
                        <div class="bestiary-fakable-container">
                            <div class="data-header-label">
                                <img class="data-icon" src="icons/svg/explosion.svg" />
                                <div class="flex-value">{{localize "PF2EBestiary.Miscellaneous.Abilities"}}</div>
                            </div>

                            <i class="fa-solid fa-user-secret pf2e-bestiary-clickable-icon" data-action="createMisinformation" data-path="actions" data-name="Action" title="{{localize "PF2EBestiary.Bestiary.Misinformation.AddMisinformation"}}"></i>
                        </div>
                    </div>
                    <div class="data-body pf2e-bestiary-standard-gap">
                        {{#if (and (not this.user.isGM) (eq this.actions.revealed 0))}}
                            ?
                        {{else}}
                            {{#each this.actions.values as |action key|}}
                                {{#if (or ../user.isGM action.revealed)}}
                                    <div class="actions-container {{PF2EBTToggleContainer ../user action}}" data-action="toggleRevealed" data-path="{{concat 'actions.values.' key}}" data-parent="actions" data-fake="{{action.fake}}">
                                        <div class="action-container">
                                            <div class="{{#if (not (eq action.name 'None'))}}action-name{{/if}}" data-action="toggleAbility" data-ability="{{action.uuid}}">{{action.name}}</div>
                                            <span class="action-glyph">{{#if action.actions}}{{action.actions}}{{else}}{{#if (not (eq action.name 'None'))}}R{{/if}}{{/if}}</span>
                                        </div>
                                        <div class="action-description {{#if (includes ../selected.abilities action.uuid)}}expanded{{/if}}">
                                            {{{action.description}}}
                                        </div>
                                    </div>
                                {{/if}}
                            {{/each}}
                        {{/if}}
                    </div>
                </div>

                <div class="data-section">
                    <div class="data-header">
                        <div class="bestiary-fakable-container">
                            <div class="data-header-label">
                                <img class="data-icon" src="icons/svg/paralysis.svg" />
                                <div class="flex-value">{{localize "PF2EBestiary.Miscellaneous.Passives"}}</div>
                            </div>

                            <i class="fa-solid fa-user-secret pf2e-bestiary-clickable-icon" data-action="createMisinformation" data-path="passives" data-name="Passive" title="{{localize "PF2EBestiary.Bestiary.Misinformation.AddMisinformation"}}"></i>
                        </div>
                    </div>
                    <div class="data-body pf2e-bestiary-standard-gap">
                        {{#if (and (not this.user.isGM) (eq this.passives.revealed 0))}}
                            ?
                        {{else}}
                            {{#each this.passives.values as |passive key|}}
                                {{#if (or ../user.isGM passive.revealed)}}
                                    <div class="actions-container {{PF2EBTToggleContainer ../user passive}}" data-action="toggleRevealed" data-path="{{concat 'passives.values.' key}}" data-parent="passives" data-fake="{{passive.fake}}">
                                        <div class="action-container">
                                            <div class="{{#if (not (eq passive.name 'None'))}}action-name{{/if}}" data-action="toggleAbility" data-ability="{{passive.uuid}}">{{passive.name}}</div>
                                        </div>
                                        <div class="action-description {{#if (includes ../selected.abilities passive.uuid)}}expanded{{/if}}">
                                            {{{passive.description}}}
                                        </div>
                                    </div>
                                {{/if}}
                            {{/each}}
                        {{/if}}
                    </div>
                </div>
            </div>        
        </div>
        <div class="tab {{this.tabs.lore.cssClass}}" data-group="primary" data-tab="lore">
            <div class="bestiary-notes-page">
                <fieldset class="bestiary-notes-legend">
                    <legend class="{{#if this.user.isGM }}toggle-container {{#if this.notes.public.revealed}}revealed{{/if}}{{/if}}" data-action="toggleRevealed" data-path="notes.public">
                        {{localize "PF2EBestiary.Bestiary.Lore.Public"}}
                    </legend>

                    {{#if (or this.user.isGM this.notes.public.revealed)}}
                        {{{this.notes.public.text}}}
                    {{else}}
                        {{localize "PF2EBestiary.Bestiary.Miscellaneous.Unknown"}}
                    {{/if}}
                </fieldset>
                {{#if (or this.user.isGM this.notes.private.revealed)}}
                    <fieldset class="bestiary-notes-legend private">
                        <legend class="{{#if this.user.isGM }}toggle-container {{#if this.notes.private.revealed}}revealed{{/if}}{{/if}}" data-action="toggleRevealed" data-path="notes.private">
                            {{localize "PF2EBestiary.Bestiary.Lore.Private"}}
                        </legend>
                        
                        {{{this.notes.private.text}}}
                    </fieldset>
                {{/if}}
            </div>
        </div>
    </div>
</div>