<div class="monster-container flex-col">
    <div class="left-monster-container">
        <div class="monster-image-container">
            <img class="monster-image {{#if this.useTokenArt}}token{{/if}}" src="{{this.system.displayImage}}" data-action="imagePopout" />
            {{!-- {{#if this.isUnlinked}}<i class="fa-solid fa-link-slash unlinked-icon primary-hover-container" data-action="unlinkedDialog"></i>{{/if}} --}}
        </div>

        {{#if this.optionalFields.level}}
            <div class="monster-left-data primary-container {{PF2EBTToggleContainer this.user this.system.level}}" style="{{PF2EBTToggleContainerOverride this.contrastRevealedState this.system.level}}" data-action="toggleRevealed" data-path="system.level" data-name="{{localize "PF2EBestiary.Miscellaneous.Level"}}" data-vague-property="level">
                <div class="flex-data">
                    <i class="fa-solid fa-dragon"></i>    
                    <div class="pf2e-bestiary-bold">{{localize "PF2EBestiary.Miscellaneous.Level"}}</div>
                </div>
                <div class="flex-value">{{#if (or this.system.level.revealed this.user.isGM)}}{{PF2EBTMonsterValue this.system.level}}{{else}}?{{/if}}</div>
            </div>
        {{/if}}

        <div class="monster-left-data primary-container {{PF2EBTToggleContainer this.user this.system.ac}}" style="{{PF2EBTToggleContainerOverride this.contrastRevealedState this.system.ac}}" data-action="toggleRevealed" data-path="system.ac" data-name="{{localize "PF2EBestiary.Miscellaneous.AC"}}" data-vague-property="ac">
            <div class="flex-data">
                <i class="fa-solid fa-fw fa-shield-halved"></i>
                <div class="pf2e-bestiary-bold">{{localize "PF2EBestiary.Miscellaneous.AC"}}</div>
            </div>
            <div class="flex-value">{{#if (or this.system.ac.revealed this.user.isGM)}}{{PF2EBTMonsterValue this.system.ac this.vagueDescriptions.properties.ac}}{{else}}?{{/if}}</div>
        </div>

         <div class="monster-left-data primary-container {{PF2EBTToggleContainer this.user this.system.hp}}" style="{{PF2EBTToggleContainerOverride this.contrastRevealedState this.system.hp}}" data-action="toggleRevealed" data-path="system.hp" data-name="{{localize "PF2EBestiary.Miscellaneous.HP"}}" data-vague-property="hp">
            <div class="flex-data">
                <i class="fa-solid fa-heart health-icon"></i>
                <div class="pf2e-bestiary-bold">{{localize "PF2EBestiary.Miscellaneous.HP"}}</div>
            </div>
            <div class="flex-value">{{#if (or this.system.hp.revealed this.user.isGM)}}{{PF2EBTMonsterValue this.system.hp this.vagueDescriptions.properties.hp}}{{else}}?{{/if}}</div>
        </div>

        <div class="flexcol">
            <div class="monster-left-data bestiary-left-list primary-container list-container">
                <div class="bestiary-fakable-container">
                    <div class="flex-data primary-hover-container" data-action="toggleAllRevealed" data-path="system.immunities">
                        <i class="fa-solid fa-fw fa-ankh"></i>
                        <div class="pf2e-bestiary-bold">{{localize "PF2EBestiary.Miscellaneous.Immunities"}}</div>
                    </div>

                    {{#if this.user.isGM}}<i class="fa-solid fa-user-secret primary-hover-container" data-action="createMisinformation" data-path="system.immunities" data-name="Immunity" title="{{localize "PF2EBestiary.Bestiary.Misinformation.AddMisinformation"}}"></i>{{/if}}
                </div>
            </div>
            <div class="monster-data-list">
                {{#if this.user.isGM}}
                    {{#each this.system.immunities as |immunity key|}}
                        <div 
                            class="secondary-container {{PF2EBTToggleContainer ../user immunity}}" 
                            style="{{PF2EBTToggleContainerOverride ../contrastRevealedState immunity}}" 
                            data-action="toggleRevealed" 
                            data-path="{{concat 'system.immunities.' key}}" 
                            data-fake="{{immunity.fake}}">
                            {{localize immunity.label}}
                            {{#if (gt (PF2EBTNrKeys immunity.exceptions) 0)}}
                                <span>({{localize "PF2EBestiary.Miscellaneous.Except"}}</span>
                                {{#each immunity.exceptions as |exception index|}}
                                    <span>
                                        <span
                                            class="toggle-container inner {{#if ../../detailedInformation.exceptionsDouble}}detailed{{/if}} {{#if exception.revealed}}revealed{{/if}} {{#if ../../detailedInformation.exceptionsDouble}}primary-hover-container{{/if}}" 
                                            {{#if ../../detailedInformation.exceptionsDouble}}data-action="toggleRevealed"{{/if}}
                                            data-path="{{concat 'system.immunities.' @../key '.exceptions.' index}}"
                                        >{{localize exception.label}}</span>
                                        <span>{{exception.suffix}}</span>
                                    </span>
                                {{/each}}
                            {{/if}}
                        </div>
                    {{/each}}
                {{else}}
                    {{#PF2EBTFilter 'revealed' '?' 10 this.system.immunities }}
                        <div class="secondary-container {{PF2EBTToggleContainer ../user this}}" data-action="toggleRevealed" data-path="{{concat 'immunities.' @key}}" data-fake="{{this.fake}}">
                            {{localize this.label}}
                            {{#if (or (not ../detailedInformation.exceptionsDouble) (gt (PF2EBTNrKeys this.exceptions 'revealed') 0))}}
                                <span>({{localize "PF2EBestiary.Miscellaneous.Except"}}</span>
                                {{#PF2EBTFilter 'revealed' '' 0 this.exceptions ../detailedInformation.exceptionsDouble}}
                                    <span>
                                        {{localize this.label}}{{#if this.last}}){{/if}}{{#if (eq this.index (PF2EBTSub this.length 2))}}&nbsp;{{localize "PF2EBestiary.Miscellaneous.Or"}}{{else}}{{#if (lt this.index (PF2EBTSub this.length 2))}},{{/if}}{{/if}}
                                    </span>
                                {{/PF2EBTFilter}}
                            {{/if}}
                        </div>
                    {{/PF2EBTFilter}}
                {{/if}}
            </div>
        </div>

        <div class="flexcol">
            <div class="monster-left-data primary-container list-container">
                <div class="bestiary-fakable-container bestiary-left-list">
                    <div class="flex-data primary-hover-container" data-action="toggleAllRevealed" data-path="system.weaknesses">
                        <i class="fa-solid fa-fw fa-heart-broken"></i>
                        <div class="pf2e-bestiary-bold">{{localize "PF2EBestiary.Miscellaneous.Weaknesses"}}</div>
                    </div>

                    {{#if this.user.isGM}}<i class="fa-solid fa-user-secret primary-hover-container" data-action="createMisinformation" data-path="system.weaknesses" data-name="Weakness" title="{{localize "PF2EBestiary.Bestiary.Misinformation.AddMisinformation"}}"></i>{{/if}}
                </div>
            </div>
            <div class="monster-data-list">
                {{#if this.user.isGM}}
                    {{#each this.system.weaknesses as |weakness key|}}
                            <div 
                                class="secondary-container {{PF2EBTToggleContainer ../user weakness}}" 
                                style="{{PF2EBTToggleContainerOverride ../contrastRevealedState weakness}}"
                                data-action="toggleRevealed" 
                                data-path="{{concat 'system.weaknesses.' key}}" 
                                data-fake="{{weakness.fake}}"
                                title="{{PF2EBTCategoryClassTitle weakness.class 'Weakness' ../vagueDescriptions.properties.weaknesses}}"
                            >
                                {{localize weakness.label}}&nbsp;{{weakness.value}}
                                {{#if (gt (PF2EBTNrKeys weakness.exceptions) 0)}}
                                    <span>({{localize "PF2EBestiary.Miscellaneous.Except"}}</span>
                                    {{#each weakness.exceptions as |exception index|}}
                                        <span 
                                            class="toggle-container inner {{#if ../../detailedInformation.exceptionsDouble}}detailed{{/if}} {{#if exception.revealed}}revealed{{/if}} {{#if ../../detailedInformation.exceptionsDouble}}primary-hover-container{{/if}}" 
                                            {{#if ../../detailedInformation.exceptionsDouble}}data-action="toggleRevealed"{{/if}}
                                            data-path="{{concat 'system.weaknesses.' @../key '.exceptions.' index}}"
                                        >
                                            {{localize exception.label}}
                                        </span>
                                        {{exception.suffix}}
                                    {{/each}}
                                {{/if}}
                            </div>
                    {{/each}}
                {{else}}
                    {{#PF2EBTFilter 'revealed' '?' 10 this.system.weaknesses}}
                        <div 
                            class="secondary-container {{PF2EBTToggleContainer ../user this}}"
                            data-action="toggleRevealed" 
                            data-path="{{concat 'system.weaknesses.' @key}}" 
                            data-fake="{{this.fake}}"
                            title="{{PF2EBTCategoryClassTitle this.class 'Weakness' ../vagueDescriptions.properties.weaknesses}}"
                        >
                            {{localize this.label}} {{PF2EBTMonsterValue this ../vagueDescriptions.properties.weaknesses "true"}}
                            {{#if (or (not ../detailedInformation.exceptionsDouble) (gt (PF2EBTNrKeys this.exceptions 'revealed') 0))}}
                                <span>({{localize "PF2EBestiary.Miscellaneous.Except"}}</span>
                                {{#PF2EBTFilter 'revealed' '' 0 this.exceptions ../detailedInformation.exceptionsDouble}}
                                    <span>
                                        {{localize this.label}}{{#if this.last}}){{/if}}{{#if (eq this.index (PF2EBTSub this.length 2))}}&nbsp;{{localize "PF2EBestiary.Miscellaneous.Or"}}{{else}}{{#if (lt this.index (PF2EBTSub this.length 2))}},{{/if}}{{/if}}
                                    </span>
                                {{/PF2EBTFilter}}
                            {{/if}}
                        </div>
                    {{/PF2EBTFilter}}
                {{/if}}
            </div>
        </div>

        <div class="flexcol">
            <div class="monster-left-data primary-container list-container">
                <div class="bestiary-fakable-container bestiary-left-list">
                    <div class="flex-data primary-hover-container" data-action="toggleAllRevealed" data-path="system.resistances">
                        <i class="fa-solid fa-fw fa-shield-virus"></i>
                        <div class="pf2e-bestiary-bold">{{localize "PF2EBestiary.Miscellaneous.Resistances"}}</div>
                    </div>

                    {{#if this.user.isGM}}<i class="fa-solid fa-user-secret primary-hover-container" data-action="createMisinformation" data-path="system.resistances" data-name="Resistance" title="{{localize "PF2EBestiary.Bestiary.Misinformation.AddMisinformation"}}"></i>{{/if}}
                </div>
            </div>
            <div class="monster-data-list">
                {{#if this.user.isGM}}
                    {{#each this.system.resistances as |resistance key|}}
                            <div 
                                class="secondary-container {{PF2EBTToggleContainer ../user resistance}}" 
                                style="{{PF2EBTToggleContainerOverride ../contrastRevealedState resistance}}"
                                data-action="toggleRevealed" 
                                data-path="{{concat 'system.resistances.' key}}" 
                                data-fake="{{resistance.fake}}"
                                title="{{PF2EBTCategoryClassTitle resistance.class 'Resistance' ../vagueDescriptions.properties.resistances}}"
                            >
                                {{localize resistance.label}} {{PF2EBTMonsterValue resistance ../vagueDescriptions.properties.resistances "true"}}
                                {{#if (gt (PF2EBTNrKeys resistance.exceptions) 0)}}
                                    <span>({{localize "PF2EBestiary.Miscellaneous.Except"}}</span>
                                    {{#each resistance.exceptions as |exception index|}}
                                        <span 
                                            class="toggle-container inner {{#if ../../detailedInformation.exceptionsDouble}}detailed{{/if}} {{#if exception.revealed}}revealed{{/if}} {{#if ../../detailedInformation.exceptionsDouble}}primary-hover-container{{/if}}" 
                                            {{#if ../../detailedInformation.exceptionsDouble}}data-action="toggleRevealed"{{/if}}
                                            data-path="{{concat 'system.resistances.' @../key '.exceptions.' index}}"
                                        >
                                            {{localize exception.label}}
                                        </span>
                                        {{exception.suffix}}
                                    {{/each}}
                                {{/if}}
                                {{!-- {{#if (and (gt resistance.exceptions.length 0) (gt resistance.doubleVs.length 0))}};{{/if}} --}}
                                {{#if (gt (PF2EBTNrKeys resistance.doubleVs) 0)}}
                                    <span>{{#if (eq (PF2EBTNrKeys resistance.exceptions) 0)}}({{/if}}{{localize "PF2EBestiary.Miscellaneous.Double"}}</span>
                                    {{#each resistance.doubleVs as |double index|}}
                                        <span 
                                            class="toggle-container inner {{#if ../../detailedInformation.exceptionsDouble}}detailed{{/if}} {{#if double.revealed}}revealed{{/if}} {{#if ../../detailedInformation.exceptionsDouble}}primary-hover-container{{/if}}" 
                                            {{#if ../../detailedInformation.exceptionsDouble}}data-action="toggleRevealed"{{/if}}
                                            data-path="{{concat 'system.resistances.' @../key '.doubleVs.' index}}"
                                        >
                                            {{localize double.label}}
                                        </span>
                                        {{double.suffix}}
                                    {{/each}}
                                {{/if}}
                            </div>
                    {{/each}}
                {{else}}
                    {{#PF2EBTFilter 'revealed' '?' 10 this.system.resistances}}
                        <div 
                            class="secondary-container {{PF2EBTToggleContainer ../user this}}"
                            data-action="toggleRevealed" 
                            data-path="{{concat 'system.resistances.' @key}}" 
                            data-fake="{{this.fake}}"
                            title="{{PF2EBTCategoryClassTitle this.class 'Resistance' ../vagueDescriptions.properties.resistances}}"
                        >
                            {{localize this.label}} {{PF2EBTMonsterValue this ../vagueDescriptions.properties.resistances "true"}}
                            {{#if (gt (PF2EBTNrKeys this.exceptions 'revealed') 0)}}
                                <span>({{localize "PF2EBestiary.Miscellaneous.Except"}}</span>
                                {{#PF2EBTFilter 'revealed' '' 0 this.exceptions}}
                                    <span>
                                        {{localize this.label}}
                                    </span>
                                    {{this.suffix}}
                                {{/PF2EBTFilter}}
                            {{/if}}
                            
                            {{#if (gt (PF2EBTNrKeys this.doubleVs 'revealed') 0)}}
                                <span>{{#if (eq (PF2EBTNrKeys this.exceptions 'revealed') 0)}}({{/if}}{{localize "PF2EBestiary.Miscellaneous.Double"}}</span>
                                {{#PF2EBTFilter 'revealed' '' 0 this.doubleVs}}
                                    <span>
                                        {{localize this.label}}
                                    </span>
                                    {{this.suffix}}
                                {{/PF2EBTFilter}}
                            {{/if}}
                        </div>
                    {{/PF2EBTFilter}}
                {{/if}}
            </div>
        </div>

        <div class="flexcol">
            <div class="monster-left-data bestiary-left-list primary-container list-container">
                <div class="flex-data primary-hover-container" data-action="toggleAllRevealed" data-path="system.saves">
                    <i class="fa-solid fa-fw fa-heart-pulse"></i>
                    <div class="pf2e-bestiary-bold">{{localize "PF2EBestiary.Miscellaneous.Saves.Title"}}</div>
                </div>
            </div>
            <div class="saves-container">
                <div class="save-container">
                    <div class="saves-title secondary-container {{PF2EBTToggleContainer this.user this.system.saves.fortitude}}" style="{{PF2EBTToggleContainerOverride this.contrastRevealedState this.system.saves.fortitude}}" data-action="toggleRevealed" data-path="system.saves.fortitude" data-name="{{localize "PF2EBestiary.Miscellaneous.Saves.Fortitude.Short"}}" data-vague-property="saves">{{localize "PF2EBestiary.Miscellaneous.Saves.Fortitude.Short"}}</div>
                    <div class="saves-value">{{#if (or this.user.isGM this.system.saves.fortitude.revealed)}}{{PF2EBTMonsterValue this.system.saves.fortitude this.vagueDescriptions.properties.saves}}{{else}}?{{/if}}</div>
                </div>
                <div class="save-container">
                    <div class="saves-title secondary-container {{PF2EBTToggleContainer this.user this.system.saves.reflex}}" style="{{PF2EBTToggleContainerOverride this.contrastRevealedState this.system.saves.reflex}}" data-action="toggleRevealed" data-path="system.saves.reflex" data-name="{{localize "PF2EBestiary.Miscellaneous.Saves.Reflex.Short"}}" data-vague-property="saves">{{localize "PF2EBestiary.Miscellaneous.Saves.Reflex.Short"}}</div>
                    <div class="saves-value">{{#if (or this.user.isGM this.system.saves.reflex.revealed)}}{{PF2EBTMonsterValue this.system.saves.reflex this.vagueDescriptions.properties.saves}}{{else}}?{{/if}}</div>
                </div>
                <div class="save-container">
                    <div class="saves-title secondary-container {{PF2EBTToggleContainer this.user this.system.saves.will}}" style="{{PF2EBTToggleContainerOverride this.contrastRevealedState this.system.saves.will}}" data-action="toggleRevealed" data-path="system.saves.will" data-name="{{localize "PF2EBestiary.Miscellaneous.Saves.Will.Short"}}" data-vague-property="saves">{{localize "PF2EBestiary.Miscellaneous.Saves.Will.Short"}}</div>
                    <div class="saves-value">{{#if (or this.user.isGM this.system.saves.will.revealed)}}{{PF2EBTMonsterValue this.system.saves.will this.vagueDescriptions.properties.saves}}{{else}}?{{/if}}</div>
                </div>
            </div>
        </div>
        <div class="flexcol">
            <div class="monster-left-data bestiary-left-list primary-container list-container">
                <div class="flex-data primary-hover-container" data-action="toggleAllRevealed" data-path="system.speeds.values" data-type="speed">
                    <i class="fa-solid fa-fw fa-shoe-prints"></i>
                    <div class="pf2e-bestiary-bold">{{localize "PF2EBestiary.Miscellaneous.Speeds"}}</div>
                </div>
            </div>
            <div class="speeds-container">
                {{#if this.user.isGM}}
                    {{#each this.system.speeds.values as |speed key|}}
                        <div class="speed-container data-container toggle-container {{#if speed.revealed}}revealed{{/if}} secondary-container" style="{{PF2EBTToggleContainerOverride ../contrastRevealedState speed}}" data-action="toggleRevealed" data-path="{{concat 'system.speeds.values.' key}}">
                            {{speed.name}}
                            {{#if (not ../vagueDescriptions.properties.speed)}}{{speed.value}}{{/if}}
                        </div>
                    {{/each}}
                {{else}}
                    {{#PF2EBTFilter 'revealed' '?' 10 this.system.speeds.values}}
                        <div class="speed-container data-container secondary-container">
                            {{this.name}}
                            {{#if (not ../vagueDescriptions.properties.speed)}}{{this.value}}{{/if}}
                        </div>
                    {{/PF2EBTFilter}}
                {{/if}}
            </div>
        </div>
    </div>

    <div class="right-monster-container">
        <div class="flexcol">
            <div class="monster-name-container">
                <div class="monster-name primary-container {{PF2EBTToggleContainer this.user this.system.name}}" style="{{PF2EBTToggleContainerOverride this.contrastRevealedState this.system.name}}" data-action="toggleRevealed" data-path="system.name" data-name="{{localize "PF2EBestiary.Miscellaneous.Name"}}">
                    {{#if (or this.user.isGM this.system.name.revealed)}}
                        {{PF2EBTTertiary this.system.name.custom this.system.name.value}}
                    {{else}}
                        {{localize "PF2EBestiary.Bestiary.Miscellaneous.UnknownCreature"}}
                    {{/if}}
                </div>
                <div class="bestiary-toolbar-container">
                    {{#if this.npcData}}
                        <div class="toggle-switch-container">
                            <div class="toggle-switch">
                                <i class="fa-solid fa-user"></i>
                                <input type="checkbox" name="npcData.npcView" {{checked this.npcState.npcView}} title="{{localize "PF2EBestiary.Bestiary.NPC.NPCViewText"}}" />
                            </div>
                        </div>
                    {{/if}}
                    <nav class="bestiary-tabs tabs">
                        {{#each this.tabs as |tab|}}
                            <a 
                                class="
                                    bestiary-tab secondary-container primary-tab {{tab.cssClass}}
                                    {{#if (and (not ../user.isGM) (and (eq tab.id 'lore') (and (not ../notes.public.revealed) (not ../notes.private.revealed))))}} empty{{/if}}
                                    {{#if (and (not ../user.isGM) (eq tab.id 'spells'))}}
                                        {{#if (or (and ../spells.fake (not ../spells.fake.revealed)) (and (not ../spells.fake) (eq (PF2EBTNrKeys ../this.spells.entries 'revealed') 0)))}}
                                        empty
                                        {{/if}}
                                    {{/if}}
                                " 
                                data-action="tab" 
                                data-group="{{tab.group}}" 
                                data-tab="{{tab.id}}"
                            >
                                <i class="{{tab.icon}}"></i>
                                <label>{{tab.label}}</label>
                            </a>
                        {{/each}}
                    </nav>
                </div>
                <i class="fa-solid fa-reply monster-return-icon" data-action="returnButton" data-context-type="{{this.selected.type}}" title="{{localize "PF2EBestiary.Bestiary.ReturnMessages.ReturnToCategory" type=(PF2EBTCaptialize this.selected.type)}}"></i>
            </div>
            <div class="monster-traits-row primary-container">
                <div class="monster-size tertiary-container">{{this.system.sizeLabel}}</div>
                <div class="monster-traits flexrow">
                    {{#each this.system.traits as |trait key|}}
                        {{#if (or ../user.isGM trait.revealed)}}
                            <div class="monster-trait data-container secondary-container pf2e-bestiary-bold {{#if ../user.isGM }}toggle-container {{#if trait.revealed}}revealed{{/if}}{{/if}}" style="{{PF2EBTToggleContainerOverride ../contrastRevealedState trait}}" data-action="toggleRevealed" data-path="{{concat 'system.traits.' key}}">
                                {{localize trait.label}}
                            </div>
                        {{/if}}
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="tab {{this.tabs.statistics.cssClass}}" data-group="primary" data-tab="statistics">
            <div class="right-monster-container-data">
                <div class="data-sections">
                    <div class="data-section primary-container active">
                        <div class="data-header primary-container">
                            <div class="data-header-label primary-hover-container" data-action="toggleAllRevealed" data-path="system.abilities">
                                <img class="data-icon" src="systems/pf2e/icons/default-icons/feat.svg" />
                                <div class="flex-value">{{localize "PF2EBestiary.Miscellaneous.Attributes"}}</div>
                            </div>
                        </div>
                        <div class="data-body primary-border-container">
                            <div class="abilities-container">
                                {{#each this.system.abilities as |ability key|}}
                                    <div class="ability-container secondary-container {{PF2EBTToggleContainer ../user ability}}" style="{{PF2EBTToggleContainerOverride ../contrastRevealedState ability}}" data-action="toggleRevealed" data-path="{{concat 'system.abilities.' key}}" data-name="{{localize "PF2EBestiary.Miscellaneous.Attributes"}}" data-vague-property="attributes">
                                        <div class="ability-label">{{PF2EBTSlice (localize ability.label) 3}}</div>
                                        {{#if (or ../user.isGM ability.revealed)}}{{PF2EBTMonsterValue ability ../vagueDescriptions.properties.attributes "true" }}{{else}}?{{/if}}
                                    </div>
                                {{/each}}
                            </div>
                        </div>
                    </div>

                    <div class="data-section primary-container active">
                        <div class="data-header primary-container">
                            <div class="bestiary-fakable-container">
                                <div class="data-header-label primary-hover-container" data-action="toggleAllRevealed" data-path="system.senses.senses" data-type="senses">
                                    <img class="data-icon" src="icons/svg/eye.svg" />
                                    <div class="flex-value">{{localize "PF2EBestiary.Miscellaneous.Senses"}}</div>
                                </div>

                                {{#if this.user.isGM}}<i class="fa-solid fa-user-secret primary-hover-container" data-action="createMisinformation" data-path="system.senses.senses" data-name="Sense" title="{{localize "PF2EBestiary.Bestiary.Misinformation.AddMisinformation"}}"></i>{{/if}}
                            </div>
                        </div>
                        <div class="data-body primary-border-container pf2e-bestiary-standard-gap">
                            {{#if this.user.isGM}}
                                {{#each this.system.allSenses as |sense key|}}
                                    {{#if sense.isPerception}}
                                        <div class="flexrow secondary-container {{PF2EBTToggleContainer ../user sense}}" style="{{PF2EBTToggleContainerOverride ../contrastRevealedState sense}}" data-action="toggleRevealed" data-path="system.senses.perception" data-name="Perception" data-vague-property="perception">
                                            <div class="pf2e-bestiary-bold">{{localize sense.label}}</div>
                                            {{PF2EBTMonsterValue sense ../vagueDescriptions.properties.perception "true" }}
                                        </div>
                                    {{else}}
                                        {{#if sense.isDetails}}
                                            <div class="flexrow secondary-container {{PF2EBTToggleContainer ../user sense}}" style="{{PF2EBTToggleContainerOverride ../contrastRevealedState sense}}" data-action="toggleRevealed" data-path="system.senses.details" data-name="details" data-vague-property="details">
                                                <div class="pf2e-bestiary-bold">{{localize sense.label}}</div>
                                                {{PF2EBTMonsterValue sense ../vagueDescriptions.properties.perception }}
                                            </div>
                                        {{else}}
                                            <div class="flexrow secondary-container {{PF2EBTToggleContainer ../user sense}}" style="{{PF2EBTToggleContainerOverride ../contrastRevealedState sense}}" data-action="toggleRevealed" data-path="{{concat 'system.senses.senses.' key}}" data-fake="{{sense.fake}}">
                                                <div class="pf2e-bestiary-bold">{{localize sense.label}}</div>
                                                {{sense.value}}
                                            </div>
                                        {{/if}}
                                    {{/if}}
                                {{/each}}  
                            {{else}}
                                {{#PF2EBTFilter 'revealed' '?' 10 this.system.allSenses}}
                                    {{#if this.isPerception}}
                                        <div class="flexrow secondary-container {{PF2EBTToggleContainer ../user this}}">
                                            <div class="pf2e-bestiary-bold">{{localize this.label}}</div>
                                            {{PF2EBTMonsterValue this ../vagueDescriptions.properties.perception "true" }}
                                        </div>
                                    {{else}}
                                        {{#if this.isDetails}}
                                            <div class="flexrow secondary-container {{PF2EBTToggleContainer ../user this}}">
                                                <div class="pf2e-bestiary-bold">{{localize this.label}}</div>
                                            </div>
                                        {{else}}
                                            <div class="flexrow secondary-container {{PF2EBTToggleContainer ../user this}}">
                                                <div class="pf2e-bestiary-bold">{{localize this.label}}</div>
                                                {{this.value}}
                                            </div>
                                        {{/if}}
                                    {{/if}}
                                {{/PF2EBTFilter}}
                            {{/if}} 
                        </div>
                    </div>
                </div>
                {{#if this.optionalFields.languages}}
                    <div class="data-section primary-container active">
                        <div class="data-header primary-container">
                            <div class="bestiary-fakable-container">
                                <div class="data-header-label primary-hover-container" data-action="toggleAllRevealed" data-path="system.languages.values">
                                    <i class="fa-solid fa-book"></i>
                                    <div class="flex-value">{{localize "PF2EBestiary.Miscellaneous.Languages"}}</div>
                                </div>

                                {{#if this.user.isGM}}<i class="fa-solid fa-user-secret primary-hover-container" data-action="createMisinformation" data-path="system.languages.values" data-name="Languages" title="{{localize "PF2EBestiary.Bestiary.Misinformation.AddMisinformation"}}"></i>{{/if}}
                            </div>
                        </div>
                        <div class="data-body primary-border-container pf2e-bestiary-standard-gap">
                            <div class="data-chip-container flexrow">
                                {{#if this.user.isGM}}
                                    {{#each this.system.allLanguages as |language key|}}
                                        <div class="data-chip data-container secondary-container {{PF2EBTToggleContainer ../user language}}" style="{{PF2EBTToggleContainerOverride ../contrastRevealedState language}}" data-action="toggleRevealed" data-path="{{concat 'system.languages.values.' key}}" data-fake="{{language.fake}}">
                                            {{localize language.label}}
                                        </div>
                                    {{/each}}
                                {{else}}
                                    {{#PF2EBTFilter 'revealed' '?' 9 this.system.allLanguages}}
                                        <div class="data-chip data-container secondary-container" style="{{PF2EBTToggleContainerOverride ../contrastRevealedState this}}" data-action="toggleRevealed" data-path="{{concat 'system.languages.values.' @key}}">
                                            {{localize this.value}}
                                        </div>
                                    {{/PF2EBTFilter}}
                                {{/if}}
                            </div>
                        </div>
                    </div>
                {{/if}}

                <div class="data-section primary-container active">
                    <div class="data-header primary-container">
                        <div class="data-header-label primary-hover-container" data-action="toggleAllRevealed" data-path="system.skills">
                            <i class="fa-solid fa-medal"></i>
                            <div class="flex-value">{{localize "PF2EBestiary.Miscellaneous.Skills"}}</div>
                        </div>
                    </div>
                    <div class="data-body primary-border-container pf2e-bestiary-standard-gap">
                        <div class="data-chip-container flexrow">
                            {{#if this.user.isGM}}
                                {{#each this.system.skills as |skill key|}}
                                    <div class="data-chip data-container secondary-container {{PF2EBTToggleContainer ../user skill}}" style="{{PF2EBTToggleContainerOverride ../contrastRevealedState skill}}" data-action="toggleRevealed" data-path="{{concat 'system.skills.' key}}" data-name="Skills" data-vague-property="skills">
                                        {{localize skill.label}}&nbsp;{{PF2EBTMonsterValue skill ../vagueDescriptions.properties.skills "true" }}
                                    </div>
                                {{/each}}
                            {{else}}
                                {{#PF2EBTFilter 'revealed' '?' 9 this.system.skills}}
                                    <div class="data-chip data-container secondary-container" style="{{PF2EBTToggleContainerOverride ../contrastRevealedState this}}" data-action="toggleRevealed" data-path="{{concat 'system.skills.' @key}}">
                                        {{localize this.label}}&nbsp;{{PF2EBTMonsterValue this ../vagueDescriptions.properties.skills "true" }}
                                    </div>
                                {{/PF2EBTFilter}}
                            {{/if}}
                        </div>
                    </div>
                </div>

                <div class="data-section primary-container active">
                    <div class="data-header primary-container">
                        <div class="bestiary-fakable-container">
                            <div class="data-header-label primary-hover-container" data-action="toggleAllRevealed" data-path="system.attacks" data-type="attacks">
                                <img class="data-icon" src="icons/svg/combat.svg" />
                                <div class="flex-value">{{localize "PF2EBestiary.Miscellaneous.Attacks"}}</div>
                            </div>
                        
                            {{#if this.user.isGM}}<i class="fa-solid fa-user-secret primary-hover-container" data-action="createMisinformation" data-path="system.attacks" data-name="Attack" title="{{localize "PF2EBestiary.Bestiary.Misinformation.AddMisinformation"}}"></i>{{/if}}
                        </div>
                    </div>
                    <div class="data-body primary-border-container pf2e-bestiary-standard-gap">
                        {{#if this.user.isGM}}
                            {{#each this.system.attacks as |attack key|}}
                                <div class="attack-container">
                                    <div class="attack-inner-container">
                                        <div class="attack-header secondary-container {{PF2EBTToggleContainer ../user attack}}" style="{{PF2EBTToggleContainerOverride ../contrastRevealedState attack}}" data-action="toggleRevealed" data-path="{{concat 'system.attacks.' key}}" data-fake="{{attack.fake}}">
                                            {{#if (not (eq attack.label 'None'))}}
                                                <div>{{localize attack.range}}</div>
                                                <span class="action-glyph">1</span>
                                            {{/if}}
                                            <div>{{attack.label}}</div>
                                            {{#if (gt (PF2EBTNrKeys attack.traits) 0)}}
                                                <div class="attack-traits-container">(
                                                    {{#each attack.traits as |trait index|}}
                                                        <div 
                                                            class="attack-trait-label toggle-container inner {{#if ../../detailedInformation.attackTraits}}detailed{{/if}} {{#if trait.revealed}}revealed{{/if}} {{#if ../../detailedInformation.attackTraits}}primary-hover-container{{/if}}"
                                                            {{#if ../../detailedInformation.attackTraits}}data-action="toggleRevealed"{{/if}}
                                                            data-path="{{concat 'system.attacks.' @../key '.traits.' index}}"
                                                            title="{{localize trait.description}}"
                                                        >
                                                            {{localize trait.label}}
                                                        </div>
                                                        {{{trait.suffix}}}
                                                    {{/each}}    
                                                </div>
                                            {{/if}}
                                        </div>
                                        {{#if (gt (PF2EBTNrKeys attack.variants) 0)}}
                                            <div class="attack-body">
                                                {{#each attack.variants}}
                                                    <div class="attack-variant tertiary-container">{{this.label}}</div>
                                                {{/each}}
                                                {{#each this.damageInstances as |instance key|}}
                                                    <div class="attack-damage tertiary-container active">
                                                        <span>{{instance.damage.value}}</span>
                                                        &nbsp;
                                                        <span
                                                            class="attack-trait-label inner {{#if ../../detailedInformation.damageTypes}}detailed{{/if}} {{#if instance.damageType.revealed}}revealed {{/if}} {{#if ../../detailedInformation.damageTypes}}toggle-container primary-hover-container{{/if}}"
                                                            {{#if ../../detailedInformation.damageTypes}}data-action="toggleRevealed"{{/if}}
                                                            data-path="{{concat 'system.attacks.' @../key '.damageInstances.' key '.damageType'}}"
                                                        >
                                                            {{instance.damageType.value}}
                                                        </span>
                                                    </div>
                                                {{/each}}
                                                {{#if attack.revealed}}<i class="primary-hover-container {{#if attack.damageStatsRevealed}}fa-solid fa-eye{{else}}fa-solid fa-eye-slash{{/if}}" data-action="toggleRevealed" data-path="{{concat 'system.attacks.' key}}" data-key="damageStatsRevealed"></i>{{/if}}
                                            </div>
                                        {{/if}}
                                    </div>
                                </div>
                            {{/each}}
                        {{else}}
                            {{#PF2EBTFilter 'revealed' '?' 9 this.system.attacks}}
                                <div class="attack-container">
                                    <div class="attack-inner-container">
                                        <div class="attack-header secondary-container {{PF2EBTToggleContainer ../user this}}" data-action="toggleRevealed" data-path="{{concat 'system.attacks.' key}}" data-fake="{{this.fake}}">
                                            {{#if (not (eq this.label 'None'))}}
                                                <div>{{localize this.range}}</div>
                                                <span class="action-glyph">1</span>
                                            {{/if}}
                                            <div>{{localize this.label}}</div>
                                            {{#if (gt (PF2EBTNrKeys this.traits) 0)}}
                                                <div class="attack-traits-container">
                                                    {{#PF2EBTFilter 'revealed' '' 0 this.traits}}
                                                        <div class="attack-trait-label" title="{{localize this.description}}">
                                                            {{#if (eq this.index 0)}}({{/if}}{{localize this.label}}
                                                        </div>
                                                        {{{this.suffix}}}
                                                    {{/PF2EBTFilter}}    
                                                </div>
                                            {{/if}}
                                        </div>
                                        {{#if (gt (PF2EBTNrKeys this.variants) 0)}}
                                            <div class="attack-body">
                                                {{#if this.damageStatsRevealed}}
                                                    {{#if (or this.category this.missinformation)}}
                                                        <div class="attack-variant tertiary-container">{{PF2EBTMonsterValue this ../vagueDescriptions.properties.attacks }}</div>
                                                    {{else}}
                                                        {{#each this.variants}}
                                                            <div class="attack-variant tertiary-container">{{PF2EBTMonsterValue this ../vagueDescriptions.properties.attacks }}</div>
                                                        {{/each}}
                                                    {{/if}}
                                                    {{#if this.damageInstances}}
                                                        {{#each this.damageInstances}}
                                                            <div class="attack-damage tertiary-container active">
                                                                {{PF2EBTMonsterValue this.damage ../../vagueDescriptions.properties.damage }}
                                                                {{#if this.damageType.revealed}}
                                                                    &nbsp;
                                                                    <span>
                                                                        {{this.damageType.value}}
                                                                    </span>
                                                                {{/if}}
                                                            </div>
                                                        {{/each}}
                                                    {{/if}}
                                                {{/if}}
                                            </div>
                                        {{/if}}
                                    </div>
                                </div>
                            {{/PF2EBTFilter}}
                        {{/if}}
                    </div>
                </div>

                {{!-- <div class="data-section primary-container active">
                    <div class="data-header primary-container">
                        <div class="bestiary-fakable-container">
                            <div class="data-header-label primary-hover-container" data-action="toggleAllRevealed" data-path="items" data-type="actions">
                                <img class="data-icon" src="icons/svg/explosion.svg" />
                                <div class="flex-value">{{localize "PF2EBestiary.Miscellaneous.Abilities"}}</div>
                            </div>

                            {{#if this.user.isGM}}<i class="fa-solid fa-user-secret primary-hover-container" data-action="createMisinformation" data-path="items" data-name="Action" title="{{localize "PF2EBestiary.Bestiary.Misinformation.AddMisinformation"}}"></i>{{/if}}
                        </div>
                    </div>
                    <div class="data-body primary-border-container pf2e-bestiary-standard-gap">
                        {{#if this.user.isGM}}
                            {{#each this.actions as |action key|}}
                                <div class="actions-container secondary-container {{PF2EBTToggleContainer ../user action}}" style="{{PF2EBTToggleContainerOverride ../contrastRevealedState action}}" data-action="toggleRevealed" data-path="{{concat 'items.' key}}" data-fake="{{action.fake}}">
                                    <div class="action-container">
                                        <div class="pf2e-bestiary-bold {{#if (and (not (eq action.name 'None')) (gt action.description.length 0))}}action-name{{/if}}" data-action="toggleAbility" data-ability="{{action._id}}">{{action.name}}</div>
                                        <span class="action-glyph">{{#if (eq action.system.actionType.value 'free')}}F{{else}}{{#if (eq action.system.actionType.value 'reaction')}}R{{else}}{{action.system.actions.value}}{{/if}}{{/if}}</span>
                                        {{#if (gt (PF2EBTNrKeys action.traits) 0)}}
                                            <div class="attack-traits-container">(
                                                {{#each action.traits as |trait index|}}
                                                    <div 
                                                        class="attack-trait-label toggle-container inner {{#if trait.revealed}}revealed{{/if}} {{#if ../../detailedInformation.abilityTraits}}primary-hover-container{{/if}}"
                                                        {{#if ../../detailedInformation.abilityTraits}}data-action="toggleRevealed"{{/if}}
                                                        data-path="{{concat 'items.' @../key '.system.traits.value.' index}}"
                                                        title="{{localize trait.description}}"
                                                    >
                                                        {{trait.value}}
                                                    </div>
                                                    {{#if (not (eq (add index 1) ../traits.length))}},&nbsp;{{/if}} 
                                                {{/each}}    
                                            )</div>
                                        {{/if}}
                                    </div>
                                    <div class="action-description {{#if (includes ../selected.abilities action._id)}}expanded{{/if}}">
                                        {{{action.description}}}
                                    </div>
                                </div>
                            {{/each}}
                        {{else}} 
                            {{#PF2EBTFilter 'revealed' '?' 9 this.actions}}
                                <div class="actions-container secondary-container {{PF2EBTToggleContainer ../user this}}" data-action="toggleRevealed" data-path="{{concat 'items.' @key}}" data-fake="{{this.fake}}">
                                    <div class="action-container">
                                        <div 
                                            class="pf2e-bestiary-bold {{#if (and (not ../hideAbilityDescriptions) (and (not (eq this.name 'None')) (gt this.description.length 0)))}}action-name{{/if}}" 
                                            {{#if (not ../hideAbilityDescriptions)}}data-action="toggleAbility"{{/if}}
                                            data-ability="{{this._id}}"
                                        >
                                            {{this.name}}
                                        </div>
                                        <span class="action-glyph">{{#if this.system.actions.value}}{{this.system.actions.value}}{{else}}{{#if (not (eq this.name 'None'))}}R{{/if}}{{/if}}</span>
                                        {{#if (gt (PF2EBTNrKeys this.traits) 0)}}
                                            <div class="attack-traits-container">
                                                {{#PF2EBTFilter 'revealed' '' 0 this.traits}}
                                                    <div class="attack-trait-label" title="{{localize this.description}}">
                                                        {{#if (eq this.index 0)}}({{/if}}{{this.value}}{{#unless this.last}},&nbsp;{{/unless}}{{#if this.last}}){{/if}}
                                                    </div>
                                                {{/PF2EBTFilter}}    
                                            </div>
                                        {{/if}}
                                    </div>
                                    <div class="action-description {{#if (includes ../selected.abilities this._id)}}expanded{{/if}}">
                                        {{{this.description}}}
                                    </div>
                                </div>
                            {{/PF2EBTFilter}}
                        {{/if}}
                    </div>
                </div> --}}

                {{!-- <div class="data-section primary-container active">
                    <div class="data-header primary-container">
                        <div class="bestiary-fakable-container">
                            <div class="data-header-label primary-hover-container" data-action="toggleAllRevealed" data-path="items" data-type="passives">
                                <img class="data-icon" src="icons/svg/paralysis.svg" />
                                <div class="flex-value">{{localize "PF2EBestiary.Miscellaneous.Passives"}}</div>
                            </div>

                            {{#if this.user.isGM}}<i class="fa-solid fa-user-secret primary-hover-container" data-action="createMisinformation" data-path="items" data-name="Passive" title="{{localize "PF2EBestiary.Bestiary.Misinformation.AddMisinformation"}}"></i>{{/if}}
                        </div>
                    </div>
                    <div class="data-body primary-border-container pf2e-bestiary-standard-gap">
                        {{#if this.user.isGM}}
                            {{#each this.passives as |passive key|}}
                                <div class="actions-container secondary-container {{PF2EBTToggleContainer ../user passive}}" style="{{PF2EBTToggleContainerOverride ../contrastRevealedState passive}}" data-action="toggleRevealed" data-path="{{concat 'items.' key}}" data-fake="{{passive.fake}}">
                                    <div class="action-container">
                                        <div class="pf2e-bestiary-bold {{#if (and (not (eq passive.name 'None')) (gt passive.description.length 0))}}action-name{{/if}}" data-action="toggleAbility" data-ability="{{passive._id}}">{{passive.name}}</div>
                                        {{#if (gt (PF2EBTNrKeys passive.traits) 0)}}
                                            <div class="attack-traits-container">(
                                                {{#each passive.traits as |trait index|}}
                                                    <div 
                                                        class="attack-trait-label toggle-container inner {{#if trait.revealed}}revealed{{/if}} {{#if ../../detailedInformation.abilityTraits}}primary-hover-container{{/if}}"
                                                        {{#if ../../detailedInformation.abilityTraits}}data-action="toggleRevealed"{{/if}}
                                                        data-path="{{concat 'items.' @../key '.system.traits.value.' index}}"
                                                        title="{{localize trait.description}}"
                                                    >
                                                        {{trait.value}}
                                                    </div>
                                                    {{#if (not (eq (add index 1) ../traits.length))}},&nbsp;{{/if}} 
                                                {{/each}}    
                                            )</div>
                                        {{/if}}
                                    </div>
                                    <div class="action-description {{#if (includes ../selected.abilities passive._id)}}expanded{{/if}}">
                                        {{{passive.description}}}
                                    </div>
                                </div>
                            {{/each}}
                        {{else}}
                            {{#PF2EBTFilter 'revealed' '?' 9 this.passives}}
                                <div class="actions-container secondary-container {{PF2EBTToggleContainer ../user this}}" data-action="toggleRevealed" data-path="{{concat 'items.' @key}}" data-fake="{{this.fake}}">
                                    <div class="action-container">
                                        <div 
                                            class="pf2e-bestiary-bold {{#if (and (not ../hideAbilityDescriptions) (and (not (eq this.name 'None')) (gt this.description.length 0)))}}action-name{{/if}}" 
                                            {{#if (not ../hideAbilityDescriptions)}}data-action="toggleAbility"{{/if}}
                                            data-ability="{{this._id}}"
                                        >
                                            {{this.name}}
                                        </div>
                                        {{#if (gt (PF2EBTNrKeys this.traits) 0)}}
                                            <div class="attack-traits-container">
                                                {{#PF2EBTFilter 'revealed' '' 0 this.traits}}
                                                    <div class="attack-trait-label" title="{{localize this.description}}">
                                                        {{#if (eq this.index 0)}}({{/if}}{{this.value}}{{#unless this.last}},&nbsp;{{/unless}}{{#if this.last}}){{/if}}
                                                    </div>
                                                {{/PF2EBTFilter}}    
                                            </div>
                                        {{/if}}
                                    </div>
                                    <div class="action-description {{#if (includes ../selected.abilities this._id)}}expanded{{/if}}">
                                        {{{this.description}}}
                                    </div>
                                </div>
                            {{/PF2EBTFilter}}
                        {{/if}}
                    </div>
                </div> --}}
            </div>        
        </div>

        {{!-- <div class="tab {{this.tabs.spells.cssClass}} spells-tab" data-group="primary" data-tab="spells">
            {{#if (and (not this.user.isGM) this.spells.fake)}}
                {{#if this.spells.fake.revealed}}
                    <div class="spells-unknown">{{localize "PF2EBestiary.Miscellaneous.None"}}</div>
                {{else}}
                    <div class="spells-unknown">{{localize "PF2EBestiary.Bestiary.Miscellaneous.Unknown"}}...</div>
                {{/if}}
            {{/if}}
            {{#if (and this.user.isGM this.spells.fake)}}
                <div class="secondary-container {{PF2EBTToggleContainer this.user this.spells.fake}}" style="{{PF2EBTToggleContainerOverride this.contrastRevealedState this.spells.fake}}" data-action="toggleRevealed" data-path="items.Spells-None">{{localize "PF2EBestiary.Miscellaneous.None"}}</div>
            {{/if}}
            
            {{#if (and (not this.user.isGM) (and (not this.spells.fake) (eq (PF2EBTNrKeys this.spells.entries 'revealed') 0)))}}<div class="spells-unknown">{{localize "PF2EBestiary.Bestiary.Miscellaneous.Unknown"}}</div>{{/if}}

            {{#if (not this.spells.fake)}}
                {{#each this.spells.entries as |entry entryKey|}}
                    {{#if (or ../user.isGM entry.revealed)}}
                        <div class="data-section spell-section">
                            <div class="data-header primary-container">
                                <div class="bestiary-fakable-container">
                                    <div class="data-header-label">
                                        <div class="flex-value secondary-container {{PF2EBTToggleContainer ../user entry}}" style="{{PF2EBTToggleContainerOverride ../contrastRevealedState entry}}" data-action="toggleRevealed" data-path="{{concat "items." entryKey}}">{{entry.name}}</div>
                                        {{#if (or ../user.isGM entry.dc.revealed)}}
                                            <div 
                                                class="secondary-container {{PF2EBTToggleContainer ../user entry.dc}}" 
                                                style="{{PF2EBTToggleContainerOverride ../contrastRevealedState entry.dc}}" 
                                                data-action="toggleRevealed" 
                                                data-path="{{concat "items." entryKey ".system.spelldc.dc"}}">
                                                    DC:&nbsp;{{PF2EBTMonsterValue entry.dc ../vagueDescriptions.properties.spells}}
                                            </div>
                                        {{/if}}
                                        {{#if (or ../user.isGM entry.attack.revealed)}}
                                            <div 
                                                class="secondary-container {{PF2EBTToggleContainer ../user entry.attack}}" 
                                                style="{{PF2EBTToggleContainerOverride ../contrastRevealedState entry.attack}}" 
                                                data-action="toggleRevealed"
                                                data-path="{{concat "items." entryKey ".system.spelldc.value"}}">
                                                Attack:&nbsp;{{PF2EBTMonsterValue entry.attack ../vagueDescriptions.properties.spells}}
                                            </div>
                                        {{/if}}
                                    </div>
                                </div>
                            </div>
                            <div class="spell-list-container">   
                                <table>
                                    {{#each entry.levels}}
                                        {{#if (or ../../user.isGM this.revealed)}}
                                            <tr class="spell-header-row tertiary-container {{#if ../../user.isGM}}primary-hover-container{{/if}}" {{#if ../../user.isGM}}data-action="toggleAllRevealed"{{/if}} data-path="items" data-type="spell-level" data-entry-value="{{@../key}}" data-spell-level="{{this.level}}">
                                                <th class="spell-name-cell">{{this.label}}</th>
                                                <th class="spell-cell defense">{{localize "Defense"}}</th>
                                                <th class="spell-cell range">{{localize "Range"}}</th>
                                            </tr>
                                            {{#each this.spells}}
                                                {{#if (or ../../../user.isGM this.revealed)}}
                                                    <tr class="spell-body-row spell-container {{PF2EBTToggleContainer ../../../user this}} {{#if (eq (PF2EBTEven @key) 0)}}even{{/if}}" style="{{PF2EBTToggleContainerOverride ../../../contrastRevealedState this}}" data-action="toggleRevealed" data-path="{{concat "items." this.id}}">
                                                        <td class="spell-name-cell body actions-container">
                                                            <div class="spell-data-container">
                                                                <img src="{{this.img}}" />
                                                                <div class="cell-name primary-hover-container" data-action="toggleSpell" data-spell="{{this._id}}">{{this.name}}</div>
                                                                <div class="action-glyph">{{{this.actions}}}</div>
                                                            </div>
                                                        </td>
                                                        <td class="spell-cell defense">{{this.defense}}</td>
                                                        <td class="spell-cell range">{{this.range}}</td>
                                                    </tr>
                                                    <tr class="spell-body-row description" data-spell="{{this._id}}">
                                                        <td colspan="3">
                                                            <div class="spell-description">
                                                                {{{this.description.value}}}
                                                            </div>
                                                        </td>
                                                    </tr>
                                                {{/if}}
                                            {{/each}}
                                        {{/if}}
                                    {{/each}}
                                </table>
                            </div>
                        </div>
                    {{/if}}
                {{/each}}
            {{/if}}
        </div> --}}

        {{!-- <div class="tab {{this.tabs.lore.cssClass}}" data-group="primary" data-tab="lore">
            <div class="bestiary-notes-page">
                <fieldset class="bestiary-notes-legend main-border-container">
                    <legend class="data-container {{#if this.user.isGM }}toggle-container {{#if this.notes.public.revealed}}revealed{{/if}}{{/if}} primary-container" style="{{PF2EBTToggleContainerOverride this.contrastRevealedState this.notes.public}}" data-action="toggleRevealed" data-path="system.details.publicNotes">
                        {{localize "PF2EBestiary.Bestiary.Lore.Public"}}
                    </legend>

                    {{#if (or this.user.isGM this.notes.public.revealed)}}
                        {{{this.notes.public.text}}}
                    {{else}}
                        {{localize "PF2EBestiary.Bestiary.Miscellaneous.Unknown"}}...
                    {{/if}}
                </fieldset>
                {{#if (or this.user.isGM this.notes.private.revealed)}}
                    <fieldset class="bestiary-notes-legend main-border-container private">
                        <legend class="data-container {{#if this.user.isGM }}toggle-container {{#if this.notes.private.revealed}}revealed{{/if}}{{/if}} primary-container" style="{{PF2EBTToggleContainerOverride this.contrastRevealedState this.notes.private}}" data-action="toggleRevealed" data-path="system.details.privateNotes">
                            {{localize "PF2EBestiary.Bestiary.Lore.Private"}}
                        </legend>
                        
                        {{{this.notes.private.text}}}
                    </fieldset>
                {{/if}}
            </div>
        </div>

        <div class="tab {{this.tabs.notes.cssClass}}" data-group="primary" data-tab="notes">
            <div class="bestiary-notes-page">
                <fieldset class="bestiary-notes-legend player-notes main-border-container">
                    <legend>
                        <div class="data-container primary-container">{{localize "PF2EBestiary.Bestiary.PlayerNotes.Title"}}</div>
                    </legend>
                    <prose-mirror name="pageText" data-document-u-u-i-d="{{this.notes.player.document}}" value="{{this.notes.player.text}}" collaborate="true" toggled="true">
                        {{{this.notes.player.enriched}}}
                    </prose-mirror>
                </fieldset>
            </div>
        </div>  --}}
    </div>
</div>