<div class="monster-container flex-col">
    <div class="left-monster-container">
        <img class="monster-image" src="{{this.img}}" />

        <div class="monster-left-data {{#if this.user.isGM}}toggle-container {{#if this.ac.revealed}}revealed{{/if}}{{/if}}" data-action="toggleRevealed" data-path="ac">
            <div class="flex-data">
                <i class="fa-solid fa-fw fa-shield-halved"></i>
                <div>AC</div>
            </div>
            <div class="flex-value">{{#if (or this.ac.revealed this.user.isGM)}}{{this.ac.value}}{{else}}?{{/if}}</div>
        </div>

         <div class="monster-left-data {{#if this.user.isGM}}toggle-container {{#if this.hp.revealed}}revealed{{/if}}{{/if}}" data-action="toggleRevealed" data-path="hp">
            <div class="flex-data">
                <i class="fa-solid fa-fw fa-shield-halved"></i>
                <div>HP</div>
            </div>
            <div class="flex-value">{{#if (or this.hp.revealed this.user.isGM)}}{{this.hp.value}}{{else}}?{{/if}}</div>
        </div>

        <div class="flexcol">
            <div class="monster-left-data">
                <div class="flex-data">
                    <i class="fa-solid fa-fw fa-ankh"></i>
                    <div>Immunities</div>
                </div>
            </div>
            <div class="monster-data-list {{#if (not this.user.isGM)}}no-gap{{/if}}">
                {{#if (and (not this.user.isGM) (and (eq this.immunities.revealed 2) (or (eq this.immunities.values.length 0) this.immunities.fake)))}}
                    <div>None</div>
                {{else}}
                    {{#if (and (not this.user.isGM) (eq this.immunities.revealed 0))}}
                        <div>?</div>
                    {{else}}
                        {{#each this.immunities.values as |immunity key|}}
                            {{#if (or ../user.isGM (and (not ../immunities.fake) immunity.revealed))}}
                                <div class="{{#if ../user.isGM }}toggle-container {{#if immunity.revealed}}revealed{{/if}}{{/if}}" data-action="toggleRevealed" data-path="{{concat 'immunities.values.' key}}" data-parent="immunities">{{immunity.value}}</div>
                                {{#if (and (not ../user.isGM) (gt ../this.immunities.currentRevealed immunity.index))}},&nbsp;{{/if}}
                            {{/if}}
                        {{/each}}
                    {{/if}}
                {{/if}}

            </div>
        </div>

        <div class="flexcol">
            <div class="monster-left-data">
                <div class="flex-data">
                    <i class="fa-solid fa-fw fa-heart-broken"></i>
                    <div>Weaknesses</div>
                </div>
            </div>
            <div class="monster-data-list {{#if (not this.user.isGM)}}no-gap{{/if}}">
                {{#if (and (not this.user.isGM) (and (eq this.weaknesses.revealed 2) (or (eq this.weaknesses.values.length 0) this.weaknesses.fake)))}}
                    <div>None</div>
                {{else}}
                    {{#if (and (not this.user.isGM) (eq this.weaknesses.revealed 0))}}
                        <div>?</div>
                    {{else}}
                        {{#each this.weaknesses.values as |weakness key|}}
                            {{#if (or ../user.isGM (and (not ../weaknesses.fake) weakness.revealed))}}
                                <div class="{{#if ../user.isGM }}toggle-container {{#if weakness.revealed}}revealed{{/if}}{{/if}}" data-action="toggleRevealed" data-path="{{concat 'weaknesses.values.' key}}" data-parent="weaknesses">{{weakness.value}}</div>
                                {{#if (and (not ../user.isGM) (gt ../this.weaknesses.currentRevealed weakness.index))}},&nbsp;{{/if}}
                            {{/if}}
                        {{/each}}
                    {{/if}}
                {{/if}}

            </div>
        </div>

        <div class="flexcol">
            <div class="monster-left-data">
                <div class="flex-data">
                    <i class="fa-solid fa-fw fa-shield-virus"></i>
                    <div>Resistances</div>
                </div>
            </div>
            <div class="monster-data-list {{#if (not this.user.isGM)}}no-gap{{/if}}">
                {{#if (and (not this.user.isGM) (and (eq this.resistances.revealed 2) (or (eq this.resistances.values.length 0) this.resistances.fake)))}}
                    <div>None</div>
                {{else}}
                    {{#if (and (not this.user.isGM) (eq this.resistances.revealed 0))}}
                        <div>?</div>
                    {{else}}
                        {{#each this.resistances.values as |resistance key|}}
                            {{#if (or ../user.isGM (and (not ../resistances.fake) resistance.revealed))}}
                                <div class="{{#if ../user.isGM }}toggle-container {{#if resistance.revealed}}revealed{{/if}}{{/if}}" data-action="toggleRevealed" data-path="{{concat 'resistances.values.' key}}" data-parent="resistances">{{resistance.value}}</div>
                                {{#if (and (not ../user.isGM) (gt ../this.resistances.currentRevealed resistance.index))}},&nbsp;{{/if}}
                            {{/if}}
                        {{/each}}
                    {{/if}}
                {{/if}}

            </div>
        </div>

        <div class="flexcol">
            <div class="monster-left-data">
                <div class="flex-data">
                    <i class="fa-solid fa-fw fa-heart-pulse"></i>
                    <div>Saves</div>
                </div>
            </div>
            <div class="saves-container">
                <div class="save-container">
                    <div class="saves-title {{#if this.user.isGM }}toggle-container {{#if this.saves.fortitude.revealed}}revealed{{/if}}{{/if}}" data-action="toggleRevealed" data-path="saves.fortitude">Fort</div>
                    <div class="saves-value">{{#if (or this.user.isGM this.saves.fortitude.revealed)}}+{{this.saves.fortitude.value}}{{else}}?{{/if}}</div>
                </div>
                <div class="save-container">
                    <div class="saves-title {{#if this.user.isGM }}toggle-container {{#if this.saves.reflex.revealed}}revealed{{/if}}{{/if}}" data-action="toggleRevealed" data-path="saves.reflex">Ref</div>
                    <div class="saves-value">{{#if (or this.user.isGM this.saves.reflex.revealed)}}+{{this.saves.reflex.value}}{{else}}?{{/if}}</div>
                </div>
                <div class="save-container">
                    <div class="saves-title {{#if this.user.isGM }}toggle-container {{#if this.saves.will.revealed}}revealed{{/if}}{{/if}}" data-action="toggleRevealed" data-path="saves.will">Will</div>
                    <div class="saves-value">{{#if (or this.user.isGM this.saves.will.revealed)}}+{{this.saves.will.value}}{{else}}?{{/if}}</div>
                </div>
            </div>
        </div>
        <div class="flexcol">
            <div class="monster-left-data">
                <div class="flex-data">
                    <i class="fa-solid fa-fw fa-shoe-prints"></i>
                    <div>Speeds</div>
                </div>
            </div>
            <div class="speeds-container">
                {{#if (and (not this.user.isGM) (eq this.speeds.revealed 0))}}
                    ?
                {{else}}
                    {{#each this.speeds.values as |speed key|}}
                        {{#if (or ../user.isGM speed.revealed)}}
                            <div class="speed-container {{#if ../user.isGM }}toggle-container {{#if speed.revealed}}revealed{{/if}}{{else}}base-colour{{/if}}" data-action="toggleRevealed" data-path="{{concat 'speeds.values.' key}}" data-parent="speeds">
                                {{speed.name}}
                                {{speed.value}}
                            </div>
                         {{/if}}
                    {{/each}}
                {{/if}}
            </div>
        </div>
    </div>

    <div class="right-monster-container">
        <div class="monster-name">{{this.name}}</div>

        <div class="monster-traits-row">
            <div class="monster-size">{{this.size}}</div>
            <div class="monster-traits flexrow">
                {{#each this.traits.values as |trait key|}}
                    {{#if (or ../user.isGM trait.revealed)}}
                        <div class="monster-trait {{#if ../user.isGM }}toggle-container {{#if trait.revealed}}revealed{{/if}}{{else}}base-colour{{/if}}" data-action="toggleRevealed" data-path="{{concat 'traits.values.' key}}" data-parent="traits">
                            {{localize trait.value}}
                        </div>
                    {{/if}}
                {{/each}}
            </div>
        </div>

        <div class="data-sections">
            <div class="data-section">
                <div class="data-header">
                    <div class="data-header-label">
                        <i class="fa-solid fa-dumbbell"></i>
                        <div class="flex-value">Attribute Modifiers</div>
                    </div>
                    {{#if this.user.isGM}}<i class="pf2e-bestiary-clickable-icon {{#if this.abilities.revealed}}fa-solid fa-eye{{else}}fa-solid fa-eye-slash{{/if}}" data-action="toggleRevealed" data-path="abilities"></i>{{/if}}
                </div>
                <div class="data-body">
                    <div class="abilities-container">
                        {{#each this.abilities.values}}
                            <div class="ability-container">
                                <div class="ability-label">{{localize this.label}}</div>
                                {{#if (or ../abilities.revealed ../user.isGM)}}{{this.value}}{{else}}?{{/if}}
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>

            <div class="data-section">
                <div class="data-header">
                    <div class="data-header-label">
                        <img class="data-icon" src="icons/svg/eye.svg" />
                        <div class="flex-value">Senses</div>
                    </div>
                </div>
                <div class="data-body pf2e-bestiary-standard-gap">
                    {{#if (and (not this.user.isGM) (eq this.senses.revealed 0))}}
                        ?
                    {{else}}
                        {{#each this.senses.values as |sense key|}}
                            {{#if (or ../user.isGM sense.revealed)}}
                                <div class="flexrow {{#if ../user.isGM }}toggle-container {{#if sense.revealed}}revealed{{/if}}{{/if}}" data-action="toggleRevealed" data-path="{{concat 'senses.values.' key}}" data-parent="senses">
                                    <div class="pf2e-bestiary-bold">{{sense.label}}</div>
                                    {{sense.value}}
                                </div>
                            {{/if}}
                        {{/each}}
                    {{/if}}
                    
                </div>
            </div>
        </div>

        <div class="data-section">
            <div class="data-header">
                <div class="data-header-label">
                    <img class="data-icon" src="icons/svg/combat.svg" />
                    <div class="flex-value">Attacks</div>
                </div>
            </div>
            <div class="data-body">
                {{#each this.attacks}}
                    <div class="attack-container">
                        <div class="flex-col">
                            <div class="attack-header">
                                <div>{{this.range}}</div>
                                <span class="action-glyph">1</span>
                                <div>{{this.label}}</div>
                                <div class="attack-traits-container">(
                                    {{#each this.traits as |trait index|}}
                                        <div class="attack-trait-label" title="{{localize trait.description}}">{{trait.label}}</div>
                                        {{#if (not (eq (add index 1) ../this.traits.length))}},&nbsp;{{/if}} 
                                    {{/each}}    
                                )</div>
                            </div>
                            <div class="attack-body">
                                {{#each this.variants}}
                                    <div class="attack-variant">{{this}}</div>
                                {{/each}}
                                <div class="attack-damage">{{this.damage}}</div>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>

        <div class="data-section">
            <div class="data-header">
                <div class="data-header-label">
                    <img class="data-icon" src="icons/svg/explosion.svg" />
                    <div class="flex-value">Abilities</div>
                </div>
            </div>
            <div class="data-body">
                {{#each this.actions}}
                    <div class="actions-container">
                        <div class="action-container">
                            <div class="action-name" data-action="toggleAbility" data-ability="{{this.uuid}}">{{this.name}}</div>
                            <span class="action-glyph">{{#if this.actions}}{{else}}R{{/if}}</span>
                        </div>
                        <div class="action-description {{#if (includes ../selected.abilities this.uuid)}}expanded{{/if}}">
                            {{{this.description}}}
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>

        <div class="data-section">
            <div class="data-header">
                <div class="data-header-label">
                    <img class="data-icon" src="icons/svg/paralysis.svg" />
                    <div class="flex-value">Passives</div>
                </div>
            </div>
            <div class="data-body">
                {{#each this.passives}}
                    <div class="actions-container">
                        <div class="action-container">
                            <div class="action-name" data-action="toggleAbility" data-ability="{{this.uuid}}">{{this.name}}></div>
                        </div>
                        <div class="action-description {{#if (includes ../selected.abilities this.uuid)}}expanded{{/if}}">
                            {{{this.description}}}
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>