<div class="left-monster-container">
    <div class="monster-image-container">
        {{#if this.gmView}}<i class="monster-image-menu fa-solid fa-gears primary-hover-container" data-action="imageMenu"></i>{{/if}}
        <img class="monster-image primary-outline {{#if this.useTokenArt}}token{{/if}} {{PF2EBTImageState this.creatureData.system.imageState.hideState}}" src="{{this.creatureData.system.displayImage}}" data-action="imagePopout" />
    </div>
    <div class="tab minor {{this.tabs.generalSidebar.cssClass}}" data-group="npc" data-tab="generalSidebar">
        <div class="flexcol">
            {{#if this.optionalFields.height}}
                {{> "modules/pf2e-bestiary-tracking/templates/partials/toggleInputSection.hbs" icon="fa-solid fa-up-down" title="PF2EBestiary.Bestiary.NPC.Height" editMode=this.npcState.editMode path="system.npcData.general.height" data=this.general.height }}
            {{/if}}
            {{#if this.optionalFields.weight}}
                {{> "modules/pf2e-bestiary-tracking/templates/partials/toggleInputSection.hbs" icon="fa-solid fa-left-right" title="PF2EBestiary.Bestiary.NPC.Weight" editMode=this.npcState.editMode path="system.npcData.general.weight" data=this.general.weight }}
            {{/if}}
            <div class="flexcol flex1 data-section primary-container active">
                <div class="data-header secondary-container">
                    <div class="data-header-label">
                        <i class="fa-solid fa-chart-column secondary-icon"></i>
                        <div class="flex-value">{{localize "PF2EBestiary.Bestiary.NPC.Dispositions"}}</div>
                    </div>
                </div>
                <div class="data-body disposition-container primary-border-container flex1">
                    {{#each this.partyDispositions}}
                        <div class="disposition-inner-container">
                            <h4 class="disposition-label">{{this.name}}</h4>
                            {{#if ../npcState.editMode}}
                                <select class="data-input secondary-container" name="{{concat "system.npcData.general.disposition." this.id}}">
                                    {{selectOptions ../dispositions selected=this.value valueAttr="value" labelAttr="name" localize=true}}
                                </select>
                            {{else}}
                                <div class="disposition-label-container">
                                    {{#if (not (eq ../dispositionIcons.mode 2))}}<div>{{localize this.label}}</div>{{/if}}
                                    {{#if (gt ../dispositionIcons.mode 0)}}
                                        {{#with (lookup ../dispositionIcons.icons this.value)}}
                                            {{#if this.isIcon}}
                                                <i class="disposition-icon {{../../dispositionIcons.iconSize}} {{this.image}}"></i>
                                            {{else}}
                                                <img class="disposition-image {{../../dispositionIcons.iconSize}}" src="{{this.image}}" />
                                            {{/if}}
                                        {{/with}}
                                    {{/if}}
                                </div>
                            {{/if}}
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
    <div class="tab minor {{this.tabs.notes.cssClass}}" data-group="npc" data-tab="notes">
        <div class="flexcol">
            <div class="data-section full primary-container active">
                <div class="data-header primary-container">
                    <div class="data-header-label">
                        <i class="fa-solid fa-brain secondary-icon"></i>
                        <div class="flex-value">{{localize "PF2EBestiary.Bestiary.Miscellaneous.RecallKnowledgeAttempts"}}</div>
                    </div>
                </div>
                <div class="recall-knowledge-info-outer-container data-body primary-border-container pf2e-bestiary-standard-gap">
                    <div class="recall-knowledge-info-container">
                        {{#each this.creatureData.system.recallKnowledgeAttempts}}
                            <div class="flexcol">
                                <h4 class="recall-knowledge-label {{#if ../gmView}}primary-hover-container{{/if}}" {{#if ../gmView}}data-action="resetRecallAttempts" data-character="{{this.id}}"{{/if}}>
                                    {{this.name}}
                                </h4>
                                <div class="recall-knowledge-attempt-container">
                                    {{#each this.values}}
                                        <div class="recall-knowledge-attempt-inner-container">
                                            <label>#{{add @key 1}}</label>
                                            <div class="recall-knowledge-attempt primary-border-container {{#if ../../gmView}}primary-hover-container{{/if}}" {{#if ../../gmView}}{{#if (not (eq this.value 'none'))}}title="{{localize this.name}}"{{/if}} data-action="toggleRecallAttempt" data-character="{{../id}}" data-attempt="{{@key}}"{{/if}}>
                                                {{#if this.icon}}
                                                    {{#if ../../gmView}}
                                                        <i class="{{this.icon}}"></i>
                                                    {{else}}
                                                        <i class="fa-solid fa-x"></i>
                                                    {{/if}}
                                                {{/if}}
                                            </div>
                                        </div>
                                    {{/each}}
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab minor {{this.tabs.gm.cssClass}}" data-group="npc" data-tab="gm">
        <div class="data-section primary-container npc-players-container active">
            <div class="data-header primary-container" title="{{localize "PF2EBestiary.Bestiary.NPC.GMPlayersContainerTip"}}">
                <div class="data-header-label">
                    <i class="fa-solid fa-person-burst secondary-icon"></i>
                    <div class="flex-value">{{localize "PF2EBestiary.Bestiary.NPC.GMPlayersContainerTitle"}}</div>
                </div>
            </div>
            <div class="data-body primary-border-container flex1">
                <div class="npc-players-outer-container">
                    {{#each this.players}}
                        <div class="npc-players-inner-container" id="{{this.id}}">
                            <img class="primary-border-container" src="{{this.img}}" />
                            <div class="npc-players-name">{{this.name}}</div>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="right-monster-container">
    <div class="flexcol">
        <div class="monster-name-container">
            <div class="monster-name-inner-container">
                <div class="monster-name primary-container {{PF2EBTToggleContainer this.gmView this.creatureData.system.name}}" style="{{PF2EBTToggleContainerOverride this.gmView this.contrastRevealedState this.creatureData.system.name}}" data-action="toggleRevealed" data-path="system.name" data-name="{{localize "PF2EBestiary.Miscellaneous.Name"}}">
                    {{#if (or this.gmView this.creatureData.system.name.revealed)}}
                        {{PF2EBTTertiary this.creatureData.system.name.custom this.creatureData.system.name.value}}
                    {{else}}
                        {{localize "PF2EBestiary.Bestiary.Miscellaneous.UnknownCreature"}}
                    {{/if}}
                </div>
                {{#if (and this.creatureData.system.blurb.value (or this.gmView this.creatureData.system.blurb.revealed))}}
                    <div class="monster-name monster-name-blurb primary-container {{PF2EBTToggleContainer this.gmView this.creatureData.system.blurb}}" style="{{PF2EBTToggleContainerOverride this.gmView this.contrastRevealedState this.creatureData.system.blurb}}" data-action="toggleRevealed" data-path="system.blurb" data-name="{{localize "PF2EBestiary.Miscellaneous.Blurb"}}">
                        {{PF2EBTTertiary this.creatureData.system.blurb.custom this.creatureData.system.blurb.value}}
                    </div>
                {{/if}}
            </div>
            <div class="bestiary-toolbar-container">
                <div class="flexrow">
                    <div class="toggle-switch-container">
                        {{#if (not this.simple)}}
                            <div class="toggle-switch">
                                <i class="fa-solid fa-user"></i>
                                <input type="checkbox" name="npcData.npcView" {{checked this.npcState.npcView}} title="{{localize "PF2EBestiary.Bestiary.NPC.NPCViewText"}}" />
                            </div>
                        {{/if}}
                        {{#if this.gmView}}
                            <div class="toggle-switch">
                                <i class="fa-solid fa-screwdriver-wrench"></i>
                                <input type="checkbox" name="npcData.editMode" {{checked this.npcState.editMode}} title="{{localize "PF2EBestiary.Bestiary.NPC.EditModeText"}}" />
                            </div>
                            <div class="toggle-switch">
                                <i class="fa-solid fa-bug-slash"></i>
                                <input type="checkbox" name="system.npcData.simple" {{checked this.simple}} title="{{localize "PF2EBestiary.Bestiary.NPC.NPCSimpleText"}}" />
                            </div>
                        {{/if}}
                        <div class="toggleSwitch">
                            <i class="fa-solid fa-passport primary-hover-container" data-action="copyEntityLink" title="{{localize "PF2EBestiary.Bestiary.Info.BestiaryEntryLinkTip"}}"></i>
                        </div>
                    </div>
                </div>
                <nav class="bestiary-tabs tabs">
                    {{#each this.tabs as |tab|}}
                        {{#if (and (not tab.sidebar) (or ../gmView (not tab.hidden)))}}
                            <a 
                                class="bestiary-tab {{#if tab.hideable}}hideable{{/if}} secondary-container primary-tab {{tab.cssClass}}" 
                                data-action="tab" 
                                data-group="{{tab.group}}" 
                                data-tab="{{tab.id}}"
                                {{#if tab.hideable}}title="{{localize "PF2EBestiary.Bestiary.Tips.ToggleHideTabs"}}"{{/if}}
                            >
                                {{#if (and ../gmView tab.hideable)}}<i class="tab-hide-icon {{#if tab.hidden}}fa solid fa-eye-slash{{else}}fa-solid fa-eye{{/if}}"></i>{{/if}}
                                <i class="{{tab.icon}}"></i>
                                <label>{{tab.label}}</label>
                            </a>
                        {{/if}}
                    {{/each}}
                </nav>
            </div>
        </div>
        {{#if this.gmView}}
            <input class="npc-category-input primary-border-container" value="{{this.inputCategories}}" />
        {{/if}}
    </div>
    <div class="tab {{this.tabs.general.cssClass}}" data-group="npc" data-tab="general">
        <div class="right-monster-container-data flexcol">
            {{#if this.general.personality.data}}
                {{> "modules/pf2e-bestiary-tracking/templates/partials/pcPersonality.hbs" }}
            {{else}}
                {{> "modules/pf2e-bestiary-tracking/templates/partials/toggleTextSection.hbs" icon="fa-solid fa-user" title="PF2EBestiary.Bestiary.NPC.Personality" editMode=this.npcState.editMode path="system.npcData.general.personality" data=this.general.personality }}
            {{/if}}
            {{> "modules/pf2e-bestiary-tracking/templates/partials/toggleTextSection.hbs" icon="fa-solid fa-person-rays" title="PF2EBestiary.Bestiary.NPC.Appearance" editMode=this.npcState.editMode path="system.npcData.general.appearance" data=this.general.appearance }}
            <div class="flexcol flex1 data-section primary-container active">
                <div class="data-header primary-container">
                    <div class="data-header-inner">
                        <div class="data-header-label {{#if this.gmView}}{{PF2EBTToggleContainer this.gmView this.general.background}}{{/if}}" style="{{PF2EBTToggleContainerOverride this.gmView this.contrastRevealedState this.general.background}}" data-action="toggleRevealed" data-path="system.npcData.general.background">
                            <i class="header-icon fa-solid fa-house-chimney primary-icon"></i>
                            <div class="flex-value">{{localize "PF2EBestiary.Bestiary.NPC.Background"}}</div>
                        </div>
                        {{#if (and this.optionalFields.birthplace)}}
                            <div class="data-header-label {{#if this.gmView}}{{PF2EBTToggleContainer this.gmView this.general.birthplace}}{{/if}}" style="{{PF2EBTToggleContainerOverride this.gmView this.contrastRevealedState this.general.birthplace}}" data-action="toggleRevealed" data-path="system.npcData.general.birthplace">
                                <div class="flex-value"><strong>{{localize "Birthplace"}}:</strong></div>
                                {{#if (or this.gmView this.general.birthplace.revealed)}}<div>{{this.general.birthplace.value}}</div>{{else}}?{{/if}}
                            </div>
                        {{/if}}
                    </div>
                    {{#if (and this.gmView this.npcState.editMode)}}
                        <i class="fa-solid fa-pen-to-square primary-hover-container" data-action="useEditTextDialog" data-path="system.npcData.general.background.value" data-title="{{localize "PF2EBestiary.Bestiary.NPC.Background"}}"></i>
                    {{/if}}
                </div>
                <div class="data-body primary-border-container flex1">
                    {{#if (or this.gmView this.general.background.revealed)}}{{{this.general.background.enrichedValue}}}{{else}}?{{/if}}
                </div>
            </div>
        </div>
    </div>
    <div class="tab {{this.tabs.influence.cssClass}}" data-group="npc" data-tab="influence">
        <div class="right-npc-container-data flexcol">
            <div class="flexcol data-section primary-container influence-event-container active">
                <div class="data-header primary-container">
                    <div class="data-header-label">
                        <i class="fa-solid fa-comments"></i>
                        <div class="flex-value">{{localize "PF2EBestiary.Bestiary.NPC.InfluenceEvents"}}</div>
                    </div>
                    {{#if this.npcState.editMode}}
                        <div class="influence-header-toolbar">
                            <button class="secondary-container" data-action="addInfluenceEvent">{{localize "PF2EBestiary.Bestiary.NPC.CreateInfluenceEvent"}}</button>
                            <button class="secondary-container" data-action="linkExistingInfluenceEvent">{{localize "PF2EBestiary.Bestiary.NPC.AddExistingInfluenceEvent"}}</button>
                        </div>
                    {{/if}}
                </div>
                <div class="data-body primary-border-container flex1">
                    <div class="influence-cards">
                        {{#each this.influenceEvents}}
                            {{#if (or ../gmView (not this.hidden))}}
                                <div class="influence-card secondary-container primary-border-container primary-hover-container" data-action="openInfluenceEvent" data-event="{{this.id}}">
                                    <div class="influence-card-title">{{this.name}}</div>
                                    <img src="{{this.img}}" />
                                    <button class="influence-card-reveal-button secondary-container primary-hover-container" data-action="influenceToggleHidden" data-event="{{this.id}}"><i class="fa-solid {{#if this.hidden}}fa-eye-slash{{else}}fa-eye{{/if}}"></i></button>
                                    {{#if ../npcState.editMode}}<button class="influence-card-delete-button secondary-container primary-hover-container" data-action="removeInfluenceEvent" data-event="{{this.id}}" title="{{localize "PF2EBestiary.Bestiary.NPC.UnlinkInfluenceEvent"}}"><i class="fa-solid fa-link-slash"></i></button>{{/if}}
                                </div>
                            {{/if}}
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab {{this.tabs.notes.cssClass}}" data-group="npc" data-tab="notes">
            <div class="bestiary-notes-page">
            <fieldset class="bestiary-notes-legend player-notes primary-container-faded">
                <legend>
                    <div class="data-container primary-container">{{localize "PF2EBestiary.Bestiary.PlayerNotes.Title"}}</div>
                </legend>
                <prose-mirror class="primary-editor" name="system.notes.player.value" data-document-u-u-i-d="{{this.creatureData.uuid}}" value="{{this.creatureData.system.notes.player.value}}" collaborate="true" toggled="true">
                    {{{this.creatureData.system.notes.player.enriched}}}
                </prose-mirror>
            </fieldset>
        </div>
    </div> 
    <div class="tab {{this.tabs.gm.cssClass}}" data-group="npc" data-tab="gm">
        <div class="bestiary-notes-page">
            <fieldset class="bestiary-notes-legend gm-notes primary-container-faded">
                <legend title="{{localize "PF2EBestiary.Bestiary.NPC.GMTextZoneTip"}}">
                    <div class="data-container primary-container">{{localize "PF2EBestiary.Bestiary.GMNotes.Title"}}</div>
                </legend>
                <prose-mirror class="primary-editor" name="system.notes.gm.value" data-document-u-u-i-d="{{this.creatureData.uuid}}" value="{{this.creatureData.system.notes.gm.value}}" toggled="true">
                    {{{this.creatureData.system.notes.gm.enriched}}}
                </prose-mirror>
            </fieldset>
        </div>
    </div> 
</div>