<div class="flexcol data-section primary-container active">
    <div class="data-header primary-container {{PF2EBTToggleContainer this.user data}}" data-action="toggleRevealed" data-path="{{path}}">
        <div class="data-header-label">
            <i class="header-icon {{icon}}"></i>
            <div class="flex-value">{{localize title}}</div>
        </div>
        {{#if (and this.user.isGM editMode)}}
            <input type="text" value="{{data.value}}" name="{{concat path ".value"}}" />
        {{else}}
            {{#if (or this.user.isGM data.revealed)}}{{{data.value}}}{{else}}?{{/if}}
        {{/if}}
    </div>
</div>