<div class="flexcol data-section primary-container active">
    <div class="data-header primary-container">
        <div class="data-header-label {{#if this.gmView}}{{PF2EBTToggleContainer this.user data}}{{/if}}" style="{{PF2EBTToggleContainerOverride this.contrastRevealedState data}}" data-action="toggleRevealed" data-path="{{path}}">
            <i class="header-icon primary-icon {{icon}}"></i>
            <div class="flex-value">{{localize title}}</div>
        </div>
        {{#if (and this.gmView editMode)}}
            <i class="fa-solid fa-pen-to-square primary-hover-container" data-action="useEditTextDialog" data-path="{{concat path ".value"}}" data-title="{{localize title}}"></i>
        {{/if}}
    </div>
    <div class="data-body primary-border-container flex1">
        {{#if (or this.gmView (and data.revealed data.enrichedValue))}}{{{data.enrichedValue}}}{{else}}?{{/if}}
    </div>
</div>