<div>
    <div class="actor-settings-container">
        <fieldset>
            <legend><h4 class="pf2e-bestiary-clickable-icon" data-action="toggleSettings">{{localize "PF2EBestiary.ActorLinkSettingsMenu.ImportSettings"}}</h4></legend>

            <div class="flexcol">
                <div class="form-group">
                    <label>{{localize "PF2EBestiary.ActorLinkSettingsMenu.General"}}</label>
                    <div class="form-fields">
                        <input type="checkbox" name="settings.general" {{checked this.settings.general}} />
                    </div>
                </div>
                <div class="form-group">
                    <label>{{localize "PF2EBestiary.ActorLinkSettingsMenu.Influence"}}</label>
                    <div class="form-fields">
                        <input type="checkbox" name="settings.influence" {{checked this.settings.influence}} />
                    </div>
                </div>
                <div class="form-group">
                    <label>{{localize "PF2EBestiary.ActorLinkSettingsMenu.Notes"}}</label>
                    <div class="form-fields">
                        <input type="checkbox" name="settings.notes" {{checked this.settings.notes}} />
                    </div>
                </div>
                <div class="form-group">
                    <label>{{localize "PF2EBestiary.ActorLinkSettingsMenu.GM"}}</label>
                    <div class="form-fields">
                        <input type="checkbox" name="settings.gm" {{checked this.settings.gm}} />
                    </div>
                </div>
            </div>
        </fieldset>
        
        <footer>
            <button data-action="save">{{localize "PF2EBestiary.ActorLinkSettingsMenu.Import"}}</button>
            <button data-action="close">{{localize "PF2EBestiary.Miscellaneous.Close"}}</button>
        </footer>
    </div>
</div>