<div>
    {{#if (and this.selected.type (not this.selected.monster))}}
        <header class="bestiary-header">
            <div class="return-container" data-action="returnButton" data-context-type="{{this.selected.type}}">
                <i class="fa-solid fa-reply"></i>
                {{localize "PF2EBestiary.Bestiary.ReturnMessages.ReturnToWelcome"}}
            </div>
            <div class="bestiary-toolbar">
                <div class="bestiary-layout-settings secondary-container">
                    <i class="fa-solid fa-table-cells-large primary-hover-container {{#if (eq this.layout.categories.layout 0)}}selected{{/if}}" data-action="setCategoriesLayout" data-option="0"></i>
                    <i class="fa-solid fa-table-cells primary-hover-container {{#if (eq this.layout.categories.layout 1)}}selected{{/if}}" data-action="setCategoriesLayout" data-option="1"></i>
                    <i class="fa-solid fa-maximize primary-hover-container {{#if (eq this.layout.categories.layout 2)}}selected{{/if}}" data-action="setCategoriesLayout" data-option="2"></i>
                </div>
                <div class="bestiary-filter-container secondary-container">
                    <i class="primary-hover-container fa-solid {{#if (eq this.layout.categories.filter.direction 0)}}fa-arrow-up-z-a{{else}}fa-arrow-down-z-a{{/if}}" data-action="toggleFilterDirection"></i>
                </div>
                <div class="bestiary-search-container">
                    <i class="fa-solid fa-magnifying-glass search-icon"></i>
                    <input class="secondary-container" type="text" name="search.name" value="{{this.search.name}}" />
                    {{#if search.name}}<i class="fa-solid fa-circle-xmark clear-icon primary-hover-container" data-action="clearSearch"></i>{{/if}}
                </div>
            </div>
        </header>
    {{/if}}
    <body>
        {{#if (not this.selected.type)}}
            <div class="bestiary-main-page">
                <div class="main-page-category-container">
                    <div class="main-page-top-row">
                        <div class="main-page-category-card">
                            <div class="main-page-category-image-container secondary-border-container">
                                <img src="icons/creatures/magical/humanoid-silhouette-green.webp" />
                                <h4 class="main-page-category-label primary-container">{{localize "Creatures"}}</h4>
                            </div>
                        </div>
                        <div class="main-page-category-card">
                            <div class="main-page-category-image-container secondary-border-container inactive">
                                <img src="icons/environment/people/group.webp" class="inactive" />
                                <h4 class="main-page-category-label primary-container inactive">{{localize "NPC Gallery"}}</h4>
                            </div>
                            <i class="fa-solid fa-lock under-development primary-icon"></i>
                        </div>
                    </div>
                    <div class="main-page-bottom-row">
                        <div class="main-page-category-card">
                            <div class="main-page-category-image-container secondary-border-container inactive">
                                <img src="icons/environment/traps/trap-jaw-steel.webp" class="inactive" />
                                <h4 class="main-page-category-label primary-container inactive">{{localize "Hazards"}}</h4>
                            </div>
                            <i class="fa-solid fa-lock under-development primary-icon"></i>
                        </div>
                    </div>
                </div>

                <div class="bestiary-welcome">
                    <h3 class="title">{{localize "PF2EBestiary.Bestiary.Welcome.Greeting"}}</h3> 
                    <div class="sub-title">{{localize "PF2EBestiary.Bestiary.Welcome.PlayersSection.Title"}}</div>
                    <ul>
                        <li>{{localize "PF2EBestiary.Bestiary.Welcome.PlayersSection.NavigationTip"}}</li>
                        <li>{{localize "PF2EBestiary.Bestiary.Welcome.PlayersSection.MacroTip"}}</li>
                    </ul>

                    <div class="sub-title">
                        <div>{{localize "PF2EBestiary.Bestiary.Welcome.GMsSection.Title"}}</div>
                    </div>
                    <ul>
                        <li>{{localize "PF2EBestiary.Bestiary.Welcome.GMsSection.AddCreaturesTip"}}</li>
                        <li>{{localize "PF2EBestiary.Bestiary.Welcome.GMsSection.ModuleSettingsTip"}}</li>
                        <li><span class="pf2e-bestiary-bold">{{localize "PF2EBestiary.Bestiary.Miscellaneous.LeftClick"}}:&nbsp;</span>{{localize "PF2EBestiary.Bestiary.Welcome.GMsSection.ToggleInformationTip"}}</li>
                        <li><span class="pf2e-bestiary-bold">{{localize "PF2EBestiary.Bestiary.Miscellaneous.RightClick"}}:&nbsp;</span>{{localize "PF2EBestiary.Bestiary.Welcome.GMsSection.ToggleMisinformationTip"}}</li>
                    </ul>
                </div>
            </div>
        {{else}}
            {{#if this.selected.monster}}
                {{#with this.selected.monster}}
                    {{> "modules/pf2e-bestiary-tracking/templates/partials/monsterView.hbs" 
                        selected=../selected 
                        user=../user 
                        vagueDescriptions=../vagueDescriptions 
                        tabs=../tabs 
                        useTokenArt=../useTokenArt 
                        optionalFields=../optionalFields 
                        contrastRevealedState =../contrastRevealedState 
                        detailedInformation = ../detailedInformation
                    }}
                {{/with}}
            {{else}}
                <div class="type-overview-container">
                    {{#if (eq (PF2EBTNrKeys this.openType) 0)}}
                        {{#if (eq this.selected.type 'unknown')}}
                            {{localize "PF2EBestiary.Bestiary.CategoryView.UnknownText" category=this.selected.type}}
                        {{else}}
                            {{localize "PF2EBestiary.Bestiary.CategoryView.EmptyText" category=this.selected.type}}
                        {{/if}}
                    {{else}}
                        {{#each this.openType as |type key|}}
                            <div class="type-container primary-container {{#if (eq ../layout.categories.layout 1)}}trio{{/if}}{{#if (eq ../layout.categories.layout 2)}}quarter{{/if}}" data-action="selectMonster" data-monster="{{type.uuid}}">
                                <img src="{{type.img}}" />
                                <div class="type-text-container">
                                    {{#if type.name.revealed}}
                                        {{PF2EBTTertiary type.name.custom type.name.value}}
                                    {{else}}
                                        {{#if ../user.isGM}}
                                            {{type.name.value}}
                                        {{else}}
                                            {{localize "PF2EBestiary.Bestiary.Miscellaneous.UnknownCreature"}}
                                        {{/if}}
                                    {{/if}}
                                </div>

                                {{#if ../user.isGM}}<i class="fa-solid fa-delete-left delete-button" data-action="removeMonster" data-monster="{{type.uuid}}"></i>{{/if}}
                            </div>
                        {{/each}}
                    {{/if}}
                </div>
            {{/if}}
        {{/if}}
    </body>
    <div class="right-bookmark-container">
        {{#each bestiary.monster as |type key|}}
            <div class="bookmark primary-container {{#if (eq ../selected.type key)}} active expanded{{/if}}{{#if (eq (PF2EBTNrKeys type.values) 0)}} empty{{else}} active{{/if}}" data-action="selectBookmark" data-bookmark="{{key}}">
                {{type.name}}
            </div>
        {{/each}}
    </div>
</div>