<div>
    <header>
        <div>
            {{#if this.returnMessage}}
                <div class="return-container" data-action="returnButton">
                    <i class="fa-solid fa-reply"></i>
                    {{this.returnMessage}}
                </div>
            {{/if}}
        </div>
        <div>
            {{#if (and this.selected.type (not this.selected.monster))}}
                <div class="bestiary-search-container">
                    <i class="fa-solid fa-magnifying-glass search-icon"></i>
                    <input type="text" name="search.name" value="{{this.search.name}}" />
                    {{#if search.name}}<i class="fa-solid fa-circle-xmark clear-icon pf2e-bestiary-clickable-icon" data-action="clearSearch"></i>{{/if}}
                </div>
            {{/if}}
        </div>
    </header>
    <body>
            {{#if (not this.selected.type)}}
                <div class="bestiary-welcome">
                    <h3 class="title">{{localize "PF2EBestiary.Bestiary.Welcome.Greeting"}}</h3> 
                    <div class="sub-title">{{localize "PF2EBestiary.Bestiary.Welcome.PlayersSection.Title"}}</div>
                    <ul>
                        <li>{{localize "PF2EBestiary.Bestiary.Welcome.PlayersSection.NavigationTip"}}</li>
                        <li>{{localize "PF2EBestiary.Bestiary.Welcome.PlayersSection.MacroTip"}}</li>
                    </ul>

                    <div class="sub-title">
                        <div>{{localize "PF2EBestiary.Bestiary.Welcome.GMsSection.Title"}}</div>
                        {{#if this.user.isGM}}<button class="bestiary-reset" data-action="resetBestiary" title="Reset Bestiary"><i class="fa-solid fa-link-slash"></i></button>{{/if}}
                    </div>
                    <ul>
                        <li>{{localize "PF2EBestiary.Bestiary.Welcome.GMsSection.AddCreaturesTip"}}</li>
                        <li>{{localize "PF2EBestiary.Bestiary.Welcome.GMsSection.ModuleSettingsTip"}}</li>
                        <li>{{localize "PF2EBestiary.Bestiary.Welcome.GMsSection.ToggleInformationTip"}}</li>
                    </ul>
                </div>
            {{else}}
                {{#if this.selected.monster}}
                    {{#with this.selected.monster}}
                        {{> "modules/pf2e-bestiary-tracking/templates/partials/monsterView.hbs" selected=../selected user=../user vagueDescriptions=../vagueDescriptions }}
                    {{/with}}
                {{else}}
                    <div class="type-overview-container">
                        {{#if (eq (PF2EBTNrKeys this.openType) 0)}}
                            {{localize "PF2EBestiary.Bestiary.CategoryView.EmptyText" category=this.selected.type}}
                        {{else}}
                            {{#each this.openType as |type key|}}
                                <div class="type-container" data-action="selectMonster" data-monster="{{key}}">
                                    <img src="{{type.img}}" />
                                    <div class="type-text-container">{{#if (or ../this.user.isGM type.name.revealed)}}{{PF2EBTTertiary type.name.custom type.name.value}}{{else}}{{localize "PF2EBestiary.Bestiary.Miscellaneous.UnknownCreature"}}{{/if}}</div>

                                    {{#if ../user.isGM}}<i class="fa-solid fa-delete-left delete-button" data-action="removeMonster" data-monster="{{key}}"></i>{{/if}}
                                </div>
                            {{/each}}
                        {{/if}}
                    </div>
                {{/if}}
            {{/if}}
    </body>
    <div class="right-bookmark-container">
        {{#each bestiary.monster as |type key|}}
            <div class="bookmark{{#if (eq ../selected.type key)}} selected{{/if}}{{#if (eq (PF2EBTNrKeys type) 0)}} empty{{/if}}" data-action="selectBookmark" data-bookmark="{{key}}">
                {{key}}
            </div>
        {{/each}}
    </div>
</div>