<div class="primary-text-container">
    {{#if this.selected.type}}
        <header class="bestiary-header">
            <div class="return-container text-shadow-container" data-action="returnButton" data-context-type="{{this.selected.type}}">
                <i class="fa-solid fa-reply"></i>
                {{this.returnLabel}}
            </div>
            {{#if (not this.selected.monster)}}
                <div class="bestiary-toolbar">
                    <div class="bestiary-layout-settings secondary-container">
                        <i class="fa-solid fa-table-cells-large primary-hover-container secondary-icon {{#if (eq this.layout.categories.layout 0)}}selected{{/if}}" data-action="setCategoriesLayout" data-option="0"></i>
                        <i class="fa-solid fa-table-cells primary-hover-container secondary-icon {{#if (eq this.layout.categories.layout 1)}}selected{{/if}}" data-action="setCategoriesLayout" data-option="1"></i>
                        <i class="fa-solid fa-maximize primary-hover-container secondary-icon {{#if (eq this.layout.categories.layout 2)}}selected{{/if}}" data-action="setCategoriesLayout" data-option="2"></i>
                    </div>
                    <div class="bestiary-filter-container secondary-container">
                        <i class="primary-hover-container fa-solid secondary-icon {{#if (eq this.layout.categories.filter.direction 0)}}fa-arrow-up-z-a{{else}}fa-arrow-down-z-a{{/if}}" data-action="toggleFilterDirection"></i>
                    </div>
                    <div class="bestiary-search-container">
                        <i class="fa-solid fa-magnifying-glass search-icon secondary-icon"></i>
                        <input class="secondary-container" type="text" name="search.name" value="{{this.search.name}}" />
                        {{#if search.name}}<i class="fa-solid fa-circle-xmark clear-icon primary-hover-container" data-action="clearSearch"></i>{{/if}}
                    </div>
                </div>
            {{else}}
                {{#if this.user.isGM}}
                <div class="flexrow">
                    <div class="link-menu-container">
                        <button class="header-button link-menu-button {{#if (not this.selected.monster.system.uuid)}}unlinked{{/if}} secondary-container primary-hover-container" data-action="openActorLinkMenu" title="{{localize "Actor Link Menu"}}"><i class="fa-solid fa-users secondary-icon"></i></button>
                    </div>

                    <button class="header-button secondary-container primary-hover-container" data-action="toggleActorSheet"><i class="fa-solid fa-user secondary-icon"></i> {{localize "PF2EBestiary.Bestiary.ToggleActorSheet"}}</button>
                </div>
                {{/if}}
            {{/if}}
        </header>
    {{/if}}
    <body>
        {{#if (not this.selected.type)}}
            {{#if (not this.hideWelcome)}}<h2 class="bestiary-title primary-border-container primary-text-container text-shadow-container">{{localize "PF2EBestiary.Bestiary.Welcome.Greeting"}}</h2>{{/if}}
            <div class="bestiary-main-page">
                <div class="main-page-container {{#if (eq this.sectionsPositioning 'bottom')}}bottom{{/if}}{{#if (eq this.sectionsPositioning 'top')}}top{{/if}}">
                    {{#if this.showCategories}}
                        <div class="main-page-category-container">
                            {{#if this.usedSections.creature}}
                                <div class="main-page-category-card">
                                    <div class="main-page-category-image-container primary-hover-container {{#if (eq this.selected.category 'pf2e-bestiary-tracking.creature')}}secondary-border-container{{else}}primary-border-container{{/if}}" data-action="selectCategory" data-category="pf2e-bestiary-tracking.creature">
                                        <img src="{{this.categorySettings.creature.image}}" />
                                        <h4 class="main-page-category-label primary-container text-shadow-container">{{localize this.categorySettings.creature.name}}</h4>
                                    </div>
                                </div>
                            {{/if}}
                            {{#if this.usedSections.npc}}
                                <div class="main-page-category-card">
                                    <div class="main-page-category-image-container primary-hover-container {{#if (eq this.selected.category 'pf2e-bestiary-tracking.npc')}}secondary-border-container{{else}}primary-border-container{{/if}}" data-action="selectCategory" data-category="pf2e-bestiary-tracking.npc">
                                        <img src="{{this.categorySettings.npc.image}}" />
                                        <h4 class="main-page-category-label primary-container text-shadow-container">{{localize this.categorySettings.npc.name}}</h4>
                                    </div>
                                </div>
                            {{/if}}
                            {{#if this.usedSections.hazard}}
                                <div class="main-page-category-card">
                                    <div class="main-page-category-image-container primary-hover-container {{#if (eq this.selected.category 'pf2e-bestiary-tracking.hazard')}}secondary-border-container{{else}}primary-border-container{{/if}}" data-action="selectCategory" data-category="pf2e-bestiary-tracking.hazard">
                                        <img src="{{this.categorySettings.hazard.image}}" />
                                        <h4 class="main-page-category-label primary-container text-shadow-container">{{localize this.categorySettings.hazard.name}}</h4>
                                    </div>
                                </div>
                            {{/if}}
                        </div>
                    {{/if}}
                    {{#if (and this.user.isGM (eq this.selected.category 'pf2e-bestiary-tracking.npc'))}}
                        <fieldset class="npc-category-handling">
                            <legend>{{localize "PF2EBestiary.Bestiary.NPC.CategoryHandlingTitle"}}</legend>

                            <div class="npc-category-handling-inner">
                                <div class="helper-text">{{localize "PF2EBestiary.Bestiary.NPC.NPCCategoryDescription"}}</div>
                                <div class="category-container">
                                    <div class="category-section flexrow">
                                        <div class="category-label flex0">{{localize "PF2EBestiary.Bestiary.NPC.NewCategory"}}</div>
                                    </div>
                                    <div class="category-body flexrow">
                                        <input class="data-container primary-container" type="text" name="npcData.newCategory.text" value="{{this.npcState.newCategory.text}}" />
                                        <button class="secondary-container" data-action="addNpcCategory" {{#if (not this.npcState.newCategory.text)}}disabled{{else}}class="primary-container"{{/if}}><i class="fa-solid fa-plus"></i>{{localize "PF2EBestiary.Miscellaneous.Add"}}</button>
                                    </div>
                                </div>
                                <div class="category-container">
                                    <div class="category-section flexrow">
                                        <div class="category-label flex0">{{localize "PF2EBestiary.Bestiary.NPC.CategorySorting"}}</div>
                                    </div>
                                    <div class="category-body flexrow">
                                        <select class="npcCategorySortSelect primary-container" data-dtype="Number">
                                            {{selectOptions this.npcCategorySortOptions selected=this.settings.npc.categorySort valueAttr="value" labelAttr="name" localize=true}}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    {{/if}}
                </div>
                {{#if (not this.selected.category)}}
                    <div class="bestiary-info-container flexrow">
                        {{#if (not this.hideTips)}} 
                            <div class="bestiary-welcome text-shadow-container flex1">
                                <div class="sub-title">{{localize "PF2EBestiary.Bestiary.Welcome.PlayersSection.Title"}}</div>
                                <ul>
                                    <li>{{localize "PF2EBestiary.Bestiary.Welcome.PlayersSection.ThemingTip"}}</li>
                                    <li>{{localize "PF2EBestiary.Bestiary.Welcome.PlayersSection.NavigationTip"}}</li>
                                    <li>{{localize "PF2EBestiary.Bestiary.Welcome.PlayersSection.MacroTip"}}</li>
                                </ul>

                                <div class="sub-title">
                                    <div>{{localize "PF2EBestiary.Bestiary.Welcome.GMsSection.Title"}}</div>
                                </div>
                                <ul>
                                    <li>{{localize "PF2EBestiary.Bestiary.Welcome.GMsSection.AddCreaturesTip"}}</li>
                                    <li>{{localize "PF2EBestiary.Bestiary.Welcome.GMsSection.ModuleSettingsTip"}}</li>
                                    <li><span class="pf2e-bestiary-bold">{{localize "PF2EBestiary.Bestiary.Miscellaneous.LeftClick"}}:&nbsp;</span>{{localize "PF2EBestiary.Bestiary.Welcome.GMsSection.ToggleInformationTip"}}</li>
                                    <li><span class="pf2e-bestiary-bold">{{localize "PF2EBestiary.Bestiary.Miscellaneous.RightClick"}}:&nbsp;</span>{{localize "PF2EBestiary.Bestiary.Welcome.GMsSection.ToggleMisinformationTip"}}</li>
                                </ul>
                            </div>
                        {{/if}}
                        {{#if (and this.journalSettings.active (or this.user.isGM this.recallKnowledgeJournal))}}
                            <div class="recall-knowledge-container secondary-border-container {{#if (not this.recallKnowledgeJournal)}}empty{{/if}}" {{#if (not this.recallKnowledgeJournal)}}title="{{localize "PF2EBestiary.Bestiary.Welcome.GMsSection.RecallKnowledgeJournalMissing"}}"{{/if}}>
                                <div class="main-page-category-card">
                                    <div class="main-page-category-image-container secondary-border-container {{#if this.recallKnowledgeJournal}}primary-hover-container{{/if}}" {{#if this.recallKnowledgeJournal}}data-action="openDocument"{{/if}} data-uuid="{{this.recallKnowledgeJournal}}">
                                        <img src="{{this.journalSettings.image}}" />
                                        <h4 class="main-page-category-label primary-container">{{localize this.journalSettings.name}}</h4>
                                        {{#if (and this.user.isGM this.recallKnowledgeJournal)}}<i class="recall-knowledge-unlink-icon fa-solid fa-link-slash primary-hover-container" data-action="removeRecallKnowledgeJournal"></i>{{/if}}
                                    </div>
                                </div>
                            </div>
                        {{/if}}
                    </div>
                {{/if}}
            </div>
        {{else}}
            {{#if this.selected.monster}}
                <div class="bestiary-body-view">
                    <div class="bestiary-actor-sheet secondary-border-container {{#if this.actorSheetApp}}expanded{{/if}}"></div>
                    <div class="monster-container {{#if this.actorSheetApp}}closed{{/if}}">
                        {{#if (and this.selected.monster.system.npcData this.npcState.npcView)}}
                            {{#with this.selected.monster.system.npcData}}
                                {{> "modules/pf2e-bestiary-tracking/templates/partials/npcView.hbs" 
                                    creatureData=../selected.monster
                                    selected=../selected 
                                    user=../user 
                                    useTokenArt=../useTokenArt 
                                    tabs=../npcTabs
                                    contrastRevealedState =../contrastRevealedState 
                                    optionalFields=../optionalFields 
                                    npcState=../npcState
                                    dispositions=../dispositions
                                    inputCategories=../inputCategories
                                    partyDispositions=../selected.monster.system.partyDispositions
                                    skillTypes=../skillTypes
                                    players=../players
                                }}
                            {{/with}}
                        {{else}}
                            {{#if (or (eq this.selected.category 'pf2e-bestiary-tracking.creature') (and (eq this.selected.category 'pf2e-bestiary-tracking.npc') (not this.npcState.npcView)))}}
                                {{#with this.selected.monster}}
                                    {{> "modules/pf2e-bestiary-tracking/templates/partials/monsterView.hbs" 
                                        uuid=this.uuid
                                        selected=../selected 
                                        user=../user 
                                        vagueDescriptions=../vagueDescriptions
                                        gmNumeric=../vagueDescriptions.settings.gmNumeric 
                                        tabs=../tabs 
                                        useTokenArt=../useTokenArt 
                                        hideAbilityDescriptions=../hideAbilityDescriptions
                                        optionalFields=../optionalFields 
                                        contrastRevealedState =../contrastRevealedState 
                                        detailedInformation = ../detailedInformation
                                        npcState=../npcState
                                    }}
                                {{/with}}
                            {{else}}
                                {{#with this.selected.monster}}
                                    {{> "modules/pf2e-bestiary-tracking/templates/partials/hazardView.hbs" 
                                        uuid=this.uuid
                                        selected=../selected 
                                        user=../user 
                                        vagueDescriptions=../vagueDescriptions
                                        gmNumeric=../vagueDescriptions.settings.gmNumeric 
                                        tabs=../tabs 
                                        useTokenArt=../useTokenArt 
                                        hideAbilityDescriptions=../hideAbilityDescriptions
                                        optionalFields=../optionalFields 
                                        contrastRevealedState =../contrastRevealedState 
                                        detailedInformation = ../detailedInformation
                                        npcState=../npcState
                                    }}
                                {{/with}}
                            {{/if}}
                        {{/if}}
                    </div>
                </div>
            {{else}}
                <div class="type-overview-container">
                    {{#if (eq this.bookmarkEntities.length 0)}}
                        {{#if (eq this.selected.type 'unknown')}}
                            {{localize "PF2EBestiary.Bestiary.CategoryView.UnknownText"}}
                        {{else}}
                            {{#if (eq this.selected.type 'unaffiliated')}}
                                {{localize "PF2EBestiary.Bestiary.CategoryView.UnaffiliatedText"}}
                            {{else}}
                                {{this.typeTitle}}
                            {{/if}}
                        {{/if}}
                    {{else}}
                        {{#each this.bookmarkEntities}}
                            <div class="type-container primary-container {{#if (eq ../layout.categories.layout 1)}}trio{{/if}}{{#if (eq ../layout.categories.layout 2)}}quarter{{/if}}" data-action="selectMonster" data-monster="{{this.id}}">
                                <img class="monster-image {{PF2EBTImageState ../user this.hideState}}" src="{{this.img}}" />
                                <div class="type-text-container">
                                    {{#if ../user.isGM}}
                                        {{this.name.value}}
                                    {{else}}
                                        {{#if this.name.revealed}}
                                            {{PF2EBTTertiary this.name.custom this.name.value}}
                                        {{else}}
                                            {{localize "PF2EBestiary.Bestiary.Miscellaneous.UnknownCreature"}}
                                        {{/if}}
                                    {{/if}}
                                </div>

                                {{#if ../user.isGM}}
                                    <i class="{{#if this.hidden}}fa-solid fa-eye-slash{{else}}fa-solid fa-eye{{/if}} toggle-hide-button primary-hover-container" data-action="toggleHideMonster" data-id="{{this.id}}"></i>
                                    <i class="fa-solid fa-delete-left delete-button primary-hover-container" data-action="removeMonster" data-monster="{{this.id}}"></i>
                                {{/if}}
                            </div>
                        {{/each}}
                    {{/if}}
                </div>
            {{/if}}
        {{/if}}
    </body>
    <div class="right-bookmark-container">
        {{#each bookmarks}}
            <div class="bookmark-container {{#if (and (eq ../selected.category 'pf2e-bestiary-tracking.npc') (not (eq this.value 'unaffiliated')))}}draggable{{/if}}">
                <div 
                    class="bookmark {{#if (eq ../selected.category 'pf2e-bestiary-tracking.npc')}}npc{{/if}} primary-container {{#if (eq ../selected.type this.value)}} active expanded{{/if}}{{#if (eq (PF2EBTNrKeys this.values) 0)}} empty{{else}} active{{/if}} {{#if (and this.startIcon this.endIcon)}}icons{{/if}}" 
                    data-action="selectBookmark" 
                    data-bookmark="{{this.value}}"
                    data-bookmark-name="{{this.name}}"
                    data-position="{{this.position}}"
                >
                    {{#if this.startIcon}}<i class="{{this.startIcon}}"></i>{{/if}}
                    {{this.name}}
                    {{#if this.endIcon}}<i class="{{this.endIcon}}"></i>{{/if}}
                </div>
                {{#if (and ../user.isGM (and (and (not (eq this.value 'unaffiliated')) (not (eq this.value 'combat'))) (eq ../selected.category 'pf2e-bestiary-tracking.npc')))}}
                    <i class="hide-icon {{#if this.hidden}}fa-solid fa-eye-slash visible{{else}}fa-solid fa-eye{{/if}} primary-hover-container" data-action="toggleHideNPCCategory" data-category="{{this.value}}"></i>
                {{/if}}
            </div>
        {{/each}}
    </div>
</div>