<div>
    <header>
        {{#if this.returnMessage}}
            <div class="return-container" data-action="returnButton">
                <i class="fa-solid fa-reply"></i>
                {{this.returnMessage}}
            </div>
        {{/if}}
    </header>
    <body>
            {{#if (not this.selected.type)}}
                <div class="bestiary-welcome">
                    <h3 class="title">Welcome to the Bestiary!</h3> 
                    <div class="sub-title">Players</div>
                    <ul>
                        <li>Navigate between different creature types using the bookmarks on the left.</li>
                    </ul>

                    <div class="sub-title">GM</div>
                    <ul>
                        <li>Add new creatures the players have encountered by dragging them into the bestiary.</li>
                        <li>Toggle known information on individual monsters as the players learn information.</li>
                    </ul>
                </div>
                {{!-- <div class="statistics-title" data-action="toggleStatistics">
                    <h3>Bestiary Statistics</h3>
                </div>
                <div class="statistics-container">
                    <div class="statistics-inner-container">
                        You have encountered 5 different creature types. Among them you've faced a total of 12 different creatures.
                    </div>
                    <div class="statistics-inner-container">
                        You've encountered the most different creatures from the Giant creature type, a total of 12.
                    </div>
                    <div class="statistics-inner-container">
                        Test
                    </div>
                </div> --}}
            {{else}}
                {{#if this.selected.monster}}
                    {{#with this.selected.monster}}
                        {{> "modules/pf2e-bestiary-tracking/templates/partials/monsterView.hbs" selected=../selected user=../user vagueDescriptions=../vagueDescriptions }}
                    {{/with}}
                {{else}}
                    <div class="type-overview-container">
                        {{#if (eq (nrKeys this.openType) 0)}}
                            No {{this.selected.type}} encountered yet. Enjoy it while you can.
                        {{else}}
                            {{#each this.openType as |type key|}}
                                <div class="type-container" data-action="selectMonster" data-monster="{{key}}">
                                    <img src="{{type.img}}" />
                                    <div class="type-text-container">
                                        <div>{{type.name}}</div>
                                    </div>

                                    <i class="fa-solid fa-delete-left delete-button" data-action="removeMonster" data-monster="{{key}}"></i>
                                </div>
                            {{/each}}
                        {{/if}}
                    </div>
                {{/if}}
            {{/if}}
    </body>
    <footer></footer>
    <div class="bestiary-left-bookmark-container">

    </div>
    <div class="right-bookmark-container">
        {{#each bestiary.monster as |type key|}}
            <div class="bookmark {{#if (eq ../selected.type key)}}selected{{/if}}" data-action="selectBookmark" data-bookmark="{{key}}">
                {{key}}
            </div>
        {{/each}}
    </div>
</div>