<div class="menu-container">
    <fieldset class="menu-category">
        <legend>
            <h4>{{localize "PF2EBestiary.Menus.BestiaryAppearance.UsedSections.Name"}}</h4>
        </legend>
        
        <div class="menu-button-range">
            <button class="menu-button" data-action="toggleUsedSection" data-section="creature" {{#if (and (lte nrUsedSections 1) settings.usedSections.creature)}}disabled{{/if}}>
                <span>{{localize "PF2EBestiary.Menus.BestiaryAppearance.UsedSections.Creature"}}</span>
                {{#if settings.usedSections.creature}}<i class="fa-regular fa-circle-check"></i>{{else}}<i class="fa-regular fa-circle"></i>{{/if}}
            </button>
            <button class="menu-button" data-action="toggleUsedSection" data-section="npc" {{#if (and (lte nrUsedSections 1) settings.usedSections.npc)}}disabled{{/if}}>
                <span>{{localize "PF2EBestiary.Menus.BestiaryAppearance.UsedSections.NPC"}}</span>
                {{#if settings.usedSections.npc}}<i class="fa-regular fa-circle-check"></i>{{else}}<i class="fa-regular fa-circle"></i>{{/if}}
            </button>
            <button class="menu-button" data-action="toggleUsedSection" data-section="hazard" {{#if (and (lte nrUsedSections 1) settings.usedSections.hazard)}}disabled{{/if}}>
                <span>{{localize "PF2EBestiary.Menus.BestiaryAppearance.UsedSections.Hazard"}}</span>
                {{#if settings.usedSections.hazard}}<i class="fa-regular fa-circle-check"></i>{{else}}<i class="fa-regular fa-circle"></i>{{/if}}
            </button>
        </div>
    </fieldset>

    <fieldset class="menu-category">
        <legend>
            <h4>{{localize "PF2EBestiary.Menus.BestiaryAppearance.AdditionalCreatureTypes.Name"}}</h4>
        </legend>

        <div class="flexcol">
            <input class="traits-input" value="{{settings.additionalCreatureTypes}}" />
            <div>{{localize "PF2EBestiary.Menus.BestiaryAppearance.AdditionalCreatureTypes.SubText"}}</div>
        </div>
    </fieldset>
   
   <div class="menu-grouper">
    <fieldset class="menu-category">
        <legend class="pf2e-bestiary-clickable-icon" data-action="toggleOptionalFields">
            <h4>{{localize "PF2EBestiary.Menus.BestiaryAppearance.OptionalFields.Name"}}</h4>
        </legend>

        <div class="form-group">
            <label>{{localize "PF2EBestiary.Menus.BestiaryAppearance.OptionalFields.Level"}}</label>
            <div class="form-fields">
                <div class="form-fields">
                    <input type="checkbox" name="optionalFields.level" {{checked settings.optionalFields.level}} />
                </div>
            </div>
        </div>

        <div class="form-group">
            <label>{{localize "PF2EBestiary.Menus.BestiaryAppearance.OptionalFields.Languages"}}</label>
            <div class="form-fields">
                <div class="form-fields">
                    <input type="checkbox" name="optionalFields.languages" {{checked settings.optionalFields.languages}} />
                </div>
            </div>
        </div>

        <div class="form-group">
            <label>{{localize "PF2EBestiary.Menus.BestiaryAppearance.OptionalFields.Height"}}</label>
            <div class="form-fields">
                <div class="form-fields">
                    <input type="checkbox" name="optionalFields.height" {{checked settings.optionalFields.height}} />
                </div>
            </div>
        </div>

        <div class="form-group">
            <label>{{localize "PF2EBestiary.Menus.BestiaryAppearance.OptionalFields.Weight"}}</label>
            <div class="form-fields">
                <div class="form-fields">
                    <input type="checkbox" name="optionalFields.weight" {{checked settings.optionalFields.weight}} />
                </div>
            </div>
        </div>

        <div class="form-group">
            <label>{{localize "PF2EBestiary.Menus.BestiaryAppearance.OptionalFields.Birthplace"}}</label>
            <div class="form-fields">
                <div class="form-fields">
                    <input type="checkbox" name="optionalFields.birthplace" {{checked settings.optionalFields.birthplace}} />
                </div>
            </div>
        </div>
    </fieldset> 

    <fieldset class="menu-category">
        <legend class="pf2e-bestiary-clickable-icon" data-action="toggleDetailedInformation">
            <h4>{{localize "PF2EBestiary.Menus.BestiaryAppearance.DetailedInformation.Name"}}</h4>
        </legend>

        <div class="form-group">
            <label>{{localize "PF2EBestiary.Menus.BestiaryAppearance.DetailedInformation.ExceptionsDoubleVs"}}</label>
            <div class="form-fields">
                <div class="form-fields">
                    <input type="checkbox" name="detailedInformation.exceptionsDouble" {{checked settings.detailedInformation.exceptionsDouble}} />
                </div>
            </div>
        </div>

        <div class="form-group">
            <label>{{localize "PF2EBestiary.Menus.BestiaryAppearance.DetailedInformation.AttackTraits"}}</label>
            <div class="form-fields">
                <div class="form-fields">
                    <input type="checkbox" name="detailedInformation.attackTraits" {{checked settings.detailedInformation.attackTraits}} />
                </div>
            </div>
        </div>

        <div class="form-group">
            <label>{{localize "PF2EBestiary.Menus.BestiaryAppearance.DetailedInformation.DamageTypes"}}</label>
            <div class="form-fields">
                <div class="form-fields">
                    <input type="checkbox" name="detailedInformation.damageTypes" {{checked settings.detailedInformation.damageTypes}} />
                </div>
            </div>
        </div>

        <div class="form-group">
            <label>{{localize "PF2EBestiary.Menus.BestiaryAppearance.DetailedInformation.AbilityTraits"}}</label>
            <div class="form-fields">
                <div class="form-fields">
                    <input type="checkbox" name="detailedInformation.abilityTraits" {{checked settings.detailedInformation.abilityTraits}} />
                </div>
            </div>
        </div>
    </fieldset> 
    </div>

    <fieldset class="menu-category">
        <legend class="flexed">
            <h4>{{localize "PF2EBestiary.Menus.BestiaryAppearance.ImageSettings.Title"}}</h4>
            <i class="fa-solid fa-arrow-rotate-left pf2e-bestiary-clickable-icon" data-action="resetImageSettings"></i>
        </legend>
        <div class="bestiary-customization-container">
            <div class="menu-grouper-container">
                <label>{{localize "PF2EBestiary.Bestiary.Category.Creatures"}}</label>
                <div class="menu-grouper">
                    <div class="form-group">
                        <div class="form-fields">
                            <label>{{localize "PF2EBestiary.Menus.BestiaryAppearance.ImageSettings.HideState"}}</label>
                            <div class="form-fields no-flex">
                                <select name="imageSettings.creature.hideState" data-dtype="Number">
                                    {{selectOptions this.imageHideStates selected=this.settings.imageSettings.creature.hideState valueAttr="value" labelAttr="name" localize=true}}
                                </select>
                            </div>
                            <label>{{localize "PF2EBestiary.Menus.BestiaryAppearance.ImageSettings.HiddenImage"}}</label>
                            <div class="form-fields">
                                <input type="text" value="{{localize settings.imageSettings.creature.hideImage}}" disabled />
                                <button data-action="filePicker" data-path="imageSettings.creature.hideImage" title="Browse Files"><i class="fas fa-file-import fa-fw"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="menu-grouper-container">
                <label>{{localize "PF2EBestiary.Bestiary.Category.NPC"}}</label>
                <div class="menu-grouper">
                    <div class="form-group">
                        <div class="form-fields">
                            <label>{{localize "PF2EBestiary.Menus.BestiaryAppearance.ImageSettings.HideState"}}</label>
                            <div class="form-fields no-flex">
                                <select name="imageSettings.npc.hideState" data-dtype="Number">
                                    {{selectOptions this.imageHideStates selected=this.settings.imageSettings.npc.hideState valueAttr="value" labelAttr="name" localize=true}}
                                </select>
                            </div>
                            <label>{{localize "PF2EBestiary.Menus.BestiaryAppearance.ImageSettings.HiddenImage"}}</label>
                            <div class="form-fields">
                                <input type="text" value="{{localize settings.imageSettings.npc.hideImage}}" disabled />
                                <button data-action="filePicker" data-path="imageSettings.npc.hideImage" title="Browse Files"><i class="fas fa-file-import fa-fw"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="menu-grouper-container">
                <label>{{localize "PF2EBestiary.Bestiary.Category.Hazards"}}</label>
                <div class="menu-grouper">
                    <div class="form-group">
                        <div class="form-fields">
                            <label>{{localize "PF2EBestiary.Menus.BestiaryAppearance.ImageSettings.HideState"}}</label>
                            <div class="form-fields no-flex">
                                <select name="imageSettings.hazard.hideState" data-dtype="Number">
                                    {{selectOptions this.imageHideStates selected=this.settings.imageSettings.hazard.hideState valueAttr="value" labelAttr="name" localize=true}}
                                </select>
                            </div>
                            <label>{{localize "PF2EBestiary.Menus.BestiaryAppearance.ImageSettings.HiddenImage"}}</label>
                            <div class="form-fields">
                                <input type="text" value="{{localize settings.imageSettings.hazard.hideImage}}" disabled />
                                <button data-action="filePicker" data-path="imageSettings.hazard.hideImage" title="Browse Files"><i class="fas fa-file-import fa-fw"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>


    <fieldset class="menu-category">
        <legend class="flexed">
            <h4>{{localize "PF2EBestiary.Menus.BestiaryAppearance.CategorySettings.Title"}}</h4>
            <i class="fa-solid fa-arrow-rotate-left pf2e-bestiary-clickable-icon" data-action="resetCategorySettings"></i>
        </legend>
        <div class="bestiary-customization-container">
            <div class="menu-grouper-container">
                <label>{{localize "PF2EBestiary.Bestiary.Category.Creatures"}}</label>
                <div class="menu-grouper">
                    <div class="form-group">
                        <div class="form-fields">
                            <label>{{localize "PF2EBestiary.Miscellaneous.Title"}}</label>
                            <div class="form-fields no-flex">
                                <input type="text" name="categorySettings.creature.name" value="{{localize settings.categorySettings.creature.name}}" />
                            </div>
                            <label>{{localize "PF2EBestiary.Menus.BestiaryAppearance.CategorySettings.Image"}}</label>
                            <div class="form-fields">
                                <input type="text" value="{{localize setting.categorySettings.creature.image}}" disabled />
                                <button data-action="filePicker" data-path="categorySettings.creature.image" title="Browse Files"><i class="fas fa-file-import fa-fw"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="menu-grouper-container">
                <label>{{localize "PF2EBestiary.Bestiary.Category.NPC"}}</label>
                <div class="menu-grouper">
                    <div class="form-group">
                        <div class="form-fields">
                            <label>{{localize "PF2EBestiary.Miscellaneous.Title"}}</label>
                            <div class="form-fields no-flex">
                                <input type="text" name="categorySettings.npc.name" value="{{localize settings.categorySettings.npc.name}}" />
                            </div>
                            <label>{{localize "PF2EBestiary.Menus.BestiaryAppearance.CategorySettings.Image"}}</label>
                            <div class="form-fields">
                                <input type="text" value="{{localize settings.categorySettings.npc.image}}" disabled />
                                <button data-action="filePicker" data-path="categorySettings.npc.image" title="Browse Files"><i class="fas fa-file-import fa-fw"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="menu-grouper-container">
                <label>{{localize "PF2EBestiary.Bestiary.Category.Hazards"}}</label>
                <div class="menu-grouper">
                    <div class="form-group">
                        <div class="form-fields">
                            <label>{{localize "PF2EBestiary.Miscellaneous.Title"}}</label>
                            <div class="form-fields no-flex">
                                <input type="text" name="categorySettings.hazard.name" value="{{localize settings.categorySettings.hazard.name}}" />
                            </div>
                            <label>{{localize "PF2EBestiary.Menus.BestiaryAppearance.CategorySettings.Image"}}</label>
                            <div class="form-fields">
                                <input type="text" value="{{localize settings.categorySettings.hazard.image}}" disabled />
                                <button data-action="filePicker" data-path="categorySettings.hazard.image" title="Browse Files"><i class="fas fa-file-import fa-fw"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>

    <fieldset class="menu-category">
        <legend class="flexed">
            <h4>{{localize "PF2EBestiary.Menus.BestiaryAppearance.ContrastRevealedState.Name"}}</h4>
            <i class="fa-solid fa-arrow-rotate-left pf2e-bestiary-clickable-icon" data-action="resetContrastRevealedState"></i>
        </legend>

        <div class="form-group">
            <label>{{localize "PF2EBestiary.Menus.BestiaryAppearance.ContrastRevealedState.Enabled"}}</label>
            <div class="form-fields">
                <div class="form-fields">
                    <input type="checkbox" name="contrastRevealedState.enabled" {{checked settings.contrastRevealedState.enabled}} />
                </div>
            </div>
        </div>

        <div class="form-group">
            <label>{{localize "PF2EBestiary.Menus.BestiaryAppearance.ContrastRevealedState.Revealed"}}</label>
            <div class="form-fields">
                <div class="form-fields">
                    <color-picker name="contrastRevealedState.revealed" value="{{settings.contrastRevealedState.revealed}}" placeholder="#ffffff"></color-picker>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label>{{localize "PF2EBestiary.Menus.BestiaryAppearance.ContrastRevealedState.Hidden"}}</label>
            <div class="form-fields">
                <div class="form-fields">
                    <color-picker name="contrastRevealedState.hidden" value="{{settings.contrastRevealedState.hidden}}" placeholder="#ffffff"></color-picker>
                </div>
            </div>
        </div>
    </fieldset>

    <div class="form-group">
        <label>{{localize "PF2EBestiary.Menus.BestiaryAppearance.UseTokenArt"}}</label>
        <div class="form-fields">
            <div class="form-fields">
                <input type="checkbox" name="useTokenArt" {{checked settings.useTokenArt}} />
            </div>
        </div>
    </div>

    <div class="form-group">
        <label>{{localize "PF2EBestiary.Menus.BestiaryAppearance.HideAbilityDescriptions"}}</label>
        <div class="form-fields">
            <div class="form-fields">
                <input type="checkbox" name="hideAbilityDescriptions" {{checked settings.hideAbilityDescriptions}} />
            </div>
        </div>
    </div>
  
    <footer>
        <button data-action="save">{{localize "PF2EBestiary.Miscellaneous.Save"}}</button>
    </footer>
</div>