<div>
    <div class="flexrow">
        <button data-action="createNewBestiary"><i class="fa-solid fa-plus"></i>{{localize "PF2EBestiary.BestiarySelection.AddBestiary"}}</button>
        <button data-action="importBestiary"><i class="fa-fw fas fa-file-import fa-fw"></i>{{localize "PF2EBestiary.BestiarySelection.ImportBestiaryTitle"}}</button>
    </div>

    <div class="bestiaries-container">
        {{#each this.bestiaries}}
            <div class="bestiary-container {{#if this.active}}active{{/if}} pf2e-bestiary-clickable-icon" data-action="swapBestiary" data-bestiary="{{this.id}}">
                <img class="bestiary-image" src="{{this.img}}" />
                <div class="bestiary-name">{{this.name}}</div>
                <footer class="edit-footer flexcol">
                    <div class="flexrow">
                        <button data-action="editBestiary" data-bestiary="{{this.id}}"><i class="edit-icon fa-solid fa-gear"></i> {{localize "PF2EBestiary.BestiarySelection.EditBestiaryTitle"}}</button>
                        <button data-action="exportBestiary" data-bestiary="{{this.id}}"><i class="edit-icon fa-fw fas fa-file-import fa-fw"></i> {{localize "PF2EBestiary.BestiarySelection.ExportBestiaryTitle"}}</button>
                    </div>
                    {{#if (not this.active)}}<button data-action="deleteBestiary" data-bestiary="{{this.id}}"><i class="edit-icon fa-solid fa-x"></i> {{localize "PF2EBestiary.BestiarySelection.DeleteBestiaryTitle"}}</button>{{/if}}
                </footer>
            </div>
        {{/each}}
    </div>
</div>