<div>
    {{#if (and this.selected.type (not this.selected.monster))}}
        <header class="bestiary-header">
            <div class="return-container" data-action="returnButton">
                <i class="fa-solid fa-reply"></i>
                {{localize "PF2EBestiary.Bestiary.ReturnMessages.ReturnToWelcome"}}
            </div>
            <div class="bestiary-toolbar">
                <div class="bestiary-layout-settings">
                    <i class="fa-solid fa-table-cells-large pf2e-bestiary-clickable-icon {{#if (eq this.layout.categories.layout 0)}}selected{{/if}}" data-action="setCategoriesLayout" data-option="0"></i>
                    <i class="fa-solid fa-table-cells pf2e-bestiary-clickable-icon {{#if (eq this.layout.categories.layout 1)}}selected{{/if}}" data-action="setCategoriesLayout" data-option="1"></i>
                    <i class="fa-solid fa-maximize pf2e-bestiary-clickable-icon {{#if (eq this.layout.categories.layout 2)}}selected{{/if}}" data-action="setCategoriesLayout" data-option="2"></i>
                </div>
                <div class="bestiary-search-container">
                    <i class="fa-solid fa-magnifying-glass search-icon"></i>
                    <input type="text" name="search.name" value="{{this.search.name}}" />
                    {{#if search.name}}<i class="fa-solid fa-circle-xmark clear-icon pf2e-bestiary-clickable-icon" data-action="clearSearch"></i>{{/if}}
                </div>
            </div>
        </header>
    {{/if}}
    <body>
        {{#if (not this.selected.type)}}
            <div class="bestiary-welcome">
                <h3 class="title">{{localize "PF2EBestiary.Bestiary.Welcome.Greeting"}}</h3> 
                <div class="sub-title">{{localize "PF2EBestiary.Bestiary.Welcome.PlayersSection.Title"}}</div>
                <ul>
                    <li>{{localize "PF2EBestiary.Bestiary.Welcome.PlayersSection.NavigationTip"}}</li>
                    <li>{{localize "PF2EBestiary.Bestiary.Welcome.PlayersSection.MacroTip"}}</li>
                </ul>

                <div class="sub-title">
                    <div>{{localize "PF2EBestiary.Bestiary.Welcome.GMsSection.Title"}}</div>
                </div>
                <ul>
                    <li>{{localize "PF2EBestiary.Bestiary.Welcome.GMsSection.AddCreaturesTip"}}</li>
                    <li>{{localize "PF2EBestiary.Bestiary.Welcome.GMsSection.ModuleSettingsTip"}}</li>
                    <li><span class="pf2e-bestiary-bold">{{localize "PF2EBestiary.Bestiary.Miscellaneous.LeftClick"}}:&nbsp;</span>{{localize "PF2EBestiary.Bestiary.Welcome.GMsSection.ToggleInformationTip"}}</li>
                    <li><span class="pf2e-bestiary-bold">{{localize "PF2EBestiary.Bestiary.Miscellaneous.RightClick"}}:&nbsp;</span>{{localize "PF2EBestiary.Bestiary.Welcome.GMsSection.ToggleMisinformationTip"}}</li>
                </ul>
            </div>
        {{else}}
            {{#if this.selected.monster}}
                {{#with this.selected.monster}}
                    {{> "modules/pf2e-bestiary-tracking/templates/partials/monsterView.hbs" selected=../selected user=../user vagueDescriptions=../vagueDescriptions tabs=../tabs useTokenArt=../useTokenArt showMonsterLevel=../showMonsterLevel }}
                {{/with}}
            {{else}}
                <div class="type-overview-container">
                    {{#if (eq (PF2EBTNrKeys this.openType) 0)}}
                        {{localize "PF2EBestiary.Bestiary.CategoryView.EmptyText" category=this.selected.type}}
                    {{else}}
                        {{#each this.openType as |type key|}}
                            <div class="type-container {{#if (eq ../layout.categories.layout 1)}}trio{{/if}}{{#if (eq ../layout.categories.layout 2)}}quarter{{/if}}" data-action="selectMonster" data-monster="{{key}}">
                                <img src="{{type.img}}" />
                                <div class="type-text-container">
                                    {{#if type.name.revealed}}
                                        {{PF2EBTTertiary type.name.custom type.name.value}}
                                    {{else}}
                                        {{#if ../user.isGM}}
                                            {{type.name.value}}
                                        {{else}}
                                            {{localize "PF2EBestiary.Bestiary.Miscellaneous.UnknownCreature"}}
                                        {{/if}}
                                    {{/if}}
                                </div>

                                {{#if ../user.isGM}}<i class="fa-solid fa-delete-left delete-button" data-action="removeMonster" data-monster="{{key}}"></i>{{/if}}
                            </div>
                        {{/each}}
                    {{/if}}
                </div>
            {{/if}}
        {{/if}}
    </body>
    <div class="right-bookmark-container">
        {{#each bestiary.monster as |type key|}}
            <div class="bookmark{{#if (eq ../selected.type key)}} selected{{/if}}{{#if (eq (PF2EBTNrKeys type) 0)}} empty{{/if}}" data-action="selectBookmark" data-bookmark="{{key}}">
                {{key}}
            </div>
        {{/each}}
    </div>
</div>