<div class="menu-container">
    <fieldset class="menu-category">
        <legend>
            <h4>{{localize "PF2EBestiary.Menus.BestiaryAppearance.AdditionalCreatureTypes.Name"}}</h4>
        </legend>

        <div class="flexcol">
            <input class="traits-input" value="{{settings.additionalCreatureTypes}}" />
            <div>{{localize "PF2EBestiary.Menus.BestiaryAppearance.AdditionalCreatureTypes.SubText"}}</div>
        </div>
    </fieldset>
   
    <fieldset class="menu-category">
        <legend class="pf2e-bestiary-clickable-icon" data-action="toggleOptionalFields">
            <h4>{{localize "PF2EBestiary.Menus.BestiaryAppearance.OptionalFields.Name"}}</h4>
        </legend>

        <div class="form-group">
            <label>{{localize "PF2EBestiary.Menus.BestiaryAppearance.OptionalFields.Level"}}</label>
            <div class="form-fields">
                <div class="form-fields">
                    <input type="checkbox" name="optionalFields.level" {{checked settings.optionalFields.level}} />
                </div>
            </div>
        </div>

        <div class="form-group">
            <label>{{localize "PF2EBestiary.Menus.BestiaryAppearance.OptionalFields.Height"}}</label>
            <div class="form-fields">
                <div class="form-fields">
                    <input type="checkbox" name="optionalFields.height" {{checked settings.optionalFields.height}} />
                </div>
            </div>
        </div>

        <div class="form-group">
            <label>{{localize "PF2EBestiary.Menus.BestiaryAppearance.OptionalFields.Weight"}}</label>
            <div class="form-fields">
                <div class="form-fields">
                    <input type="checkbox" name="optionalFields.weight" {{checked settings.optionalFields.weight}} />
                </div>
            </div>
        </div>

        <div class="form-group">
            <label>{{localize "PF2EBestiary.Menus.BestiaryAppearance.OptionalFields.Languages"}}</label>
            <div class="form-fields">
                <div class="form-fields">
                    <input type="checkbox" name="optionalFields.languages" {{checked settings.optionalFields.languages}} />
                </div>
            </div>
        </div>
    </fieldset> 

    <fieldset class="menu-category">
        <legend class="pf2e-bestiary-clickable-icon" data-action="toggleDetailedInformation">
            <h4>{{localize "PF2EBestiary.Menus.BestiaryAppearance.DetailedInformation.Name"}}</h4>
        </legend>

        <div class="form-group">
            <label>{{localize "PF2EBestiary.Menus.BestiaryAppearance.DetailedInformation.ExceptionsDoubleVs"}}</label>
            <div class="form-fields">
                <div class="form-fields">
                    <input type="checkbox" name="detailedInformation.exceptionsDouble" {{checked settings.detailedInformation.exceptionsDouble}} />
                </div>
            </div>
        </div>

        <div class="form-group">
            <label>{{localize "PF2EBestiary.Menus.BestiaryAppearance.DetailedInformation.AttackTraits"}}</label>
            <div class="form-fields">
                <div class="form-fields">
                    <input type="checkbox" name="detailedInformation.attackTraits" {{checked settings.detailedInformation.attackTraits}} />
                </div>
            </div>
        </div>

        <div class="form-group">
            <label>{{localize "PF2EBestiary.Menus.BestiaryAppearance.DetailedInformation.DamageTypes"}}</label>
            <div class="form-fields">
                <div class="form-fields">
                    <input type="checkbox" name="detailedInformation.damageTypes" {{checked settings.detailedInformation.damageTypes}} />
                </div>
            </div>
        </div>

        <div class="form-group">
            <label>{{localize "PF2EBestiary.Menus.BestiaryAppearance.DetailedInformation.AbilityTraits"}}</label>
            <div class="form-fields">
                <div class="form-fields">
                    <input type="checkbox" name="detailedInformation.abilityTraits" {{checked settings.detailedInformation.abilityTraits}} />
                </div>
            </div>
        </div>
    </fieldset> 

    <fieldset class="menu-category">
        <legend class="flexed">
            <h4>{{localize "PF2EBestiary.Menus.BestiaryAppearance.ContrastRevealedState.Name"}}</h4>
            <i class="fa-solid fa-arrow-rotate-left pf2e-bestiary-clickable-icon" data-action="resetContrastRevealedState"></i>
        </legend>

        <div class="form-group">
            <label>{{localize "PF2EBestiary.Menus.BestiaryAppearance.ContrastRevealedState.Enabled"}}</label>
            <div class="form-fields">
                <div class="form-fields">
                    <input type="checkbox" name="contrastRevealedState.enabled" {{checked settings.contrastRevealedState.enabled}} />
                </div>
            </div>
        </div>

        <div class="form-group">
            <label>{{localize "PF2EBestiary.Menus.BestiaryAppearance.ContrastRevealedState.Revealed"}}</label>
            <div class="form-fields">
                <div class="form-fields">
                    <color-picker name="contrastRevealedState.revealed" value="{{settings.contrastRevealedState.revealed}}" placeholder="#ffffff"></color-picker>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label>{{localize "PF2EBestiary.Menus.BestiaryAppearance.ContrastRevealedState.Hidden"}}</label>
            <div class="form-fields">
                <div class="form-fields">
                    <color-picker name="contrastRevealedState.hidden" value="{{settings.contrastRevealedState.hidden}}" placeholder="#ffffff"></color-picker>
                </div>
            </div>
        </div>
    </fieldset>

    <div class="form-group">
        <label>{{localize "PF2EBestiary.Menus.BestiaryAppearance.UseTokenArt"}}</label>
        <div class="form-fields">
            <div class="form-fields">
                <input type="checkbox" name="useTokenArt" {{checked settings.useTokenArt}} />
            </div>
        </div>
    </div>

    <div class="form-group">
        <label>{{localize "PF2EBestiary.Menus.BestiaryAppearance.HideAbilityDescriptions"}}</label>
        <div class="form-fields">
            <div class="form-fields">
                <input type="checkbox" name="hideAbilityDescriptions" {{checked settings.hideAbilityDescriptions}} />
            </div>
        </div>
    </div>
  
    <footer>
        <button data-action="save">{{localize "PF2EBestiary.Miscellaneous.Save"}}</button>
    </footer>
</div>