<div class="menu-container">
    <fieldset class="menu-category">
        <legend>
            <h4>{{localize "PF2EBestiary.Menus.BestiaryIntegration.CreatureRegistration.Name"}}</h4>
        </legend>

        <div class="form-group">
            <label>{{localize "PF2EBestiary.Settings.NPCRegistation.Name"}}</label>
            <div class="form-fields">
                <div class="form-fields">
                    <select name="settings.npcRegistration">
                        {{selectOptions this.npcRegistrationOptions selected=this.settings.npcRegistration valueAttr="value" labelAttr="name" localize=true}}
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label>{{localize "PF2EBestiary.Settings.AutomaticCombatRegistration.Name"}}</label>
            <div class="form-fields">
                <select name="settings.creatureRegistration.automaticCombatRegistration">
                    {{selectOptions this.combatRegistrationOptions selected=this.settings.creatureRegistration.automaticCombatRegistration valueAttr="value" labelAttr="name" localize=true}}
                </select>
            </div>
        </div>

        <div class="form-group">
            <label>{{localize "PF2EBestiary.Settings.DoubleClickOpen.Name"}}</label>
            <div class="form-fields">
                <div class="form-fields">
                    <input type="checkbox" name="settings.creatureRegistration.doubleClickOpen" {{checked this.settings.creatureRegistration.doubleClickOpen}} />
                </div>
            </div>
        </div>
    </fieldset>

    <div class="menu-grouper">
        <fieldset class="menu-category">
            <legend class="pf2e-bestiary-clickable-icon" data-action="toggleChatMessageHandlingFields">
                <h4>{{localize "PF2EBestiary.Menus.BestiaryIntegration.AutomaticRevealing.Name"}}</h4>
            </legend>

            <div class="form-group">
                <label>{{localize "PF2EBestiary.Menus.BestiaryIntegration.AutomaticRevealing.Saves"}}</label>
                <div class="form-fields">
                    <div class="form-fields">
                        <input type="checkbox" name="settings.chatMessageHandling.automaticReveal.saves" {{checked this.settings.chatMessageHandling.automaticReveal.saves}} />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label>{{localize "PF2EBestiary.Menus.BestiaryIntegration.AutomaticRevealing.Skills"}}</label>
                <div class="form-fields">
                    <div class="form-fields">
                        <input type="checkbox" name="settings.chatMessageHandling.automaticReveal.skills" {{checked this.settings.chatMessageHandling.automaticReveal.skills}} />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label>{{localize "PF2EBestiary.Menus.BestiaryIntegration.AutomaticRevealing.Attacks"}}</label>
                <div class="form-fields">
                    <div class="form-fields">
                        <input type="checkbox" name="settings.chatMessageHandling.automaticReveal.attacks" {{checked this.settings.chatMessageHandling.automaticReveal.attacks}} />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label>{{localize "PF2EBestiary.Menus.BestiaryIntegration.AutomaticRevealing.Actions"}}</label>
                <div class="form-fields">
                    <div class="form-fields">
                        <input type="checkbox" name="settings.chatMessageHandling.automaticReveal.actions" {{checked this.settings.chatMessageHandling.automaticReveal.actions}} />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label>{{localize "PF2EBestiary.Menus.BestiaryIntegration.AutomaticRevealing.Spells"}}</label>
                <div class="form-fields">
                    <div class="form-fields">
                        <input type="checkbox" name="settings.chatMessageHandling.automaticReveal.spells" {{checked this.settings.chatMessageHandling.automaticReveal.spells}} />
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset class="menu-category">
            <legend class="pf2e-bestiary-clickable-icon" data-action="toggleHiddenSettingsFields">
                <h4>{{localize "PF2EBestiary.Menus.BestiaryIntegration.HiddenSettings.Name"}}</h4>
            </legend>

            <div class="form-group">
                <label>{{localize "PF2EBestiary.Menus.BestiaryIntegration.HiddenSettings.Monster"}}</label>
                <div class="form-fields">
                    <input type="checkbox" name="settings.hiddenSettings.monster" {{checked this.settings.hiddenSettings.monster}} />
                </div>
            </div>

            <div class="form-group">
                <label>{{localize "PF2EBestiary.Menus.BestiaryIntegration.HiddenSettings.NPC"}}</label>
                <div class="form-fields">
                    <input type="checkbox" name="settings.hiddenSettings.npc" {{checked this.settings.hiddenSettings.npc}} />
                </div>
            </div>

            <div class="form-group">
                <label>{{localize "PF2EBestiary.Menus.BestiaryIntegration.HiddenSettings.Hazard"}}</label>
                <div class="form-fields">
                    <input type="checkbox" name="settings.hiddenSettings.hazard" {{checked this.settings.hiddenSettings.hazard}} />
                </div>
            </div>

            <div class="form-group">
                <label>{{localize "PF2EBestiary.Menus.BestiaryIntegration.HiddenSettings.NPCCategories"}}</label>
                <div class="form-fields">
                    <input type="checkbox" name="settings.hiddenSettings.npcCategories" {{checked this.settings.hiddenSettings.npcCategories}} />
                </div>
            </div>
        </fieldset>
    </div>

    <fieldset class="menu-category">
            <legend class="pf2e-bestiary-clickable-icon" data-action="toggleDefaultRevealedFields">
                <h4>{{localize "PF2EBestiary.Menus.BestiaryIntegration.DefaultRevealed.Title"}}</h4>
            </legend>

            <div class="menu-grouper-container">
                <label class="pf2e-bestiary-clickable-icon" data-action="toggleDefaultRevealedCreatures">{{localize "PF2EBestiary.Menus.BestiaryIntegration.DefaultRevealed.Creature"}}</label>
                <div class="menu-grouper spaced">
                    <div class="grouped-section">
                        {{#each this.settings.defaultRevealed.creature.first}}
                            <div class="form-group">
                                <label>{{this.name}}</label>
                                <div class="form-fields">
                                    <input type="checkbox" name="{{concat "settings.defaultRevealed.creature." this.key}}" {{checked this.value}} />
                                </div>
                            </div>
                        {{/each}}
                    </div>
                    <div class="grouped-section">
                        {{#each this.settings.defaultRevealed.creature.second}}
                            <div class="form-group">
                                <label>{{this.name}}</label>
                                <div class="form-fields">
                                    <input type="checkbox" name="{{concat "settings.defaultRevealed.creature." this.key}}" {{checked this.value}} />
                                </div>
                            </div>
                        {{/each}}
                    </div>
                    <div class="grouped-section">
                       {{#each this.settings.defaultRevealed.creature.third}}
                            <div class="form-group">
                                <label>{{this.name}}</label>
                                <div class="form-fields">
                                    <input type="checkbox" name="{{concat "settings.defaultRevealed.creature." this.key}}" {{checked this.value}} />
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>

            <div class="menu-grouper-container">
                <label class="pf2e-bestiary-clickable-icon" data-action="toggleDefaultRevealedNPCs">{{localize "PF2EBestiary.Menus.BestiaryIntegration.DefaultRevealed.NPC"}}</label>
                <div class="menu-grouper spaced">
                    <div class="grouped-section">
                        {{#each this.settings.defaultRevealed.npc.first}}
                            <div class="form-group">
                                <label>{{this.name}}</label>
                                <div class="form-fields">
                                    <input type="checkbox" name="{{concat "settings.defaultRevealed.npc." this.key}}" {{checked this.value}} />
                                </div>
                            </div>
                        {{/each}}
                    </div>

                    <div class="grouped-section">
                        {{#each this.settings.defaultRevealed.npc.second}}
                            <div class="form-group">
                                <label>{{this.name}}</label>
                                <div class="form-fields">
                                    <input type="checkbox" name="{{concat "settings.defaultRevealed.npc." this.key}}" {{checked this.value}} />
                                </div>
                            </div>
                        {{/each}}
                    </div>

                    <div class="grouped-section">
                        {{#each this.settings.defaultRevealed.npc.third}}
                            <div class="form-group">
                                <label>{{this.name}}</label>
                                <div class="form-fields">
                                    <input type="checkbox" name="{{concat "settings.defaultRevealed.npc." this.key}}" {{checked this.value}} />
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>

            <div class="menu-grouper-container">
                <label class="pf2e-bestiary-clickable-icon" data-action="toggleDefaultRevealedHazards">{{localize "PF2EBestiary.Menus.BestiaryIntegration.DefaultRevealed.Hazard"}}</label>
                <div class="menu-grouper spaced">
                    <div class="grouped-section">
                        {{#each this.settings.defaultRevealed.hazard.first}}
                            <div class="form-group">
                                <label>{{this.name}}</label>
                                <div class="form-fields">
                                    <input type="checkbox" name="{{concat "settings.defaultRevealed.hazard." this.key}}" {{checked this.value}} />
                                </div>
                            </div>
                        {{/each}}
                    </div>
                    <div class="grouped-section">
                        {{#each this.settings.defaultRevealed.hazard.second}}
                            <div class="form-group">
                                <label>{{this.name}}</label>
                                <div class="form-fields">
                                    <input type="checkbox" name="{{concat "settings.defaultRevealed.hazard." this.key}}" {{checked this.value}} />
                                </div>
                            </div>
                        {{/each}}
                    </div>
                    <div class="grouped-section">
                       {{#each this.settings.defaultRevealed.hazard.third}}
                            <div class="form-group">
                                <label>{{this.name}}</label>
                                <div class="form-fields">
                                    <input type="checkbox" name="{{concat "settings.defaultRevealed.hazard." this.key}}" {{checked this.value}} />
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>
    </fieldset> 

    <footer>
        <button data-action="save">{{localize "PF2EBestiary.Miscellaneous.Save"}}</button>
    </footer>
</div>