<span>
    {{#if this.invalid}}
        <button type="button" class="pf2e-bestiary-link">{{localize "Invalid Bestiary Link"}}</button>
    {{else}}
        <button type="button" class="pf2e-bestiary-link pf2e-bestiary-link-button" data-page="{{this.page}}">
            <i class="fa-spaghetti-monster-flying"></i>
            {{#if (and this.isGM (not (eq this.displayName this.name)))}}
                <span>{{this.displayName}}</span>
                <span data-visibility="gm">{{this.name}}</span>
            {{else}}
                <span>{{this.displayName}}</span>
            {{/if}}
            
        </button>
    {{/if}}
</span>