<div>
    <header>
        {{#if this.returnMessage}}
            <div class="return-container" data-action="returnButton">
                <i class="fa-solid fa-reply"></i>
                {{this.returnMessage}}
            </div>
        {{/if}}
    </header>
    <body>
            {{#if (not this.selected.type)}}
                <div class="bestiary-welcome">
                    <h3 class="title">Welcome to the Bestiary!</h3> 
                    <div class="sub-title">For Players</div>
                    <ul>
                        <li>Navigate between different creature types using the bookmarks on the left.</li>
                        <li class="bestiary-list-point">
                            <div>Add a macro to your hotbar with:</div>
                            <code>game.modules.get('pf2e-bestiary-tracking').macros.showMonster();</code>
                            <div>Select or target a monster and use the macro and you will go to its page in the bestiary.</div>
                        </li>
                    </ul>

                    <div class="sub-title">
                        <div>For GMs</div>
                        {{#if this.user.isGM}}<button class="bestiary-reset" data-action="resetBestiary" title="Reset Bestiary"><i class="fa-solid fa-link-slash"></i></button>{{/if}}
                    </div>
                    <ul>
                        <li>Add new creatures the players have encountered by dragging them into the bestiary.</li>
                        <li>Customize module behavior and the way monster information is shown in the module settings.</li>
                        <li>Toggle known information on individual monsters as the players learn information.</li>
                    </ul>
                </div>
            {{else}}
                {{#if this.selected.monster}}
                    {{#with this.selected.monster}}
                        {{> "modules/pf2e-bestiary-tracking/templates/partials/monsterView.hbs" selected=../selected user=../user vagueDescriptions=../vagueDescriptions }}
                    {{/with}}
                {{else}}
                    <div class="type-overview-container">
                        {{#if (eq (nrKeys this.openType) 0)}}
                            No {{this.selected.type}} encountered yet. Enjoy it while you can.
                        {{else}}
                            {{#each this.openType as |type key|}}
                                <div class="type-container" data-action="selectMonster" data-monster="{{key}}">
                                    <img src="{{type.img}}" />
                                    <div class="type-text-container">{{type.name}}</div>

                                    <i class="fa-solid fa-delete-left delete-button" data-action="removeMonster" data-monster="{{key}}"></i>
                                </div>
                            {{/each}}
                        {{/if}}
                    </div>
                {{/if}}
            {{/if}}
    </body>
    <div class="right-bookmark-container">
        {{#each bestiary.monster as |type key|}}
            <div class="bookmark{{#if (eq ../selected.type key)}} selected{{/if}}{{#if (eq (nrKeys type) 0)}} empty{{/if}}" data-action="selectBookmark" data-bookmark="{{key}}">
                {{key}}
            </div>
        {{/each}}
    </div>
</div>