<div class="menu-container standard-form">
    <fieldset class="menu-category">
        <legend><h4>{{localize "PF2EBestiary.Menus.BestiaryLabels.VagueDescriptions.Name"}}</h4></legend>

        <div class="section-header">
            <div>Full Labels</div>
            <i class="fa-solid fa-arrow-rotate-left pf2e-bestiary-clickable-icon" data-action="resetSection" data-path="vagueDescriptions.full" data-property="full"></i>
        </div>
        <div class="form-group">
            <label>{{localize "PF2EBestiary.Menus.BestiaryLabels.VagueDescriptions.FullOptions.Extreme"}}</label>
            <div class="form-fields">
                <div class="form-fields">
                    <input type="text" name="vagueDescriptions.full.extreme" value="{{localize settings.vagueDescriptions.full.extreme}}" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>{{localize "PF2EBestiary.Menus.BestiaryLabels.VagueDescriptions.FullOptions.High"}}</label>
            <div class="form-fields">
                <div class="form-fields">
                    <input type="text" name="vagueDescriptions.full.high" value="{{localize settings.vagueDescriptions.full.high}}" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>{{localize "PF2EBestiary.Menus.BestiaryLabels.VagueDescriptions.FullOptions.Moderate"}}</label>
            <div class="form-fields">
                <div class="form-fields">
                    <input type="text" name="vagueDescriptions.full.moderate" value="{{localize settings.vagueDescriptions.full.moderate}}" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>{{localize "PF2EBestiary.Menus.BestiaryLabels.VagueDescriptions.FullOptions.Low"}}</label>
            <div class="form-fields">
                <div class="form-fields">
                    <input type="text" name="vagueDescriptions.full.low" value="{{localize settings.vagueDescriptions.full.low}}" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>{{localize "PF2EBestiary.Menus.BestiaryLabels.VagueDescriptions.FullOptions.Terrible"}}</label>
            <div class="form-fields">
                <div class="form-fields">
                    <input type="text" name="vagueDescriptions.full.terrible" value="{{localize settings.vagueDescriptions.full.terrible}}" />
                </div>
            </div>
        </div>

        <div class="section-header">
            <div>Short Labels</div>
            <i class="fa-solid fa-arrow-rotate-left pf2e-bestiary-clickable-icon" data-action="resetSection" data-path="vagueDescriptions.short" data-property="short"></i>
        </div>
        <div class="form-group">
            <label>{{localize "PF2EBestiary.Menus.BestiaryLabels.VagueDescriptions.FullOptions.Extreme"}}</label>
            <div class="form-fields">
                <div class="form-fields">
                    <input type="text" name="vagueDescriptions.short.extreme" value="{{localize settings.vagueDescriptions.short.extreme}}" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>{{localize "PF2EBestiary.Menus.BestiaryLabels.VagueDescriptions.FullOptions.High"}}</label>
            <div class="form-fields">
                <div class="form-fields">
                    <input type="text" name="vagueDescriptions.short.high" value="{{localize settings.vagueDescriptions.short.high}}" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>{{localize "PF2EBestiary.Menus.BestiaryLabels.VagueDescriptions.FullOptions.Moderate"}}</label>
            <div class="form-fields">
                <div class="form-fields">
                    <input type="text" name="vagueDescriptions.short.moderate" value="{{localize settings.vagueDescriptions.short.moderate}}" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>{{localize "PF2EBestiary.Menus.BestiaryLabels.VagueDescriptions.FullOptions.Low"}}</label>
            <div class="form-fields">
                <div class="form-fields">
                    <input type="text" name="vagueDescriptions.short.low" value="{{localize settings.vagueDescriptions.short.low}}" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>{{localize "PF2EBestiary.Menus.BestiaryLabels.VagueDescriptions.FullOptions.Terrible"}}</label>
            <div class="form-fields">
                <div class="form-fields">
                    <input type="text" name="vagueDescriptions.short.terrible" value="{{localize settings.vagueDescriptions.short.terrible}}" />
                </div>
            </div>
        </div>
    </fieldset>
  
    <footer>
        <button data-action="save">{{localize "PF2EBestiary.Miscellaneous.Save"}}</button>
    </footer>
</div>