<div class="primary-text-container">
    {{#if this.selected.type}}
        <header class="bestiary-header">
            <div class="return-container" data-action="returnButton" data-context-type="{{this.selected.type}}">
                <i class="fa-solid fa-reply"></i>
                {{this.returnLabel}}
            </div>
            {{#if (not this.selected.monster)}}
                <div class="bestiary-toolbar">
                    <div class="bestiary-layout-settings secondary-container">
                        <i class="fa-solid fa-table-cells-large primary-hover-container {{#if (eq this.layout.categories.layout 0)}}selected{{/if}}" data-action="setCategoriesLayout" data-option="0"></i>
                        <i class="fa-solid fa-table-cells primary-hover-container {{#if (eq this.layout.categories.layout 1)}}selected{{/if}}" data-action="setCategoriesLayout" data-option="1"></i>
                        <i class="fa-solid fa-maximize primary-hover-container {{#if (eq this.layout.categories.layout 2)}}selected{{/if}}" data-action="setCategoriesLayout" data-option="2"></i>
                    </div>
                    <div class="bestiary-filter-container secondary-container">
                        <i class="primary-hover-container fa-solid {{#if (eq this.layout.categories.filter.direction 0)}}fa-arrow-up-z-a{{else}}fa-arrow-down-z-a{{/if}}" data-action="toggleFilterDirection"></i>
                    </div>
                    <div class="bestiary-search-container">
                        <i class="fa-solid fa-magnifying-glass search-icon"></i>
                        <input class="secondary-container" type="text" name="search.name" value="{{this.search.name}}" />
                        {{#if search.name}}<i class="fa-solid fa-circle-xmark clear-icon primary-hover-container" data-action="clearSearch"></i>{{/if}}
                    </div>
                </div>
            {{/if}}
        </header>
    {{/if}}
    <body>
        {{#if (not this.selected.type)}}
            <h2 class="bestiary-title primary-border-container">{{localize "PF2EBestiary.Bestiary.Welcome.Greeting"}}</h2> 
            <div class="bestiary-main-page">
                <div class="main-page-category-container">
                    <div class="main-page-category-card">
                        <div class="main-page-category-image-container primary-hover-container {{#if (eq this.selected.category 'pf2e-bestiary-tracking.creature')}}secondary-border-container{{else}}primary-border-container{{/if}}" data-action="selectCategory" data-category="pf2e-bestiary-tracking.creature">
                            <img src="{{this.categorySettings.creature.image}}" />
                            <h4 class="main-page-category-label primary-container">{{localize this.categorySettings.creature.name}}</h4>
                        </div>
                    </div>
                    <div class="main-page-category-card">
                        <div class="main-page-category-image-container primary-hover-container {{#if (eq this.selected.category 'pf2e-bestiary-tracking.npc')}}secondary-border-container{{else}}primary-border-container{{/if}}" data-action="selectCategory" data-category="pf2e-bestiary-tracking.npc">
                            <img src="{{this.categorySettings.npc.image}}" />
                            <h4 class="main-page-category-label primary-container">{{localize this.categorySettings.npc.name}}</h4>
                        </div>
                    </div>
                    <div class="main-page-category-card">
                        <div class="main-page-category-image-container primary-hover-container {{#if (eq this.selected.category 'pf2e-bestiary-tracking.hazard')}}secondary-border-container{{else}}primary-border-container{{/if}}" data-action="selectCategory" data-category="pf2e-bestiary-tracking.hazard">
                            <img src="{{this.categorySettings.hazard.image}}" />
                            <h4 class="main-page-category-label primary-container inactive">{{localize this.categorySettings.hazard.name}}</h4>
                        </div>
                    </div>
                </div>
                {{#if (and this.user.isGM (eq this.selected.category 'pf2e-bestiary-tracking.npc'))}}
                    <div style="margin-top: 8px;">{{localize "PF2EBestiary.Bestiary.NPC.NPCCategoryDescription"}}</div>
                    <div class="category-container">
                        <div class="category-section flexrow">
                            <div class="category-label flex0">{{localize "PF2EBestiary.Bestiary.NPC.NewCategory"}}</div>
                            <input "data-container" type="text" name="npcData.newCategory.text" value="{{this.npcState.newCategory.text}}" />
                            <button data-action="addNpcCategory" {{#if (not this.npcState.newCategory.text)}}disabled{{/if}}><i class="fa-solid fa-plus"></i>{{localize "PF2EBestiary.Miscellaneous.Add"}}</button>
                        </div>
                    </div>
                {{/if}}
                <div class="bestiary-info-container flexrow">
                    <div class="bestiary-welcome flex1">
                        <div class="sub-title">{{localize "PF2EBestiary.Bestiary.Welcome.PlayersSection.Title"}}</div>
                        <ul>
                            <li>{{localize "PF2EBestiary.Bestiary.Welcome.PlayersSection.NavigationTip"}}</li>
                            <li>{{localize "PF2EBestiary.Bestiary.Welcome.PlayersSection.MacroTip"}}</li>
                        </ul>

                        <div class="sub-title">
                            <div>{{localize "PF2EBestiary.Bestiary.Welcome.GMsSection.Title"}}</div>
                        </div>
                        <ul>
                            <li>{{localize "PF2EBestiary.Bestiary.Welcome.GMsSection.AddCreaturesTip"}}</li>
                            <li>{{localize "PF2EBestiary.Bestiary.Welcome.GMsSection.ModuleSettingsTip"}}</li>
                            <li><span class="pf2e-bestiary-bold">{{localize "PF2EBestiary.Bestiary.Miscellaneous.LeftClick"}}:&nbsp;</span>{{localize "PF2EBestiary.Bestiary.Welcome.GMsSection.ToggleInformationTip"}}</li>
                            <li><span class="pf2e-bestiary-bold">{{localize "PF2EBestiary.Bestiary.Miscellaneous.RightClick"}}:&nbsp;</span>{{localize "PF2EBestiary.Bestiary.Welcome.GMsSection.ToggleMisinformationTip"}}</li>
                        </ul>
                    </div>
                    {{#if (or this.user.isGM this.recallKnowledgeJournal)}}
                        <div class="recall-knowledge-container secondary-border-container {{#if (not this.recallKnowledgeJournal)}}empty{{/if}}" {{#if (not this.recallKnowledgeJournal)}}title="{{localize "PF2EBestiary.Bestiary.Welcome.GMsSection.RecallKnowledgeJournalMissing"}}"{{/if}}>
                            <div class="main-page-category-card">
                                <div class="main-page-category-image-container secondary-border-container {{#if this.recallKnowledgeJournal}}primary-hover-container{{/if}}" {{#if this.recallKnowledgeJournal}}data-action="openDocument"{{/if}} data-uuid="{{this.recallKnowledgeJournal}}">
                                    <img src="icons/sundries/books/book-embossed-bound-brown.webp" />
                                    <h4 class="main-page-category-label primary-container">{{localize "PF2EBestiary.Bestiary.Welcome.GMsSection.RecallKnowledgeRulesTitle"}}</h4>
                                    {{#if (and this.user.isGM this.recallKnowledgeJournal)}}<i class="recall-knowledge-unlink-icon fa-solid fa-link-slash primary-hover-container" data-action="removeRecallKnowledgeJournal"></i>{{/if}}
                                </div>
                            </div>
                            {{#if (not this.recallKnowledgeJournal)}}<i class="recall-knowledge-empty-icon fa-solid fa-link-slash"></i>{{/if}}
                        </div>
                    {{/if}}
                </div>
            </div>
        {{else}}
            {{#if this.selected.monster}}
                {{#if (and this.selected.monster.system.npcData this.npcState.npcView)}}
                    {{#with this.selected.monster.system.npcData}}
                        {{> "modules/pf2e-bestiary-tracking/templates/partials/npcView.hbs" 
                            creatureData=../selected.monster
                            selected=../selected 
                            user=../user 
                            useTokenArt=../useTokenArt 
                            tabs=../npcTabs
                            contrastRevealedState =../contrastRevealedState 
                            optionalFields=../optionalFields 
                            npcState=../npcState
                            dispositions=../dispositions
                            inputCategories=../inputCategories
                            partyDispositions=../selected.monster.system.partyDispositions
                            skillTypes=../skillTypes
                            players=../players
                        }}
                    {{/with}}
                {{else}}
                    {{#if (or (eq this.selected.category 'pf2e-bestiary-tracking.creature') (and (eq this.selected.category 'pf2e-bestiary-tracking.npc') (not this.npcState.npcView)))}}
                        {{#with this.selected.monster}}
                            {{> "modules/pf2e-bestiary-tracking/templates/partials/monsterView.hbs" 
                                uuid=this.uuid
                                selected=../selected 
                                user=../user 
                                vagueDescriptions=../vagueDescriptions
                                gmNumeric=../vagueDescriptions.settings.gmNumeric 
                                tabs=../tabs 
                                useTokenArt=../useTokenArt 
                                hideAbilityDescriptions=../hideAbilityDescriptions
                                optionalFields=../optionalFields 
                                contrastRevealedState =../contrastRevealedState 
                                detailedInformation = ../detailedInformation
                                npcState=../npcState
                            }}
                        {{/with}}
                    {{else}}
                        {{#with this.selected.monster}}
                            {{> "modules/pf2e-bestiary-tracking/templates/partials/hazardView.hbs" 
                                uuid=this.uuid
                                selected=../selected 
                                user=../user 
                                vagueDescriptions=../vagueDescriptions
                                gmNumeric=../vagueDescriptions.settings.gmNumeric 
                                tabs=../tabs 
                                useTokenArt=../useTokenArt 
                                hideAbilityDescriptions=../hideAbilityDescriptions
                                optionalFields=../optionalFields 
                                contrastRevealedState =../contrastRevealedState 
                                detailedInformation = ../detailedInformation
                                npcState=../npcState
                            }}
                        {{/with}}
                    {{/if}}

                {{/if}}
            {{else}}
                <div class="type-overview-container">
                    {{#if (eq this.bookmarkEntities.length 0)}}
                        {{#if (eq this.selected.type 'unknown')}}
                            {{localize "PF2EBestiary.Bestiary.CategoryView.UnknownText"}}
                        {{else}}
                            {{#if (eq this.selected.type 'unaffiliated')}}
                                {{localize "PF2EBestiary.Bestiary.CategoryView.UnaffiliatedText"}}
                            {{else}}
                                {{this.typeTitle}}
                            {{/if}}
                        {{/if}}
                    {{else}}
                        {{#each this.bookmarkEntities}}
                            <div class="type-container primary-container {{#if (eq ../layout.categories.layout 1)}}trio{{/if}}{{#if (eq ../layout.categories.layout 2)}}quarter{{/if}}" data-action="selectMonster" data-monster="{{this.id}}">
                                <img class="monster-image {{PF2EBTImageState ../user this.hideState}}" src="{{this.img}}" />
                                <div class="type-text-container">
                                    {{#if ../user.isGM}}
                                        {{this.name.value}}
                                    {{else}}
                                        {{#if this.name.revealed}}
                                            {{PF2EBTTertiary this.name.custom this.name.value}}
                                        {{else}}
                                            {{localize "PF2EBestiary.Bestiary.Miscellaneous.UnknownCreature"}}
                                        {{/if}}
                                    {{/if}}
                                </div>

                                {{#if ../user.isGM}}
                                    <i class="{{#if this.hidden}}fa-solid fa-eye-slash{{else}}fa-solid fa-eye{{/if}} toggle-hide-button primary-hover-container" data-action="toggleHideMonster" data-id="{{this.id}}"></i>
                                    <i class="fa-solid fa-delete-left delete-button primary-hover-container" data-action="removeMonster" data-monster="{{this.id}}"></i>
                                {{/if}}
                            </div>
                        {{/each}}
                    {{/if}}
                </div>
            {{/if}}
        {{/if}}
    </body>
    <div class="right-bookmark-container">
        {{#each bookmarks}}
            <div class="bookmark-container {{#if (and (eq ../selected.category 'pf2e-bestiary-tracking.npc') (not (eq this.value 'unaffiliated')))}}draggable{{/if}}">
                <div 
                    class="bookmark {{#if (eq ../selected.category 'pf2e-bestiary-tracking.npc')}}npc{{/if}} primary-container {{#if (eq ../selected.type this.value)}} active expanded{{/if}}{{#if (eq (PF2EBTNrKeys this.values) 0)}} empty{{else}} active{{/if}} {{#if (and this.startIcon this.endIcon)}}icons{{/if}}" 
                    data-action="selectBookmark" 
                    data-bookmark="{{this.value}}"
                    data-bookmark-name="{{this.name}}"
                    data-position="{{this.position}}"
                >
                    {{#if this.startIcon}}<i class="{{this.startIcon}}"></i>{{/if}}
                    {{this.name}}
                    {{#if this.endIcon}}<i class="{{this.endIcon}}"></i>{{/if}}
                </div>
                {{#if (and ../user.isGM (and (and (not (eq this.value 'unaffiliated')) (not (eq this.value 'combat'))) (eq ../selected.category 'pf2e-bestiary-tracking.npc')))}}
                    <i class="hide-icon {{#if this.hidden}}fa-solid fa-eye-slash visible{{else}}fa-solid fa-eye{{/if}} primary-hover-container" data-action="toggleHideNPCCategory" data-category="{{this.value}}"></i>
                {{/if}}
            </div>
        {{/each}}
    </div>
</div>