<div>
    <div class="menu-container standard-form">
        <fieldset class="menu-section">
            <legend>
                <h4 class="actor-links-title flexrow">{{localize "Linked Actors"}}</h4>
            </legend>
            <div class="actor-links-container">
                {{#each actorLinks}}
                    <div class="actor-link-container {{#if this.unlinked}}unlinked{{/if}} {{#if this.active}}active{{/if}}" data-action="selectActorLink" data-actor="{{this.actor}}" data-page="{{this.page}}">
                        <div class="actor-link-labels">
                            <div>{{this.name}}</div>
                            <div>
                                {{#if (not this.current)}}<i class="name-pre-icon fa-solid fa-circle-xmark pf2e-bestiary-clickable-icon" data-action="removeActorLink" data-actor="{{this.actor}}" data-page="{{this.page}}"></i>{{/if}}
                                {{localize "Level"}} {{this.level}}{{#if this.active}}
                                <i class="name-post-icon fa-solid fa-star"></i>{{/if}}
                            </div>
                        </div>
                        {{#if this.unlinked}}
                            <div class="icon-container">
                                <div class="link-new-text">{{localize "PF2EBestiary.LinkMenu.NewLinkTip"}}</div>
                                <i class="fa-solid fa-link-slash"></i>
                            </div>
                        {{else}}
                            <img src="{{this.img}}" />
                        {{/if}}
                    </div>
                {{/each}}
                <div class="actor-link-container new">
                    <div class="actor-link-labels">
                        <div>{{localize "PF2EBestiary.LinkMenu.NewLink"}}</div>
                        <div>&nbsp;</div>
                    </div>
                    
                    <div class="icon-container">
                        <div class="link-new-text">{{localize "PF2EBestiary.LinkMenu.NewLinkTip"}}</div>
                        <i class="fa-solid fa-plus"></i>
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset class="menu-section duplicate-section">
            <legend>
                <h4 class="actor-links-title flexrow">
                    <span>{{localize "Duplicate Actors"}}</span>
                    <button class="flex0" data-action="importDuplicates"><i class="fa-solid fa-spaghetti-monster-flying"></i> Import</button>
                </h4>
            </legend>

            <div class="duplicate-container">
                <div class="duplicate-row">
                    <div>{{#if (eq (PF2EBTNrKeys this.duplicates) 0)}}{{localize "No duplicates. Drag in actors or import."}}{{else}}{{localize "PF2EBestiary.LinkMenu.DuplicatesLinkedInfo" nr=(PF2EBTNrKeys this.duplicates)}}{{/if}}</div>
                    <i class="fa-solid {{#if this.duplicateListOpen}}fa-chevron-down{{else}}fa-chevron-up{{/if}} pf2e-bestiary-clickable-icon" data-action="toggleDuplicateList"></i>
                </div>
                <div class="duplicate-list {{#if this.duplicateListOpen}}expanded{{/if}}">
                    {{#each this.duplicates}}
                        <div class="duplicate-list-row">
                            <div class="flexrow">
                                <span class="duplicate-name flex0">{{this.name}}</span>
                                {{#if this.folderPath}}
                                    &nbsp;-&nbsp;
                                    <span>{{this.folderPath}}</span>
                                {{/if}}
                            </div>
                            <i class="fa-solid fa-circle-xmark pf2e-bestiary-clickable-icon" data-action="removeDuplicate" data-duplicate="{{@key}}"></i>
                        </div>
                    {{/each}}
                </div>
            </div>
        </fieldset>

        <footer class="flexrow">
            <button data-action="save">{{localize "PF2EBestiary.Miscellaneous.Save"}}</button>
            <button data-action="close">{{localize "PF2EBestiary.Miscellaneous.Close"}}</button>
        </footer>
    </div>
</div>