<div class="flexcol">
    <fieldset class="menu-category">
        <legend class="pf2e-bestiary-clickable-icon" data-action="toggleSection" data-section="properties">
            <h4>{{localize "PF2EBestiary.Menus.VagueDescriptions.Menu.Sections.Properties.Title"}}</h4>
        </legend>

        <div class="form-group underlined">
            <label>{{localize "PF2EBestiary.Menus.VagueDescriptions.Menu.Options.AC"}}</label>
            <div class="form-fields">
                <div class="form-fields">
                    <input type="checkbox" name="settings.properties.ac" {{checked settings.properties.ac}} />
                </div>
            </div>
        </div>
        <div class="form-group underlined">
            <label>{{localize "PF2EBestiary.Menus.VagueDescriptions.Menu.Options.HP"}}</label>
            <div class="form-fields">
                <div class="form-fields">
                    <input type="checkbox" name="settings.properties.hp" {{checked settings.properties.hp}} />
                </div>
            </div>
        </div>
        <div class="form-group underlined">
            <label>{{localize "PF2EBestiary.Menus.VagueDescriptions.Menu.Options.Resistances"}}</label>
            <div class="form-fields">
                <div class="form-fields">
                    <input type="checkbox" name="settings.properties.resistances" {{checked settings.properties.resistances}} />
                </div>
            </div>
        </div>
        <div class="form-group underlined">
            <label>{{localize "PF2EBestiary.Menus.VagueDescriptions.Menu.Options.Weaknesses"}}</label>
            <div class="form-fields">
                <div class="form-fields">
                    <input type="checkbox" name="settings.properties.weaknesses" {{checked settings.properties.weaknesses}} />
                </div>
            </div>
        </div>
        <div class="form-group underlined">
            <label>{{localize "PF2EBestiary.Menus.VagueDescriptions.Menu.Options.Saves"}}</label>
            <div class="form-fields">
                <div class="form-fields">
                    <input type="checkbox" name="settings.properties.saves" {{checked settings.properties.saves}} />
                </div>
            </div>
        </div>
        <div class="form-group underlined">
            <label>{{localize "PF2EBestiary.Menus.VagueDescriptions.Menu.Options.Perception"}}</label>
            <div class="form-fields">
                <div class="form-fields">
                    <input type="checkbox" name="settings.properties.perception" {{checked settings.properties.perception}} />
                </div>
            </div>
        </div>
        <div class="form-group underlined">
            <label>{{localize "PF2EBestiary.Menus.VagueDescriptions.Menu.Options.Speed"}}</label>
            <div class="form-fields">
                <div class="form-fields">
                    <input type="checkbox" name="settings.properties.speed" {{checked settings.properties.speed}} />
                </div>
            </div>
        </div>
        <div class="form-group underlined">
            <label>{{localize "PF2EBestiary.Menus.VagueDescriptions.Menu.Options.Attributes"}}</label>
            <div class="form-fields">
                <div class="form-fields">
                    <input type="checkbox" name="settings.properties.attributes" {{checked settings.properties.attributes}} />
                </div>
            </div>
        </div>
        <div class="form-group underlined">
            <label>{{localize "PF2EBestiary.Menus.VagueDescriptions.Menu.Options.Skills"}}</label>
            <div class="form-fields">
                <div class="form-fields">
                    <input type="checkbox" name="settings.properties.skills" {{checked settings.properties.skills}} />
                </div>
            </div>
        </div>
        <div class="form-group underlined">
            <label>{{localize "PF2EBestiary.Menus.VagueDescriptions.Menu.Options.Attacks"}}</label>
            <div class="form-fields">
                <div class="form-fields">
                    <input type="checkbox" name="settings.properties.attacks" {{checked settings.properties.attacks}} />
                </div>
            </div>
        </div>
        <div class="form-group underlined">
            <label>{{localize "PF2EBestiary.Menus.VagueDescriptions.Menu.Options.Damage"}}</label>
            <div class="form-fields">
                <div class="form-fields">
                    <input type="checkbox" name="settings.properties.damage" {{checked settings.properties.damage}} />
                </div>
            </div>
        </div>
        <div class="form-group underlined">
            <label>{{localize "PF2EBestiary.Menus.VagueDescriptions.Menu.Options.Spells"}}</label>
            <div class="form-fields">
                <div class="form-fields">
                    <input type="checkbox" name="settings.properties.spells" {{checked settings.properties.spells}} />
                </div>
            </div>
        </div>
    </fieldset>

    <fieldset class="menu-category">
        <legend class="pf2e-bestiary-clickable-icon" data-action="toggleSection" data-section="settings">
            <h4>{{localize "PF2EBestiary.Menus.VagueDescriptions.Menu.Sections.Settings.Title"}}</h4>
        </legend>

        <div class="form-group underlined">
            <label>{{localize "PF2EBestiary.Menus.VagueDescriptions.Menu.Options.PlayerBased"}}</label>
            <div class="form-fields">
                <div class="form-fields">
                    <input type="checkbox" name="settings.settings.playerBased" {{checked settings.settings.playerBased}} />
                </div>
            </div>
        </div>
        <div class="form-group underlined">
            <label>{{localize "PF2EBestiary.Menus.VagueDescriptions.Menu.Options.MisinformationOptions"}}</label>
            <div class="form-fields">
                <div class="form-fields">
                    <input type="checkbox" name="settings.settings.misinformationOptions" {{checked settings.settings.misinformationOptions}} />
                </div>
            </div>
        </div>
    </fieldset>
    <footer>
        <button data-action="save">{{localize "PF2EBestiary.Miscellaneous.Save"}}</button>
    </footer>
</div>