<div class="flexcol">
    <div class="form-group">
        <label>{{localize "PF2EBestiary.Menus.VagueDescriptions.Menu.Options.AC"}}</label>
        <div class="form-fields">
            <div class="form-fields">
                <input type="checkbox" name="ac" {{checked settings.ac}} />
            </div>
        </div>
    </div>
    <div class="form-group">
        <label>{{localize "PF2EBestiary.Menus.VagueDescriptions.Menu.Options.HP"}}</label>
        <div class="form-fields">
            <div class="form-fields">
                <input type="checkbox" name="hp" {{checked settings.hp}} />
            </div>
        </div>
    </div>
    <div class="form-group">
        <label>{{localize "PF2EBestiary.Menus.VagueDescriptions.Menu.Options.Resistances"}}</label>
        <div class="form-fields">
            <div class="form-fields">
                <input type="checkbox" name="resistances" {{checked settings.resistances}} />
            </div>
        </div>
    </div>
    <div class="form-group">
        <label>{{localize "PF2EBestiary.Menus.VagueDescriptions.Menu.Options.Weaknesses"}}</label>
        <div class="form-fields">
            <div class="form-fields">
                <input type="checkbox" name="weaknesses" {{checked settings.weaknesses}} />
            </div>
        </div>
    </div>
    <div class="form-group">
        <label>{{localize "PF2EBestiary.Menus.VagueDescriptions.Menu.Options.Saves"}}</label>
        <div class="form-fields">
            <div class="form-fields">
                <input type="checkbox" name="saves" {{checked settings.saves}} />
            </div>
        </div>
    </div>
    <div class="form-group">
        <label>{{localize "PF2EBestiary.Menus.VagueDescriptions.Menu.Options.Perception"}}</label>
        <div class="form-fields">
            <div class="form-fields">
                <input type="checkbox" name="perception" {{checked settings.perception}} />
            </div>
        </div>
    </div>
    <div class="form-group main-setting">
        <label>{{localize "PF2EBestiary.Menus.VagueDescriptions.Menu.Options.PlayerBased"}}</label>
        <div class="form-fields">
            <div class="form-fields">
                <input type="checkbox" name="playerBased" {{checked settings.playerBased}} />
            </div>
        </div>
    </div>
    <footer>
        <button>Save</button>
    </footer>
</div>